@font-face {
  font-family: din-2014, sans-serif;
}
.navbar a.navbar-brand {
  background: url(/static/img/BCSEEvergreen2019.png) center / contain no-repeat;
  width: 250px;
  height: 50px;
}
.navbar .navbar-nav {
  gap: 1em;
}
.navbar .navbar-nav li a {
  font-weight: bold !important;
  color: #766A65 !important;
  font-size: 1em !important;
  letter-spacing: 0.5px;
  padding: 0.5em 1em;
  text-transform: uppercase;
}
.navbar .navbar-nav li.active > a {
  border-bottom: 3px solid #4e2a84;
}
.anniversary_banner {
  background-color: #4e2a84;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  font-weight: 500;
}
body {
  font-family: din-2014, sans-serif !important;
  /* header alignment */
}
body div.content {
  padding: 0 10%;
}
body div.content div.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
body div.content div#reservation_container {
  display: flex;
  justify-content: space-between;
}
body div.content div#reservation_container div.reservation_form {
  flex: 0 0 45%;
}
body div.content div#reservation_container div.availability_calendar {
  flex: 0 0 45%;
}
body div.content div#reservation_container div.availability_calendar table.calendar td.selected_date {
  background-color: orange;
}
body div.content div#reservation_container div.availability_calendar table.calendar td div.available {
  background-color: lightgreen;
}
body div.content div#reservation_container div.availability_calendar table.calendar td div.unavailable {
  background-color: red;
}
body div.content div#user_profile_container {
  display: flex;
  justify-content: space-between;
}
body div.content div#user_profile_container div.image {
  flex: 0 0 10%;
}
body div.content div#user_profile_container div.about {
  flex: 0 0 50%;
}
body div.content div#user_profile_container div.about > div {
  display: flex;
  justify-content: space-between;
}
body div.content div#user_profile_container div.work_place {
  flex: 0 0 30%;
}
body div.content div#user_profile_container div.work_place > div {
  display: flex;
  justify-content: space-between;
}
body div.content div.workshop_container > div {
  margin-bottom: 1em;
}
body div.content div.workshop_container div.workshop_header {
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1;
}
body div.content div.workshop_container div.workshop_header div.workshop_image {
  width: 30%;
}
body div.content div.workshop_container div.workshop_header div.workshop_image img {
  max-width: 100%;
}
body div.content div.workshop_container div.workshop_header div.workshop_info {
  flex-grow: 1;
}
body div.content div.workshop_container div.teacher_leader_info {
  display: flex;
}
body div.content div.workshop_container div.teacher_leader_info div.teacher_leader_image {
  flex: 0 0 20%;
}
body div.content div.workshop_container div.teacher_leader_info div.teacher_leader_details {
  flex: 0 0 75%;
}
body div.content div.workshops_container div.workshop_container {
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  margin: 2em 0;
}
body div.content div.workshops_container div.workshop_container div.workshop_header {
  border: unset;
}
body div#spinner {
  display: none;
}
body .center {
  text-align: center;
}
body .left {
  text-align: left;
}
body .right {
  text-align: right;
}
body form .form-group label {
  font-weight: bold;
}
body form .form-group label .required {
  color: red;
}
body form .form-group .django-ckeditor-widget {
  width: 100%;
}
