table.calendar {
  border: 1px solid black;
}
table.calendar td {
  border: 1px solid black;
}
table.calendar td.selected_date {
  background-color: orange;
}
table.calendar td li.available {
  color: green;
}
table.calendar td li.unavailable {
  color: red;
}
