.navbar a.navbar-brand {
  background: url(/static/img/BCSEEvergreen2019.png) center / contain no-repeat;
  width: 150px;
}
body {
  padding: 0 5%;
}
form input:not([type='checkbox']),
form textarea,
form select {
  width: auto !important;
}
div#reservation_container {
  display: flex;
  justify-content: space-between;
}
div#reservation_container div.reservation_form {
  flex: 0 0 25%;
}
div#reservation_container div.availability_calendar {
  flex: 0 0 70%;
}
div#reservation_container div.availability_calendar table.calendar td.selected_date {
  background-color: orange;
}
div#reservation_container div.availability_calendar table.calendar td div.available {
  background-color: lightgreen;
}
div#reservation_container div.availability_calendar table.calendar td div.unavailable {
  background-color: red;
}
