@font-face {
  font-family: din-2014, sans-serif;
}
.navbar a.navbar-brand {
  background: url(/static/img/BCSEEvergreen2019.png) center / contain no-repeat;
  width: 250px;
  height: 50px;
}
.navbar .navbar-nav {
  gap: 1em;
}
.navbar .navbar-nav li a {
  font-weight: bold !important;
  color: #766A65 !important;
  font-size: 1em !important;
  letter-spacing: 0.5px;
  padding: 0.5em 1em;
  text-transform: uppercase;
}
.navbar .navbar-nav li.active > a {
  border-bottom: 3px solid #4e2a84;
}
.anniversary_banner {
  background-color: #4e2a84;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  font-weight: 500;
}
/* ----------- smartphone ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 667px) {
  body {
    font-size: 10px !important;
  }
}
@media only screen and (min-width: 668px) and (max-width: 767px) {
  body {
    font-size: 11px !important;
  }
}
/* ----------- tablet ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 12px !important;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  body {
    font-size: 13px !important;
  }
}
/* ----------- laptop and desktop ----------- */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  body {
    font-size: 14px !important;
  }
}
@media screen and (min-width: 1601px) and (max-width: 1919px) {
  body {
    font-size: 15px !important;
  }
}
/* ----------- larger screens ----------- */
@media screen and (min-width: 1920px) {
  body {
    font-size: 16px !important;
  }
}
body {
  font-family: din-2014, sans-serif !important;
  /* header alignment */
}
body h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 1em;
  font-size: 3em;
  color: #000000;
  margin-bottom: 0.75em;
  hyphens: none !important;
  -webkit-hyphens: none !important;
  text-align: center !important;
}
body h2 {
  font-weight: 600 !important;
  /* semi bold */
  font-size: 1.75em !important;
  line-height: 1.3 !important;
  color: #4e2a84 !important;
  /* baxter purple */
  hyphens: none !important;
  -webkit-hyphens: none !important;
  text-align: left !important;
}
body h3 {
  font-weight: 600 !important;
  /* semi bold */
  font-size: 1.5em !important;
  color: #000000;
  /* black */
}
body h3.subtitle {
  font-weight: 500 !important;
  text-transform: uppercase;
  color: #4e2a84 !important;
  /* baxter purple */
}
body h4 {
  font-weight: 400 !important;
  /* bold */
  font-size: 1.25em !important;
  color: #000000;
  /* BLACK */
  hyphens: none !important;
  -webkit-hyphens: none !important;
}
body a {
  color: inherit;
  text-decoration: unset;
}
body .btn {
  font-family: din-2014, sans-serif !important;
  font-weight: bold !important;
  font-size: 1em !important;
  color: #ffffff !important;
  text-transform: uppercase !important;
  width: auto !important;
  min-width: 8em !important;
  padding: 0.5em 1em !important;
  background-color: #58AA18 !important;
  border: 4px solid #00C8B4 !important;
}
body div.content {
  padding: 0 10% 40px;
  background: linear-gradient(#ffffff 0%, #9380B6 100%) !important;
}
body div.content div.container {
  background-color: white;
  padding-bottom: 4em;
}
body div.content div.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
body div.content div#reservation_container {
  display: flex;
  justify-content: space-between;
}
body div.content div#reservation_container div.reservation_form {
  flex: 0 0 45%;
}
body div.content div#reservation_container div.availability_calendar {
  flex: 0 0 45%;
}
body div.content div#reservation_container div.availability_calendar table.calendar td.selected_date {
  background-color: orange;
}
body div.content div#reservation_container div.availability_calendar table.calendar td div.available {
  background-color: lightgreen;
}
body div.content div#reservation_container div.availability_calendar table.calendar td div.unavailable {
  background-color: red;
}
body div.content div#user_profile_container {
  display: flex;
  justify-content: space-between;
}
body div.content div#user_profile_container div.image {
  flex: 0 0 10%;
}
body div.content div#user_profile_container div.about {
  flex: 0 0 50%;
}
body div.content div#user_profile_container div.about > div {
  display: flex;
  justify-content: space-between;
}
body div.content div#user_profile_container div.work_place {
  flex: 0 0 30%;
}
body div.content div#user_profile_container div.work_place > div {
  display: flex;
  justify-content: space-between;
}
body div.content div.workshops_container div.workshop_container {
  margin-bottom: 2em;
}
body div.content div.workshop_container .tile.workshop_header {
  margin-bottom: 1em;
}
body div.content div.workshop_container .workshop_content {
  margin-bottom: 1em;
}
body div.content div.workshop_container div.teacher_leader_info {
  display: flex;
  gap: 1em;
}
body div.content div.workshop_container div.teacher_leader_info div.teacher_leader_image {
  flex: 0 0 20%;
}
body div.content div.workshop_container div.teacher_leader_info div.teacher_leader_image img {
  width: 100%;
  border-radius: 50%;
}
body div.content div.workshop_container div.teacher_leader_info div.teacher_leader_details {
  flex: 0 0 75%;
}
body div#spinner {
  display: none;
}
body .center {
  text-align: center;
}
body .left {
  text-align: left;
}
body .right {
  text-align: right;
}
body form .form-group label {
  font-weight: bold;
}
body form .form-group label .required {
  color: red;
}
body form .form-group .django-ckeditor-widget {
  width: 100%;
}
body .tile {
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
body .tile .image {
  flex: 0 0 25%;
  position: relative;
  padding: 1em;
}
body .tile .image img {
  width: 100%;
  height: auto;
}
body .tile .details {
  flex: 0 0 50%;
  padding: 1em;
}
body .tile .date_location {
  flex: 0 0 25%;
  padding: 1em;
  border-left: 1px dashed #E4E0EE;
}
body .tile .date_location .fab,
body .tile .date_location .far,
body .tile .date_location .fas {
  font-size: 1.5em;
  color: #4e2a84;
  margin-right: 0.5em;
}
body .tile .date_location div.start,
body .tile .date_location div.end,
body .tile .date_location div.location,
body .tile .date_location div.message {
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 1.1em;
}
@media only screen and (max-width: 767px) {
  body .tile {
    display: block;
  }
}
footer .partners {
  background-color: #E4E0EE;
  padding: 1.5em 5%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .partners .partner {
  vertical-align: middle;
}
footer .partners .partner img {
  max-width: 100%;
  position: relative;
}
footer .partners .partner.baxter {
  flex: 0 0 30%;
}
footer .partners .partner.ocep {
  flex: 0 0 20%;
}
footer .partners .partner.lmsa {
  flex: 0 0 10%;
}
footer .partners .partner.rlhs {
  flex: 0 0 10%;
}
footer .credits {
  background-color: #4e2a84;
  color: white;
  padding: 1em 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .credits .credit {
  flex: 0 0 33%;
}
footer .credits .credit.social {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
footer .credits .credit a {
  color: inherit;
}
