{% extends "bcse_app/base.html" %}
{% load base_extras %}
{% load bcse_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
    <div class="about_us container">
      <div class="case_study">
        <h1>The Baxter Center Case Study & Partnership Toolkit</h1>

        <img class="curve left" alt="" src="{% staticfile 'img/case_study2.jpeg' %}">
        <h2>Promising Practices in Corporate-School-University Partnerships</h2>
        <p class="callout">This case study highlights promising practices for building effective and sustainable STEM partnerships between K-12, industry, and university partners, grounded in the story of the Baxter Center. Check it out to learn more about how our Center got started, what we learned about successfully working with schools, and some of the impacts we have had along the way.</p>

        <br><br><br><br>
        <img class="curve right" alt="" src="{% staticfile 'img/case_study.jpg' %}">
        <h3>The Center Case Study</h3>
        <p class="callout">We are excited to introduce the Baxter Center Case Study. We tell the story of our Center’s origins and how it evolved over time, calling out the lessons we learned along the way. These lessons have been synthesized into a Partnership Toolkit, shared at the end, that we believe can help others build and sustain partnerships that are unique to the needs of their communities. We share some of the successes that have come out of our work, illustrating how much can be achieved when a coalition of partners comes together to solve common problems. We also provide examples of the impact that these efforts have had in both our respective institutions and in our shared communities.</p>
        <p class="center">
          <a target="_blank" href="{% staticfile 'img/case_study_preview.pdf' %}">
          <img class="case_study_preview" src="{% staticfile 'img/case_study_preview1.png' %}">
          &nbsp;
          <img class="case_study_preview" src="{% staticfile 'img/case_study_preview2.png' %}">
          &nbsp;
          <img class="case_study_preview" src="{% staticfile 'img/case_study_preview3.png' %}">
          </a>
        </p>
        <p class="center">
          <a class="btn" target="_blank" href="https://drive.google.com/uc?export=download&id=1CKtoZVmX-l2Goaud_20xGCquVlvFI8ZN">Download the Case Study &amp; Partnership Toolkit</a>
        </p>

        <br><br>
        <img class="curve left" alt="" src="{% staticfile 'img/toolkit.jpg' %}">
        <h3>The Partnership Toolkit</h3>
        <p class="callout">Others have looked to The Baxter Center as a model that can help diverse institutions come together to effectively address challenges in education. The toolkit we share here is our effort to assist those who wish to follow a similar route to partnership. We include a discussion of what we mean by partnership and why we feel it is the best way to solve seemingly impossible challenges. Our framework, developed from both our experiences and research into sustainable partnership practices, is paired with quick guides for initial conversations, common pitfalls, and how to know when you are succeeding. We hope that you find these useful in your future endeavors.</p>
        <p class="center">
          <a target="_blank" href="{% staticfile 'img/toolkit_preview.pdf' %}">
          <img class="case_study_preview" src="{% staticfile 'img/toolkit_preview1.png' %}">
          &nbsp;
          <img class="case_study_preview" src="{% staticfile 'img/toolkit_preview2.png' %}">
          &nbsp;
          <img class="case_study_preview" src="{% staticfile 'img/toolkit_preview3.png' %}">
          </a>
        </p>
        <p class="center">
          <a class="btn"  target="_blank" href="https://drive.google.com/uc?export=download&id=1e__p8cbatKbCkL4je0Kkc8jTQG49hmbn">Download the Partnership Toolkit</a>
        </p>

      </div>
    </div>
  </div>
{% endblock %}
