{% extends "bcse_app/base.html" %}
{% load base_extras %}
{% load bcse_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
   <div class="about_us container">
      <div class="team">
        <h1>Our Teacher Leaders</h1>
        {% for teacherLeader in teacherLeaders %}
        <div class="row member">
          <div class="col-md-2 picture">
            {% if teacherLeader.teacher.image %}
              <img src="{{teacherLeader.teacher.image.url}}" class="circle staff">
            {% endif %}
          </div>
          <div class="col-md-10">
            <div class="intro">
              <h2>{{teacherLeader.teacher.user.get_full_name}}</h2>
              <h3>{{teacherLeader.teacher.work_place}}</h3>
            </div>
            <div class="wysiwyg_content">{{teacherLeader.bio|safe}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script>
    $(function(){
      $('.member p').addClass('callout');
    });
  </script>
{% endblock %}
