{% extends "bcse_app/base.html" %}
{% load base_extras %}
{% load bcse_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
   <div class="about_us container">
    <div class="partners">
      <h1>Our Partnership</h1>
      {% for partner in partners %}
      <div class="row partner">
        <div class="col-md-3"><a href="{{partner.url}}" target="_blank">
          <img src="{{partner.image.url}}">
          </a>
        </div>
        <div class="col-md-9">
          <div class="description">
            <div>
              {{partner.description|safe}}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <h2 class="center">Additional Collaborators</h2>
    <div class="collaborators">
      {% for collaborator in collaborators %}
        <div class="collaborator">
          {% if collaborator.url %}
            <a href="{{collaborator.url}}" target="_blank">
              {% if collaborator.image and collaborator.image.url %}
                <img src="{{collaborator.image.url}}">
              {% else %}
                {{collaborator.name}}
              {% endif %}
            </a>
          {% else %}
            {% if collaborator.image and collaborator.image.url %}
              <img src="{{collaborator.image.url}}">
            {% else %}
              {{collaborator.name}}
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
