{% extends "bcse_app/base.html" %}
{% load base_extras %}
{% load bcse_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
   <div class="about_us container">
      <div class="team">
        <h1>Our Team</h1>
        {% for member in members %}
        <div class="row member">
          <div class="col-md-2 picture">
            <img src="{{member.image.url}}" class="circle staff">
          </div>
          <div class="col-md-10">
            <div class="intro">
              <h2>{{member.name}}</h2>
              <h3>{{member.position}}</h3>
              <h3>{{member.organization}}</h3>
              <h3>{{member.email}}</h3>
            </div>
            <div class="description">{{member.description|safe}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% if former_members %}
        <h2 class="center">Former Team Members</h2>
        <div class="alumni">
          {% for former_member in former_members %}
            <div class="alumnus modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:teamMemberView' former_member.id %}">
              <div class="picture">
                <img src="{{former_member.image.url}}" class="circle staff">
              </div>
              <br>
              <div class="details">
                <h3 class="purple">{{former_member.name}}</h3>
                <h4>{{former_member.position|default_if_none:""}}</h4>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
