{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Activities </h1>
  <div class="button-row">
    <a class="btn" href="{% url 'bcse:activityNew' %}" role="button">Create Activity</a>
  </div>
  <div class="search_results static">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th> Activity ID</th>
          <th> Name </th>
          <th> Kit Name </th>
          <th> Kit Inventory </th>
          <th> Kit Unit Cost ($) </th>
          <th> Inventory Notes </th>
          <th> Status </th>
          <th> Tags </th>
          <th> Created Date</th>
          <th> Modified Date </th>
          <th> Action </th>
        </tr>
      </thead>
      <tbody>
        {% for activity in activities %}
          {% if activity.color %}
            <tr style="background-color: {{activity.color.color}};" title="{{activity.color.description}}">
          {% else %}
            <tr>
          {% endif %}
            <td> {{activity.id}}</td>
            <td> {{activity.name}} </td>
            <td> {{activity.kit_name}} </td>
            <td> {{activity.inventory|default_if_none:""|safe}} </td>
            <td> {{activity.kit_unit_cost|default_if_none:""}} </td>
             <td> {{activity.notes|default_if_none:""|safe}} </td>
            <td> {{activity.get_status_display}} </td>
            <td> {% for tag in activity.tags.all %}
                  {{tag}} <br>
                 {% endfor %}
            </td>
            <td> {{activity.created_date|date:"F j, Y g:i A"}}</td>
            <td> {{activity.modified_date|date:"F j, Y g:i A"}} </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#kit" data-href="{% url 'bcse:activityView' activity.id %}">View</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'bcse:activityEdit' activity.id %}">Edit</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#kit" data-href="{% url 'bcse:activityUpdate' activity.id %}">Quick Update</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item delete action" data-href="{% url 'bcse:activityDelete' activity.id %}"
                    data-title="the activity <strong>{{activity.name}}</strong>">
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
