{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Activities </h1>
  <div class="button-row">
    <a class="btn" href="{% url 'bcse:activityNew' %}" role="button">Create Activity</a>
  </div>
  <div class="search_results static">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th> Activity ID</th>
          <th> Name </th>
          <th> Kit Name </th>
          <th> Kit Inventory </th>
          <th> Inventory Notes </th>
          <th> Kit Unit Cost ($) </th>
          <th> Consumables</th>
          <th> Status </th>
          <th> Tags </th>
          <th> Mapped Equipment</th>
          <th> Created Date</th>
          <th> Modified Date </th>
          <th> Action </th>
        </tr>
      </thead>
      <tbody>
        {% for activity in activities %}
          {% if activity.color %}
            <tr style="background-color: {{activity.color.color}};" title="{{activity.color.description}}">
          {% else %}
            <tr>
          {% endif %}
            <td> {{activity.id}}</td>
            <td> {{activity.name}} </td>
            <td> {{activity.kit_name}} </td>
            <td> {{activity.inventory|default_if_none:""|safe}} </td>
            <td> {{activity.notes|default_if_none:""|safe}} </td>
            <td> {{activity.kit_unit_cost|default_if_none:""}} </td>
            <td>
              {% if activity.consumables %}
              <ul>
                {% for consumable in activity.consumables.all %}
                  {% if consumable.color %}
                    <li style="background-color: {{consumable.color.color}};" title="{{consumable.color.description}}">
                  {% else %}
                    <li>
                  {% endif %}
                      {{consumable.name}}
                    </li>
                {% endfor %}
              </ul>
              {% endif %}
            </td>
            <td> {{activity.get_status_display}} </td>
            <td>
              <ul>
                {% for tag, sub_tags in activity.tags.all|get_tag_dictionary %}
                  <li>{{tag}} </li>
                  <ul>
                    {% for sub_tag in sub_tags %}
                      <li>{{sub_tag}} </li>
                    {% endfor %}
                  </ul>
                {% endfor %}
              </ul>
            </td>
            <td>
              <ul>
                {% for equipment in activity.equipment_mapping.all %}
                  <li>{{equipment}}</li>
                {% endfor %}
              </ul>
            </td>
            <td> {{activity.created_date|date:"F j, Y g:i A"}}</td>
            <td> {{activity.modified_date|date:"F j, Y g:i A"}} </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#kit" data-href="{% url 'bcse:activityView' activity.id %}">View</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'bcse:activityEdit' activity.id %}">Edit</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#kit" data-href="{% url 'bcse:activityUpdate' activity.id %}">Update Inventory</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item delete action" data-href="{% url 'bcse:activityDelete' activity.id %}"
                    data-title="the activity <strong>{{activity.name}}</strong>">
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
