<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">Update Activity {{activity.name}}</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="UpdateMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>

    <form class="form" id="formActivityUpdate" method="post" action="{% url 'bcse:activityUpdate' activity.id %}">
      {% csrf_token %}
      {{form.media}}
      <div class="modal-body">
        <div class="form-group mb-3">
          <label for="id_{{form.inventory.name}}">
            {{ form.inventory.label|title }}
            {% if form.inventory.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div>{{form.inventory}}</div>
          <div class="error">{{ form.inventory.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.kit_unit_cost.name}}">
            {{ form.kit_unit_cost.label|title }}  ($)
            {% if form.kit_unit_cost.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div>{{form.kit_unit_cost}}</div>
          <div class="error">{{ form.kit_unit_cost.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.notes.name}}">
            {{ form.notes.label|title }}
            {% if form.notes.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div>{{form.notes}}</div>
          <div class="error">{{ form.notes.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.color.name}}">
            {{ form.color.label }}
            {% if form.color.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div>{{form.color}}</div>
          <div class="error">{{ form.color.errors }}</div>
        </div>
        <div class="form-group" id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="submit" class="btn btn-success" id="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function (){

    $("#formActivityUpdate").submit(function(e){
      e.preventDefault();
      var formData = new FormData(this);
      var inventory = CKEDITOR.instances.id_inventory.getData();
      formData.append('inventory', inventory);
      var notes = CKEDITOR.instances.id_notes.getData();
      formData.append('notes', notes);

      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: formData,
        dataType: 'json',
        context: this,
        cache:false,
        contentType: false,
        processData: false,
        beforeSend: function(){
          $('#formActivityUpdate #spinner').show();
        },
        complete: function(){
          $('#formActivityUpdate #spinner').hide();
        },
        success: function(data, status) {
          if(data['success'] == true){
            window.parent.location.reload();
          }
          else{
            $('#kit').html(data['html']);
          }
        },
        error: function(){
          displayErrorDialog();
        }
      });
    });

  });
</script>


