{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  {% if form.instance.id %}
    <h1 class="center"> {{form.instance.name}} </h1>
  {% else %}
    <h1 class="center"> Create Activity </h1>
  {% endif %}
  <div class="admin_form">
    <form method="post" enctype="multipart/form-data" id="formWorkshopCategory">
      {% csrf_token %}
      {{form.media}}
      <div class="form-group mb-3">
        <label for="id_{{form.name.name}}" class="form-label"> {{form.name.label|title}}</label>
        <div>{{form.name}}</div>
        <div class="error">{{ form.name.errors }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="id_{{form.description.name}}" class="form-label"> {{form.description.label|title}}</label>
        <div>{{form.description}}</div>
        <div class="error">{{ form.description.errors }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="id_{{form.materials_equipment.name}}" class="form-label"> {{form.materials_equipment.label|title}}</label>
        <div>{{form.materials_equipment}}</div>
        <div class="error">{{ form.materials_equipment.errors }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="id_{{form.manuals_resources.name}}" class="form-label"> {{form.manuals_resources.label|title}}</label>
        <div>{{form.manuals_resources}}</div>
        <div class="error">{{ form.manuals_resources.errors }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="id_{{form.equipment_mapping.name}}" class="form-label"> {{form.equipment_mapping.label|title}}
          <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{form.equipment_mapping.help_text}}"></i>
        </label>
        <div>{{form.equipment_mapping}}</div>
        <div class="error">{{ form.equipment_mapping.errors }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="id_{{form.kit_name.name}}" class="form-label"> {{form.kit_name.label|title}}</label>
        <div>{{form.kit_name}}</div>
        <div class="error">{{ form.kit_name.errors }}</div>
      </div>

      <div class="form-group mb-3">
        <label for="id_{{form.tags.name}}" class="form-label"> {{form.tags.label|title}}
          <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{form.tags.help_text}}"></i>
        </label>
        <div>{{form.tags}}</div>
        <div class="error">{{ form.tags.errors }}</div>
      </div>

      <div class="form-group mb-3">
        <label for="id_{{form.image.name}}" class="form-label"> {{form.image.label|title}}</label>
        {% if form.instance.id and form.instance.image.url %}
          <div class="image_preview">
            <img src="{{form.instance.image.url}}" class="icon" alt="">
          </div>
        {% endif %}
        <div>{{form.image}}</div>
        <div class="error">{{ form.image.errors }}</div>
      </div>

      <div class="form-group mb-3">
        <label for="id_{{form.status.name}}" class="form-label"> {{form.status.label|title}}</label>
        <div>{{form.status}}</div>
        <div class="error">{{ form.status.errors }}</div>
      </div>
      <div class="form-group mb-3 right">
        {% if form.instance.id %}
          <button class="btn btn-danger delete action" data-href="{% url 'bcse:activityDelete' form.instance.id %}" data-title="the activity <strong>{{form.instance.name}}</strong>">
            Delete
          </button>
        {% endif %}
        <button class="btn" type="submit" id="submit_bottom">
          Save
        </button>
      </div>

    </form>
  </div>
{% endblock %}
