{% load bcse_extras %}
{% load base_extras %}

<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">Update Activity {{activity.name}}</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="UpdateMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>

    <form class="form" id="formActivityUpdate" method="post" action="{% url 'bcse:activityUpdate' activity.id %}">
      {% csrf_token %}
      {{form.media}}
      {{formset.management_form}}

      <div class="modal-body">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="activity_{{form.instance.id}}-tab" data-bs-toggle="tab"  type="button" data-bs-target="#activity_{{form.instance.id}}" role="tab" aria-controls="activity_{{form.instance.id}}" aria-selected="true">Activity Kit</button>
          </li>
          {% for consumableForm in formset %}
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="consumable_{{consumableForm.instance.id}}-tab" data-bs-toggle="tab" type="button" data-bs-target="#consumable_{{consumableForm.instance.id}}" role="tab" aria-controls="consumable_{{consumableForm.instance.id}}"  aria-selected="false">{{consumableForm.instance.name}}
              </button>
            </li>
          {% endfor %}
        </ul>

        <div class="tab-content" id="activityTabContent">

          <div class="tab-pane active" id="activity_{{form.instance.id}}" role="tabpanel" aria-labelledby="activity_{{form.instance.id}}-tab">
            <div class="form-group mb-3">
              <label for="id_{{form.inventory.name}}">
                {{ form.inventory.label|title }}
                {% if form.inventory.field.required %}
                  (<span class="required">*</span>)
                {% endif %}
              </label>
              <div>{{form.inventory}}</div>
              <div class="error">{{ form.inventory.errors }}</div>
            </div>

             <div class="form-group mb-3">
              <label class="form-label">Inventory <button type="button" class="btn" onclick="cloneForm('activityinventory_set', 'inventory_formset')">Add </button> </label>
              <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <th>Storage Location</th>
                    <th>Count</th>
                    <th>Expiration Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="inventory_formset">
                  {{inventory_formset.management_form}}
                  {% for form in inventory_formset %}

                    {{form.id}}
                    <tr class="form-row">
                      <td>
                        {{form.storage_location}}
                        <div class="error">{{ form.storage_location.errors }}</div>
                      </td>
                      <td>
                        {{form.count}}
                        <div class="error">{{ form.count.errors }}</div>
                      </td>
                      <td>
                         <div class="input-group">
                            {{form.expiration_date}}
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                          </div>
                        <div class="error">{{ form.expiration_date.errors }}</div>
                      </td>
                      <td>
                        {{form.DELETE.as_hidden}}
                        <button type="button" class="btn btn-danger delete_inventory"><i class="fa-solid fa-trash-can"></i></button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="form-group mb-3">
              <label for="id_{{form.notes.name}}">
                {{ form.notes.label|title }}
                {% if form.notes.field.required %}
                  (<span class="required">*</span>)
                {% endif %}
              </label>
              <div>{{form.notes}}</div>
              <div class="error">{{ form.notes.errors }}</div>
            </div>
            <div class="form-group mb-3">
              <label for="id_{{form.kit_unit_cost.name}}">
                {{ form.kit_unit_cost.label|title }}  ($)
                {% if form.kit_unit_cost.field.required %}
                  (<span class="required">*</span>)
                {% endif %}
              </label>
              <div>{{form.kit_unit_cost}}</div>
              <div class="error">{{ form.kit_unit_cost.errors }}</div>
            </div>
            <div class="form-group mb-3">
              <label for="id_{{form.color.name}}">
                {{ form.color.label }}
                {% if form.color.field.required %}
                  (<span class="required">*</span>)
                {% endif %}
              </label>
              <div>{{form.color}}</div>
              <div class="error">{{ form.color.errors }}</div>
            </div>
          </div>

          {% if formset|length > 0 %}
            {% for consumableForm in formset %}
              {{consumableForm.id}}
              <div class="tab-pane" id="consumable_{{consumableForm.instance.id}}" role="tabpanel" aria-labelledby="consumable_{{consumableForm.instance.id}}-tab">
                <div class="form-group mb-3">
                  <label for="id_{{consumableForm.inventory.name}}">
                    {{ consumableForm.inventory.label|title }}
                    {% if consumableForm.inventory.field.required %}
                      (<span class="required">*</span>)
                    {% endif %}
                  </label>
                  <div>{{consumableForm.inventory}}</div>
                  <div class="error">{{ consumableForm.inventory.errors }}</div>
                </div>
                {% with ci_formet=consumable_inventory_formsets|get_list_item:forloop.counter0 %}
                <div class="form-group mb-3">
                  <label class="form-label">Inventory <button type="button" class="btn" onclick="cloneForm('ci-{{forloop.counter0}}', 'ci_formset_{{forloop.counter0}}')">Add </button> </label>
                  <table class="table table-condensed table-bordered">
                    <thead>
                      <tr>
                        <th>Storage Location</th>
                        <th>Count</th>
                        <th>Expiration Date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody id="ci_formset_{{forloop.counter0}}">
                      {{ci_formet.management_form}}
                      {% for form in ci_formet %}
                        {{form.id}}
                        <tr class="form-row">
                          <td>
                            {{form.storage_location}}
                            <div class="error">{{ form.storage_location.errors }}</div>
                          </td>
                          <td>
                            {{form.count}}
                            <div class="error">{{ form.count.errors }}</div>
                          </td>
                          <td>
                             <div class="input-group">
                                {{form.expiration_date}}
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                              </div>
                            <div class="error">{{ form.expiration_date.errors }}</div>
                          </td>
                          <td>
                            {{form.DELETE.as_hidden}}
                            <button type="button" class="btn btn-danger delete_inventory"><i class="fa-solid fa-trash-can"></i></button>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endwith %}
                <div class="form-group mb-3">
                  <label for="id_{{consumableForm.notes.name}}">
                    {{ consumableForm.notes.label|title }}
                    {% if consumableForm.notes.field.required %}
                      (<span class="required">*</span>)
                    {% endif %}
                  </label>
                  <div>{{consumableForm.notes}}</div>
                  <div class="error">{{ consumableForm.notes.errors }}</div>
                </div>
                <div class="form-group mb-3">
                  <label for="id_{{consumableForm.unit_cost.name}}">
                    {{ consumableForm.unit_cost.label|title }}  ($)
                    {% if consumableForm.unit_cost.field.required %}
                      (<span class="required">*</span>)
                    {% endif %}
                  </label>
                  <div>{{consumableForm.unit_cost}}</div>
                  <div class="error">{{ consumableForm.unit_cost.errors }}</div>
                </div>
                <div class="form-group mb-3">
                  <label for="id_{{consumableForm.color.name}}">
                    {{ consumableForm.color.label }}
                    {% if consumableForm.color.field.required %}
                      (<span class="required">*</span>)
                    {% endif %}
                  </label>
                  <div>{{consumableForm.color}}</div>
                  <div class="error">{{ consumableForm.color.errors }}</div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            {{formset}}
          {% endif %}
        </div>

        <div class="form-group" id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>

      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="submit" class="btn btn-success" id="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function (){

    $("#formActivityUpdate").submit(function(e){
      e.preventDefault();

      for (var instance in CKEDITOR.instances) {
        CKEDITOR.instances[instance].updateElement();
      }
      var formData = new FormData(this);

      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: formData,
        cache:false,
        contentType: false,
        processData: false,
        beforeSend: function(){
          $('#formActivityUpdate #spinner').show();
        },
        complete: function(){
          $('#formActivityUpdate #spinner').hide();
        },
        success: function(data, status) {
          if(data['success'] == true){
            window.parent.location.reload();
          }
          else{
            $('#kit').html(data['html']);
            bindDateTimePicker();
          }
        },
        error: function(){
          displayErrorDialog();
        }
      });
    });
    bindInventoryRowDelete();

  });
</script>

  });
</script>


