{% load bcse_extras %}
{% load base_extras %}

{% if activities %}
  <div class="tiles activity_tiles">
    {% for activity in activities %}
      <div class="tile activity_tile modal-open" data-bs-toggle="modal" data-bs-target="#kit" data-href="{% url 'bcse:activityView' activity.id %}">
        <div class="image">
          {% if activity.image and activity.image.url %}
            <img class="preview" src="{{activity.image.url}}">
          {% else %}
            <img class="preview" src="{% staticfile 'img/baxter_activity.png' %}">
          {% endif %}
        </div>
        <div class="title">
          <h5 class="center">{{activity.name}}</h5>
        </div>
        {% is_activity_low_in_stock activity.id as low_stock %}
        {% if low_stock %}
          <i class="fas fa-tachometer-alt-slowest low_stock" title="Low in stock"></i>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% else %}
<div class="tiles activity_tiles">
  <div class="warning center">No activities matching your search criteria found</div>
</div>
{% endif %}
