{% if activity %}
  <div class="activity specific  {% if is_low_stock %}low_stock{% endif %}">
    <h3 class="center underline">
      You have selected {{activity}}
    </h3>
    {% if is_low_stock %}
      <div class="warning center">Note: This lab is low in stock. Once the reservation request is received, we will reach out to confirm availability and timing.</div>
      <br>
    {% endif %}

    <div class="activity_info">
      <div class="activity_details">
        <div class="wysiwyg_content">{{activity.description|safe}}</div>
      </div>
      <br>
      <div>
        <h3 class="underline">Instruction Manuals/Resources</h3>
        <div class="wysiwyg_content">{{activity.manuals_resources|safe}}</div>
      </div>
    </div>
  </div>
{% endif %}
