{% if activity %}
  <div class="activity specific  {% if is_low_stock %}low_stock{% endif %}">
    <h3 class="center underline">
      You have selected {{activity}}
    </h3>
    {% if low_stock_message %}
      <div class="warning center">Note: {{low_stock_message}}</div>
      <br>
    {% endif %}

    <div class="activity_info">
      <div class="activity_image">
        {% if activity.image and activity.image.url %}
          <img src="{{activity.image.url}}"/>
        {% endif %}
      </div>
      <div class="activity_details">
        <div class="wysiwyg_content">{{activity.description|safe}}</div>
      </div>
      <br>
      <div>
        <h3 class="underline">Instruction Manuals/Resources</h3>
        <div class="wysiwyg_content">{{activity.manuals_resources|safe}}</div>
      </div>
    </div>
  </div>
{% endif %}
