{% if activity %}
  <div class="activity specific  {% if is_low_stock %}low_stock{% endif %}">
    <h3 class="center underline">
      You have selected {{activity}}
    </h3>
    {% if low_stock_message %}
      <div class="warning center">Note: {{low_stock_message}}</div>
      <br>
    {% endif %}

    <div class="activity_info">
      <div class="activity_details">
        <div class="wysiwyg_content">{{activity.description|safe}}</div>
        {% regroup activity.tags.all by tag as tag_list %}
        <ul>
          {% for tag in tag_list %}
            <li>
              <strong>{{tag.grouper}}</strong>:
              {% for subtag in tag.list %}
                {{subtag.name}} {% if not forloop.last %},{% endif %}
              {% endfor %}
            </li>
          {% endfor %}
        </ul>

      </div>
      <br>
      <div>
        <h3 class="underline">Instruction Manuals/Resources</h3>
        <div class="wysiwyg_content">{{activity.manuals_resources|safe}}</div>
      </div>
    </div>
  </div>
{% endif %}
