{% extends "bcse_app/base.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block content %}
  {{block.super}}
  <div class="content admin">
    <div class="admin_config_container container">
      <div class="left-navigation">
        <div class="admin_menu">
          <ul class="navbar-nav">
            <li class="nav-item {% navactive request 'bcse:adminConfiguration' %}">
              <a class="nav-link" href="{% url 'bcse:adminConfiguration' %}">Admin Home</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item {% if 'workshopCategories' in request.path or 'workshopCategory' in request.path or 'registrationEmailMessages' in request.path or 'registrationEmailMessage' in request.path %}active{% endif %}">
              {% if 'workshopCategories' in request.path or  'workshopCategory' in request.path or 'registrationEmailMessages' in request.path or 'registrationEmailMessage' in request.path %}
                <a class="nav-link" role="button" data-bs-toggle="collapse" aria-expanded="true" href="#workshop_config" aria-controls="workshop_config">
                  Workshop Configuration
                </a>
              {% else %}
                <a class="nav-link" role="button" data-bs-toggle="collapse" aria-expanded="false" href="#workshop_config" aria-controls="workshop_config">
                  Workshop Configuration
                </a>
              {% endif %}
              <ul class="collapse navbar-nav {% leftnavactive request 'workshopCategories' %}
                  {% leftnavactive request 'workshopCategory' %}
                  {% leftnavactive request 'registrationEmailMessages' %}
                  {% leftnavactive request 'registrationEmailMessage' %}
                  {% leftnavactive request 'teacherLeaders' %}
                  {% leftnavactive request 'teacherLeader' %}
                  {% leftnavactive request 'workshopsRegistrants' %}" id="workshop_config">

                <li>
                  <a href="{% url 'bcse:workshops' 'table' %}">Workshops</a>
                </li>
                <li>
                  <a href="{% url 'bcse:studentPrograms' 'table' %}">Student Programs</a>
                </li>
                <li class="{% if 'workshopCategories' in request.path or  'workshopCategory' in request.path %} active {% endif %}">
                  <a href="{% url 'bcse:workshopCategories' %}">Workshop Categories</a>
                </li>
                <li class="{% if 'registrationEmailMessages' in request.path or 'registrationEmailMessage' in request.path %} active {% endif %}">
                  <a href="{% url 'bcse:registrationEmailMessages' %}">Registration Email Messages</a>
                </li>
                <li class="{% if 'teacherLeaders' in request.path or  'teacherLeader' in request.path %} active {% endif %}">
                  <a href="{% url 'bcse:teacherLeaders' %}">Teacher Leaders</a>
                </li>
                <li class="{% if 'workshopsRegistrants' in request.path %} active {% endif %}">
                  <a href="{% url 'bcse:workshopsRegistrants' %}">Workshops Registrants</a>
                </li>
              </ul>
            </li>

            <li><hr class="dropdown-divider"></li>

            <li class="nav-item">
              {% if 'activities' in request.path or  'activity' in request.path  or 'equipmentType' in request.path %}
                <a class="nav-link" role="button" data-bs-toggle="collapse" aria-expanded="true" href="#baxter_box_config" aria-controls="baxter_box_config">Baxter Box Configuration</a>
              {% else %}
                <a class="nav-link" role="button" data-bs-toggle="collapse" aria-expanded="false" href="#baxter_box_config" aria-controls="baxter_box_config">Baxter Box Configuration</a>
              {% endif %}
              <ul class="collapse navbar-nav {% leftnavactive request 'activities' %}
                                             {% leftnavactive request 'activity' %}
                                             {% leftnavactive request 'equipmentTypes' %}
                                             {% leftnavactive request 'equipmentType' %}
                                             {% leftnavactive request 'equipments' %}
                                             {% leftnavactive request 'equipment' %}
                                             {% leftnavactive request 'blackout_dates' %}
                                             {% leftnavactive request 'usage_report' %}
                                             {% leftnavactive request 'reservation_colors' %}"

                                             id="baxter_box_config">
                <li class="{% if 'activities' in request.path or 'activity' in request.path %} active {% endif %}">
                  <a href="{% url 'bcse:activities' %}">Activities</a>
                </li>
                <li class="{% if 'equipmentType' in request.path %} active {% endif %}">
                  <a href="{% url 'bcse:equipmentTypes' %}">Equipment Types</a>
                </li>
                <li class="{% if 'equipments' in request.path or 'equipment/' in request.path %} active {% endif %}">
                  <a href="{% url 'bcse:equipments' %}">Equipment</a>
                </li>

                <li>
                  <a href="{% url 'bcse:reservations' %}">User Reservations</a>
                </li>
                <li class="{% if 'blackout_dates' in request.path %} active {% endif %}">
                  <a href="{% url 'bcse:blackoutDates' %}">Blackout Dates</a>
                </li>
                <li class="{% if 'reservation_colors' in request.path %} active {% endif %}">
                  <a href="{% url 'bcse:reservationColors' %}">Reservation Colors</a>
                </li>
                <li class="{% if 'usage_report' in request.path %} active {% endif %}">
                  <a href="{% url 'bcse:baxterBoxUsageReport' %}">Baxter Box Usage Report</a>
                </li>
              </ul>
            </li>

            <li><hr class="dropdown-divider"></li>
            <li class="nav-item {% if 'users' in request.path or  'userProfile' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'bcse:users' %}">Users</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item {% if 'workPlace' in request.path or  'workPlaces' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'bcse:workPlaces' %}">Work Places</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item {% if 'teamMember' in request.path or  'teamMembers' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'bcse:teamMembers' %}">Team Members</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item {% if 'partner' in request.path or  'partners' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'bcse:partners' %}">Partners</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item {% if 'homepageBlock' in request.path or  'homepageBlocks' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'bcse:homepageBlocks' %}">Homepage Blocks</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item {% if 'standalonePage' in request.path or  'standalonePages' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'bcse:standalonePages' %}">Standalone Pages</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item {% if 'survey' in request.path or  'surveys' in request.path %} active {% endif %}">
              <a class="nav-link" href="{% url 'bcse:surveys' %}">Surveys</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right-content">
        {% block configuration %}
          <h1>Admin Configuration</h1>
        {% endblock %}
      </div>
    </div>
  </div>

{% endblock %}
