{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Admin Availability Calendar </h1>
  {% include "bcse_app/AdminAvailabilityCalendarSearch.html" %}
  <div class="form-group" id="spinner">
    <img src="/static/img/page-loader.gif" class="icon"/>
  </div>
  <div class="search_results static">
    <div class="warning center">Select equipment type(s) and date</div>
  </div>

  <script type="text/javascript">
    $(function(){
      $('.datepicker.availability').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'MM yy',
        onClose: function(dateText, inst) {
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1)).trigger('change');
        }
      });
    });
  </script>
  <style>
    .ui-datepicker-calendar {
      display: none;
      }
  </style>
{% endblock %}
