{% load bcse_extras %}

{% if availability_calendar %}
  <div class="availability_calendar">
    <h3 class="center">Availability Calendar</h3>
    <div class="legends">
      <div class="legend selected">
        <div class="color"></div>
        <label>Selected</label>
      </div>
      <div class="legend available">
        <div class="color"></div>
        <label>Available</label>
      </div>
      <div class="legend unavailable">
        <div class="color"></div>
        <label>Unavailable</label>
      </div>
    </div>
    <div class="calendar">
      {% for calendar in availability_calendar %}
        {{calendar|safe}}
      {% endfor %}
    </div>
  </div>
{% endif %}

