
<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      {% if form.instance.id %}
        <h3 class="left"> Edit Blackout Date </h3>
      {% else %}
        <h3 class="left"> Create Blackout Date  </h3>
      {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="blackoutDateMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>
    <form class="form" method="post" action="{% if form.instance.id %}{% url 'bcse:blackoutDateEdit' form.instance.id %} {% else %} {% url 'bcse:blackoutDateNew' %}{% endif %}" id="formBlackoutDate">
      {% csrf_token %}
      <div class="modal-body">
        <div class="form-group mb-3">
          <label for="id_{{form.start_date.name}}" class="form-label"> {{form.start_date.label}}</label>
          <div class="input-group">
            {{form.start_date}}
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
          <div class="error">{{ form.start_date.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.end_date.name}}" class="form-label"> {{form.end_date.label}}</label>
          <div class="input-group">
            {{form.end_date}}
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
          <div class="error">{{ form.end_date.errors }}</div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group buttons">
          <button type="submit" class="btn btn-success blackout_date_save">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  $(function (){
    $(".datepicker:not(.reservation_date)").datepicker({
      dateFormat: "MM dd, yy",
      changeMonth: true,
      changeYear: true
    });

    $('#formBlackoutDate').submit(function(e){
      e.preventDefault();

      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: $(this).serialize(),
        dataType: 'json',
        success: function(data, status) {
          console.log(status);
          if(data['success'] == true){
            console.log('success');
            $('#blackout_date').modal('toggle');
            location.reload();
          }
          else{
            $('#blackout_date').html(data['html']);
          }
        },
        error: function(){
          alert("Something went wrong.");
        }
      });
    });

  });
</script>


