{% load bcse_extras %}
{% load base_extras %}

<div class="communityexperience">

  <div class="callout">
    <a class="question" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
      <b>Fostering A Supportive Community of Educators & Contributing to A Greater Impact</b>
    </a>
  </div>
  <ul class="callout collapse" id="collapse1">
    <li>There is power in sharing! We encourage teachers to share tips/tricks, lesson plans, etc.</li>
    <li>Our materials have traveled all across Chicagoland! It is important that we remember these resources are shared and often given to another classroom quickly after you are done with them. We appreciate everyone taking care of these supplies so we can reach more classrooms together!</li>
    <li>We want this to be a fun experience for you and your students! To do that, please let us know how you envision bringing your Baxter Box to your classroom so that we provide everything you need to successfully implement a lab. No detail is too much - we encourage over communication! </li>
  </ul>

  <div class="callout">
    <a class="question" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
      <b>How Teachers Have Used The Baxter Box Program </b>
    </a>
  </div>
  <ul class="callout collapse" id="collapse2">
    <li>Lab Newbie: Just dipping your toes into the biotech lab water? The Baxter Center is able to provide lab guides, tips, tricks, and even come into the classroom to support. We often recommend starting with basics like learning pipetting technique.</li>
    <li>Workshop Attendee: A great way to try out the lab and think through what it would look like in your own classroom is to come to one of our workshops first! We will run the lab together, talk through the science and implementation. </li>
    <li>Lab Pro: Some teachers have experience with these types of labs from previous education, research, or work experience. They still have access to our shared resource hub for lab guides and previous workshops.  </li>
    <li>Veteran: Many teachers that have tried out these labs have incorporated them into their annual curriculum, schedule, and budget. By building up your own inventory of  lab equipment over time, or receiving a grant to purchase equipment, you can help keep this program sustainable as we reach more teachers and students!
    </li>
  </ul>

</div>
