
<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      {% if form.instance.id %}
        <h3 class="left"> Edit Baxter Box Message </h3>
      {% else %}
        <h3 class="left"> Create Baxter Box Message  </h3>
      {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="baxterBoxMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>
    <form class="form" method="post" action="{% if form.instance.id %}{% url 'bcse:baxterBoxMessageEdit' form.instance.id %}{% else %} {% url 'bcse:baxterBoxMessageNew' %}{% endif %}" id="formBaxterBoxMessage">
      {% csrf_token %}
      <div class="modal-body">
        <div class="form-group mb-3">
          <label for="id_{{form.message.name}}" class="form-label"> {{form.message.label}}</label>
          <div class="input-group">
            {{form.message}}
          </div>
          <div class="error">{{ form.message.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.message_type.name}}" class="form-label"> {{form.message_type.label}}</label>
          <div class="input-group">
            {{form.message_type}}
          </div>
          <div class="error">{{ form.message_type.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.status.name}}" class="form-label"> {{form.status.label}}</label>
          <div class="input-group">
            {{form.status}}
          </div>
          <div class="error">{{ form.status.errors }}</div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group buttons">
          <button type="submit" class="btn btn-success blackout_date_save">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  $(function (){
    $('#formBaxterBoxMessage').submit(function(e){
      e.preventDefault();

      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: $(this).serialize(),
        dataType: 'json',
        success: function(data, status) {
          console.log(status);
          if(data['success'] == true){
            console.log('success');
            $('#general').modal('toggle');
            location.reload();
          }
          else{
            $('#general').html(data['html']);
          }
        },
        error: function(){
          alert("Something went wrong.");
        }
      });
    });

  });
</script>


