{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Baxter Box Blackout Dates </h1>
  <div class="button-row">
    <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#blackout_date" data-href="{% url 'bcse:blackoutDateNew' %}" href="#">Create Blackout Date</a>
  </div>
  <div class="search_results">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th> ID</th>
          <th> Start Date </th>
          <th> End Date </th>
          <th> Created Date</th>
          <th> Modified Date </th>
          <th> Action </th>
        </tr>
      </thead>
      <tbody>
        {% for blackout_date in blackout_dates %}
          <tr>
            <td> {{blackout_date.id}}</td>
            <td> {{blackout_date.start_date|date:"F j, Y"}}</td>
            <td> {{blackout_date.end_date|date:"F j, Y"}} </td>
            <td> {{blackout_date.created_date|date:"F j, Y g:i A"}}</td>
            <td> {{blackout_date.modified_date|date:"F j, Y g:i A"}} </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item action modal-open" data-bs-toggle="modal" data-bs-target="#blackout_date" data-href="{% url 'bcse:blackoutDateEdit' blackout_date.id %}" href="#">Edit</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item delete action" data-href="{% url 'bcse:blackoutDateDelete' blackout_date.id %}"
                    data-title="the blackout date  <strong>{{blackout_date.start_date|date:'F j, Y'}}</strong> to <strong>{{blackout_date.end_date|date:'F j, Y'}}</strong>">
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
