<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">{{title}}</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="kit_info">
        <div class="kit_details">
          {% if type == 'activity' %}
            <h3 class="underline">Activity</h3>
          {% endif %}
          <div class="wysiwyg_content">{{kit.description|safe}}</div>
        </div>
        {% if type == 'activity' %}
          <br>
          <div>
            <h3 class="underline">Materials/Equipment</h3>
            <div class="wysiwyg_content">{{kit.materials_equipment|safe}}</div>
          </div>
          <br>
          <div>
            <h3 class="underline">Instruction Manuals/Resources</h3>
            <div class="wysiwyg_content">{{kit.manuals_resources|safe}}</div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
