{% load bcse_extras %}
{% load humanize %}
<ul class="nav nav-tabs mb-3" id="baxter_box_usage_tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="baxter_box_summary-tab" data-bs-toggle="tab" data-bs-target="#baxter_box_summary_container" type="button" role="tab" aria-controls="baxter_box_summary_container" aria-selected="true" ><label>Baxter Box Summary</label></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="equipment_summary-tab" data-bs-toggle="tab" data-bs-target="#equipment_summary_container" type="button" role="tab" aria-controls="equipment_summary_container" aria-selected="false"><label>Equipment Summary</label></button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link"  id="lab_summary-tab" data-bs-toggle="tab" data-bs-target="#lab_summary_container" type="button" role="tab" aria-controls="lab_summary_container" aria-selected="false"><label>Lab Summary</label></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link"  id="consumable_summary-tab" data-bs-toggle="tab" data-bs-target="#consumable_summary_container" type="button" role="tab" aria-controls="consumable_summary_container" aria-selected="false"><label>Consumable Summary</label></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link"  id="workplace_summary-tab" data-bs-toggle="tab" data-bs-target="#workplace_summary_container" type="button" role="tab" aria-controls="workplace_summary_container" aria-selected="false"><label>Workplace Summary</label></button>
  </li>
</ul>
<div class="tab-content">
  <div id="baxter_box_summary_container" class="tab-pane fade" role="tabpanel" aria-labelledby="baxter_box_summary-tab">
    <table class="table table-bordered table-striped export" id="baxter_box_summary">
      <thead>
        <tr>
          <th> Total # of Reservations </th>
          <th> Total Equipment Cost ($)</th>
          <th> Total # of Activity Kits Used </th>
          <th> Total Activity Kit Cost ($)</th>
          <th> Total # of Consumables Used </th>
          <th> Total Consumables Cost ($)</th>
          <th> Total # of Unique Teachers </th>
          <th> Total # of Unique Workplaces </th>
          <th> Total # of Classes </th>
          <th> Total # of Students </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{total_usage.reservations}}</td>
          <td>{{total_usage.total_equipment_cost|floatformat:"2"|intcomma}}</td>
          <td>{{total_usage.kits}}</td>
          <td>{{total_usage.total_kit_cost|floatformat:"2"|intcomma}}</td>
          <td>{{total_usage.consumables}}</td>
          <td>{{total_usage.total_consumables_cost|floatformat:"2"|intcomma}}</td>
          <td>{{total_usage.teacher_count}}</td>
          <td>{{total_usage.workplace_count}}</td>
          <td>{{total_usage.classes}}</td>
          <td>{{total_usage.students}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="equipment_summary_container" class="tab-pane fade" role="tabpanel" aria-labelledby="equipment_summary-tab">
    {% if equipment_usage %}
    {% include "bcse_app/Pagination.html" with model=equipment_usage location='top'%}
    <table class="table table-bordered table-striped export" id="equipment_summary">
      <thead>
        <tr>
          <th> Equipment {% if sort_by == 'name' %} &nbsp; <i class="fa-regular fa-arrow-down-short-wide"></i> {% endif %}</th>
          <th> Unit Cost ($)</th>
          <th> # of Reservation {% if sort_by == 'reservations' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
          <th> Total Cost ($) {% if sort_by == 'total_cost' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
          <th> # of Unique Teachers {% if sort_by == 'teachers' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
          <th> # of Unique Workplaces {% if sort_by == 'workplaces' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
          <th> # of Classes {% if sort_by == 'classes' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
          <th> # of Students {% if sort_by == 'students' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
        </tr>
      </thead>
      <tbody>
        {% for equipment in equipment_usage %}
          <tr>
            <td>{{equipment.name}}</td>
            <td>{{equipment.unit_cost|floatformat:2|default_if_none:""|intcomma}}</td>
            <td>{{equipment.reservations}}</td>
            <td>{{equipment.total_cost|floatformat:"2"|intcomma}}</td>
            <td>{{equipment.teacher_count}}</td>
            <td>{{equipment.workplace_count}}</td>
            <td>{{equipment.classes}}</td>
            <td>{{equipment.students}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "bcse_app/Pagination.html" with model=equipment_usage location='bottom'%}
    {% else %}
      <div class="warning center">No equipment matching your search criteria found</div>
    {% endif %}
  </div>
  <div id="lab_summary_container" class="tab-pane fade" role="tabpanel" aria-labelledby="lab_summary-tab">
    {% if kit_usage %}
      {% include "bcse_app/Pagination.html" with model=kit_usage location='top'%}
      <table class="table table-bordered table-striped export" id="lab_summary">
        <thead>
          <tr>
            <th> Activity Kit {% if sort_by == 'name' %} &nbsp; <i class="fa-regular fa-arrow-down-short-wide"></i> {% endif %}</th>
            <th> Unit Cost ($)</th>
            <th> Usage Count {% if sort_by == 'usage' %}  &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> Total Cost ($) {% if sort_by == 'total_cost' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> # of Unique Teachers {% if sort_by == 'teachers' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> # of Unique Workplaces {% if sort_by == 'workplaces' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> # of Classes {% if sort_by == 'classes' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> # of Students {% if sort_by == 'students' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
          </tr>
        </thead>
        <tbody>
          {% for kit in kit_usage %}
            <tr>
              <td>{{kit.name}}</td>
              <td>{{kit.unit_cost|floatformat:2|default_if_none:""|intcomma}}</td>
              <td>{{kit.count}}</td>
              <td>{{kit.total_cost|floatformat:"2"|intcomma}}</td>
              <td>{{kit.teacher_count}}</td>
              <td>{{kit.workplace_count}}</td>
              <td>{{kit.classes}}</td>
              <td>{{kit.students}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "bcse_app/Pagination.html" with model=kit_usage location='bottom'%}
    {% else %}
      <div class="warning center">No lab activity matching your search criteria found</div>
    {% endif %}
  </div>
  <div id="consumable_summary_container" class="tab-pane fade" role="tabpanel" aria-labelledby="consumable_summary-tab">
    {% if consumable_usage %}
      {% include "bcse_app/Pagination.html" with model=consumable_usage location='top'%}
      <table class="table table-bordered table-striped export" id="consumable_summary">
        <thead>
          <tr>
            <th> Consumable {% if sort_by == 'name' %} &nbsp; <i class="fa-regular fa-arrow-down-short-wide"></i> {% endif %}</th>
            <th> Unit Cost ($)</th>
            <th> Usage Count {% if sort_by == 'usage' %}  &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> Total Cost ($) {% if sort_by == 'total_cost' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> # of Unique Teachers {% if sort_by == 'teachers' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> # of Unique Workplaces {% if sort_by == 'workplaces' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> # of Classes {% if sort_by == 'classes' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> # of Students {% if sort_by == 'students' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
          </tr>
        </thead>
        <tbody>
          {% for consumable in consumable_usage %}
            <tr>
              <td>{{consumable.name}}</td>
              <td>{{consumable.unit_cost|floatformat:"2"|default_if_none:""|intcomma}}</td>
              <td>{{consumable.count}}</td>
              <td>{{consumable.total_cost|floatformat:"2"|intcomma}}</td>
              <td>{{consumable.teacher_count}}</td>
              <td>{{consumable.workplace_count}}</td>
              <td>{{consumable.classes}}</td>
              <td>{{consumable.students}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "bcse_app/Pagination.html" with model=consumable_usage location='bottom'%}
    {% else %}
      <div class="warning center">No consumables matching your search criteria found</div>
    {% endif %}
  </div>

  <div id="workplace_summary_container" class="tab-pane fade" role="tabpanel" aria-labelledby="workplace_summary-tab">
    {% if workplace_usage %}
      {% include "bcse_app/Pagination.html" with model=workplace_usage location='top'%}
      <table class="table table-bordered table-striped export" id="workplace_summary">
        <thead>
          <tr>
            <th> Workplace {% if sort_by == 'name' %} &nbsp; <i class="fa-regular fa-arrow-down-short-wide"></i> {% endif %} </th>
            <th> # of Reservations {% if sort_by == 'reservations' %}  &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> # of Equipment</th>
            <th> Equipment Cost ($)</th>
            <th> # of Activity Kits Used </th>
            <th> Activity Kit Cost ($)</th>
            <th> # of Consumables Used </th>
            <th> Consumables Cost ($)</th>
            <th> Total Cost ($) <br>(Equipment + Kit + Consumable) {% if sort_by == 'total_cost' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> # of Unique Teachers {% if sort_by == 'teachers' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> # of Classes {% if sort_by == 'classes' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
            <th> # of Students {% if sort_by == 'students' %} &nbsp; <i class="fa-regular fa-arrow-down-wide-short"></i> {% endif %}</th>
          </tr>
        </thead>
        <tbody>
          {% for workplace in workplace_usage %}
            <tr>
              <td>{{workplace.name}}</td>
              <td>{{workplace.reservations}}</td>
              <td>{{workplace.equipment}}</td>
              <td>{{workplace.total_equipment_cost|floatformat:"2"|intcomma}}</td>
              <td>{{workplace.kits}}</td>
              <td>{{workplace.total_kit_cost|floatformat:"2"|intcomma}}</td>
              <td>{{workplace.consumables}}</td>
              <td>{{workplace.total_consumables_cost|floatformat:"2"|intcomma}}</td>
              <td>{{workplace.total_cost|floatformat:"2"|intcomma}}</td>
              <td>{{workplace.teacher_count}}</td>
              <td>{{workplace.classes}}</td>
              <td>{{workplace.students}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "bcse_app/Pagination.html" with model=workplace_usage location='bottom'%}
    {% else %}
      <div class="warning center">No workplace matching your search criteria found</div>
    {% endif %}
  </div>

</div>
<script type="text/javascript">
  $(function (){
    $('.nav-link').on('click', function(){
      var active_tab = $(this).attr('id');
      $("#active_tab").val(active_tab);
    });

    var active_tab = $("#active_tab").val();
    $("#"+active_tab).addClass('active');
    var active_target = $("#"+active_tab).data('bs-target');
    $(active_target).addClass('show active');

    if($("#download").val() == "1") {
      $("#download").val("0");
      var tables = $('table.export').map(function() {
        return this.id;
      }).get();
      exportTablesToExcel(tables, 'Baxter Box Usage.xlsx', true);
    }

  });
</script>
