{% extends "bcse_app/base.html" %}
{% load bcse_extras %}


{% block content %}
  {{block.super}}
  <div class="content">
    <div class="baxter_box_info container">
      <h1> The Baxter Box Program </h1>
      <p class="callout">Our goal is to advance equity in STEM education by increasing access to authentic science experiences. Chicagoland educators can borrow materials and equipment for FREE! Make your reservation today. Workshop participation is highly recommended but not required.</p>

      <h3 class="center">Questions? Contact <a href="mailto:bcse@northwestern.edu">bcse@northwestern.edu</a>
      </h3>
      <div class="mb-3 center">
        {% if user.is_authenticated %}
          <label><a class="btn" href="{% url 'bcse:reservationNew' %}" role="button">Reserve</a></label>
        {% else %}
          <label><a class="btn signin" href="?next={% url 'bcse:signin' %}?next=/reservation/new" role="button">Sign In to Reserve</a></label>
        {% endif %}

        {% if blackout_messages %}
          <br><br>
          <div class="warning">
            <!--p>Delivery and Pickup are not available on the following dates:</p>
            <ul>
              {% for blackout_date in blackout_dates %}
                <li>{{blackout_date.start_date|date:"F j, Y"}} - {{blackout_date.end_date|date:"F j, Y"}} </li>
              {% endfor %}
            </ul-->
            <!--{% for blackout_date in blackout_dates %}
              {% if blackout_date.start_date|is_future %}
                {% with available_until=blackout_date.start_date|add_days_to_date:-1%}
                <p>Delivery and pickup are available until {{available_until|date:"F j, Y"}} for this school year. <br> Reservations for the 23-24 school year will become available later in summer.</p>
                {% endwith %}
              {% else %}
                {% with available_from=blackout_date.end_date|add_days_to_date:-14%}
                {% if available_from|is_future %}
                  <p>Reservations for the 23-24 school year will become available later in the summer.</p>
                {% endif %}
                {% endwith %}
              {% endif %}
            {% endfor %}-->
            {% for blackout_message in blackout_messages %}
              {{blackout_message.message}}<br>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <label><a class="nav-link" aria-current="page" id="activities_tab">Activities</a></label>
        </li>
        <li class="nav-item">
          <label><a class="nav-link" aria-current="page" id="equipment_tab">Lab Equipment</a></label>
        </li>
      </ul>
      <div class="filter_container">
        <form method="get" action="{% url 'bcse:baxterBoxSearch' %}" id="baxter_box_filter_form" class="filter_form">
          {% csrf_token %}
          <div class="form-group right" id="filter_toggle">
            <label style="display:none;">Show Filters <span class="fa fa-plus-circle"></span></label>
            <label>Hide Filters <span class="fa fa-minus-circle"></span></label>
          </div>
           <div id="filter_content">
            <div id="filter_fields">
              {% for field in searchForm %}
                <div class="form-group">
                  <label for="id_{{field.name}}">{{ field.label }}</label>
                  <div>{{field}}</div>
                  <div class="error">{{ field.errors }}</div>
                </div>
              {% endfor %}
            </div>

            <div class="form-group right" id="filter_buttons">
              <input type="hidden" id="current_tab" value="activities_tab"/>
              <button class="btn" type="button" id="clear">Clear Filter</button>
            </div>
          </div>
        </form>
      </div>
      <div class="form-group" id="spinner">
        <img src="/static/img/page-loader.gif" class="icon"/>
      </div>

      <div class="baxter_boxes search_results">
        {% include "bcse_app/ActivityTiles.html" %}
        {% include "bcse_app/EquipmentTiles.html" %}
      </div>

      <div class="mt-3 center">
        {% if user.is_authenticated %}
          <label><a class="btn" href="{% url 'bcse:reservationNew' %}" role="button">Reserve</a></label>
        {% else %}
          <label><a class="btn signin" href="?next={% url 'bcse:signin' %}?next=/reservation/new" role="button">Sign In to Reserve</a>
        </label>
        {% endif %}
      </div>
    </div>

    <script type="text/javascript">
      $(function(){
        window.onload = function() {
          $('a#activities_tab').on('click', function(e){
            $('a.nav-link').removeClass('active');
            $('.tiles').hide();
            $(this).addClass('active');
            $('.tiles.activity_tiles').show();
            $('input#current_tab').val('activities_tab')
            $('.filter_container').show();
          });
          $('a#equipment_tab').on('click', function(e){
            $('a.nav-link').removeClass('active');
            $('.tiles').hide();
            $(this).addClass('active');
            $('.tiles.equipment_tiles').show();
            $('input#current_tab').val('equipment_tab');
            $('.filter_container').hide();
          });
          $('a#activities_tab').trigger('click');

          $('select.select2').select2({
            placeholder: {
              id: '-1', // the value of the option
              text: '---------'
            }
          });
          $('.filter_form').submit();
        }
      });
    </script>
  </div>

{% endblock %}
