<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">{{title}}</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="kit_info">
        <div class="kit_image">
          {% if kit.image %}
            <img src="{{kit.image.url}}"/>
          {% endif %}
        </div>
        <div class="kit_details">
          <div>{{kit.description|safe}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
