{% load bcse_extras %}
{% load base_extras %}

<div class="faq">
  <div class="callout"><b><i>Planning my Baxter Box </i></b></div>
  <ul class="callout">
    <li>What should I do before making a reservation?
      <ul>
        <li>We encourage teachers to attend our free workshops to test out and learn about our lab activities. We understand that not every lab will be covered so we highly encourage you to take a look at the teacher manuals or work with us to see what labs and equipment will work best for your students. </li>
      </ul>
    </li>

    <li>How far in advance should I make a reservation?
      <ul>
        <li>For typical reservations of 1-4 kits, we ask that you reserve materials at least two weeks in advance. For larger requests, please email us so we can discuss your idea and see what is possible. If you aren't able to reserve materials two weeks in advance, you can always email us and we will try our best!</li>
      </ul>
    </li>

    <li>I’m not familiar with labs available through the program but want to try it out! Could I get some help?
      <ul>
        <li>Yes! The Baxter Center provides free professional development workshops for Chicago area educators to test out Baxter Box activities. Can’t make it? Email us and we’d be happy to provide resources and space to learn more about our labs.</li>
      </ul>
    </li>

    <li>Do I have to attend a workshop in order to reserve equipment?
      <ul>
        <li>Workshop participation is highly recommended but not required.</li>
      </ul>
    </li>

    <li>Yikes! Some of these labs seem a bit challenging? How can I bring something like gel electrophoresis into my middle school classroom?

      <ul>
        <li>Please reach out to us! We have a community of amazing teachers who have brought these labs to their middle school classroom and have some fun tips and tricks you would be interested in.
        </li>
      </ul>
    </li>

    <li>Where do these labs come from?

      <ul>
        <li>We typically purchase labs through third party vendors such as Bio-Rad, miniPCR bio, Carolina, Edvotek. They provide some amazing materials! Our goal is to provide you materials for free with supplemental support.
        </li>
      </ul>
    </li>

    <li>How does delivery / drop off work?

      <ul>
        <li>The Baxter Center team is happy to drop off and pick up materials directly from your school! When you make a reservation, the website requires you to choose a Monday or Friday for delivery and/or pick up. We will reach out to you to confirm the exact day of delivery/pick up ahead of time. We most often leave supplies at the main office/security.
        </li>
      </ul>
    </li>

    <li>Can someone help in my classroom?

      <ul>
        <li>Yes! We understand that a great deal of work goes into running a lab activity with your students. That is why we are available to support our educators through the process. We can help...
          <ul>
            <li>Plan the activity. </li>
            <li>Scaffold the materials and concepts for your students.</li>
            <li>Figure out what materials you need and how to prepare them. </li>
            <li>Run the lab as your assistant.</li>
            <li>Troubleshoot on the fly.</li>
            <li>Dispose properly of materials.</li>

          </ul>

        </li>
        <li>We love working with you and your students! To make the most of this experiment, we hope that you will run the lab activity and we’ll be a background support.
        </li>
      </ul>
    </li>

  </ul>

  <div class="callout"><b><i>Baxter Box Care </i></b></div>
  <ul class="callout">
    <li>How should I store my Baxter Box?

      <ul>
        <li>Some items are temperature sensitive! Please be on the lookout for consumables that should be stored in a fridge or freezer. Typically these are provided in our Baxter Center cooler lunch bags with an ice pack.
        </li>
      </ul>
    </li>

    <li>Oh no! I and/or one of my students broke a piece of equipment! What should I do?

      <ul>
        <li>No worries! We understand that accidents can happen, just please leave a note on the equipment impacted and give us a heads up over email.
        </li>
      </ul>
    </li>

    <li>How should I pack my Baxter Box?

      <ul>
        <li>Please pack it up as you found it! You could help us and other teachers in the following ways</li>
        <li>Throw away any gels in the trash, wipe dry all of the components from your electrophoresis systems. </li>
        <li>Place the pipettes back in the boxes. If any were twisted out of range, please leave a note and let us know!</li>
        <li>Return any unused consumables unless you have an immediate need for them.</li>
        <li>Please return all pipette tip boxes, even if empty! We will refill them for the next teacher. </li>
        <li>Please pack up the microliter madness kits (silicone gels, practice cards, template sheets, food coloring containers, petri dishes). You can return your used tips (food coloring only) in the provided bag. Do not put used tips back into the tip boxes. </li>

      </ul>
    </li>

    <li>How should I dispose of items in my lab?

      <ul>
        <li>Most used pipette tips, centrifuge tubes, paper towels can be disposed of in the trash, however please reference the vendors safety data sheets typically found on their website. Labs that involve bacteria require a bleach bath for all materials that come in contact with bacteria. </li>
        <li>Pipette tips that were ONLY used for pipetting food coloring + water, when learning to pipette, can be returned to us for re-use. Please put them in a labeled ziploc bag, not in the pipette tips boxes. </li>
      </ul>
    </li>
  </ul>


  <div class="callout"><b><i>Scope & Guidelines </i></b></div>
  <ul class="callout">
    <li>Is there a limit to how many labs I can borrow in a year?
      <ul>
        <li>We would love to supply everyone with all the science materials in the world!! However we have a limited budget and capacity to be able to run this program. To be good stewards of our resources, we will have to balance how we use and prioritize materials across the Chicago area. We are able to provide up to 10 kits per school per year, not including learning to pipette kits (microliter madness).</li>
      </ul>
    </li>
    <li>What if I want more than 10 kits a year?
      <ul>
        <li>If you are interested in more than that, we will work with you to make sure we’re still creating a sustainable impact for everyone. Equity is at the forefront of our work. With that, we want to be able to prioritize our resources to schools with students that come from low-income backgrounds and communities of color. </li>
      </ul>
    </li>

    <li>My co-teachers and I are really interested in testing out one of the labs available through the Baxter Box program! We will need 5+ kits. Is this something we can order through the program?

      <ul>
        <li>If you’re looking to run something with more than 5 or more kits or across multiple sections / school wide, please email us at bcse@northwestern.</li>
      </ul>
    </li>

    <li>What if I am a private school teacher or an out of school educator?
      <ul>
        <li>We prioritize supporting public schools, but if our capacity allows, we are happy to help you try out a lab!</li>
      </ul>
    </li>

    <li>What if my school is outside of Cook or Lake County?
      <ul>
        <li>Our delivery range is limited at this time to Cook and Lake County.
        </li>
      </ul>
    </li>

    <li>What if I am a K-5 educator?
      <ul>
        <li>As much as we love elementary school educators, the materials we provide in the Baxter Box program are beyond the scope of the elementary school experience. </li>
      </ul>
    </li>
    <li>
      How can I help make this a sustainable program for all?
      <ul>
        <li>We understand that getting funding for a new lab can be hard and we want to provide these labs at no cost so you can test them out and see if they are a good fit for your classroom. If these labs are something you are interested in doing year over year, let’s talk about how to get funding to build up your own inventory of equipment and supplies. Our wish is to create a sustainable, long lasting impact for all Chicago area classrooms. </li>
      </ul>
    </li>
  </ul>
</div>
