{% extends "bcse_app/base.html" %}
{% load bcse_extras %}
{% load base_extras %}


{% block content %}
  {{block.super}}
  <div class="content">
    <div id="support" class="container">
      <h1 class="center"> Classroom Support </h1>
      
      <h2>Whether you are teaching in-person, hybrid, or virtually, we know that doing high-level labs with students is always easier with a helping hand.</h2>
      <p class="callout">We understand that a great deal of work goes into running a lab activity with your students. That is why we are available to support our educators through the process.</p>
      <img class="curve left" src="{% staticfile 'img/student.jpg' %}">
      <p class="callout"> In addition to delivering and picking up our demo kits, we can help you </p>
      <div class="callout">
        <ul>
          <li>Plan the activity</li>
          <li>Scaffold the materials and concepts for your students</li>
          <li>Figure out what materials you need and how to prepare them</li>
          <li>Run the lab as your assistant</li>
          <li>Troubleshoot on the fly</li>
          <li>Dispose properly of materials.</li>
        </ul>
      </div>
      <h2>We are also always on hand to answer questions and you can email, call, or text us whenever you need!</h2>
      <p class="callout center mt-5">To schedule help for an upcoming lab activity, contact us directly at <a href="mailto:bcse@northwestern.edu">bcse@northwestern.edu</a>
      </p>
      <div class="mt-3 center">
        {% if user.is_authenticated %}
          <label><a class="btn" href="{% url 'bcse:reservationNew' %}" role="button">Reserve</a></label>
        {% else %}
          <label><a class="btn signin" href="?next={% url 'bcse:signin' %}?next=/reservation/new" role="button">Sign In to Reserve</a></label>
        {% endif %}
      </div>
      <hr>
      <div class="testimonials">
        <h3>What our teachers are saying</h3>
        <div class="testimonial left">The resources (supplies and staff support) have allowed me to actually use the labs and feel more confident in equipment set-up.
        </div>
        <div class="testimonial left">The significance of the BCSE is immeasurable and invaluable! Without the BCSE I could not do these labs without the expertise, hands on learning and equipment they provide with additional resources.  The BCSE has made me grow and learn as a teacher!</div>
        <div class="testimonial left">BCSE is providing me with a large part of the equipment I need. If I didn't have the assistance, I wouldn't be able to bring these ideas into the classroom in physical form.</div>
      </div>
    </div>    
  </div>
{% endblock %}
