{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Collaborators </h1>
  <div class="button-row">
    <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#partner" data-href="{% url 'bcse:collaboratorNew' %}" href="#">Create Collaborator</a>
  </div>
  <div class="search_results static">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th> ID</th>
          <th> Name </th>
          <th> URL </th>
          <th> Order </th>
          <th> Status </th>
          <th> Created Date</th>
          <th> Modified Date </th>
          <th> Action </th>
        </tr>
      </thead>
      <tbody>
        {% for collaborator in collaborators %}
          <tr>
            <td> {{collaborator.id}}</td>
            <td> {{collaborator.name}} </td>
            <td> {{collaborator.url}} </td>
            <td> {{collaborator.order}} </td>
            <td> {{collaborator.get_status_display}} </td>
            <td> {{collaborator.created_date|date:"F j, Y g:i A"}}</td>
            <td> {{collaborator.modified_date|date:"F j, Y g:i A"}} </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#partner" data-href="{% url 'bcse:collaboratorEdit' collaborator.id %}" href="#">Edit</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item delete action" data-href="{% url 'bcse:collaboratorDelete' collaborator.id %}"
                    data-title="the collaborator <strong>{{collaborator.name}}</strong>">
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
