<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">Update Consumable {{consumable.name}}</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="UpdateMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>

    <form id="formConsumableUpdate" method="post" action="{% url 'bcse:consumableUpdate' consumable.id %}">
      {% csrf_token %}
      {{form.media}}
      <div class="modal-body">
        {{form.id}}

        <div class="form-group mb-3">
          <label for="id_{{form.inventory.name}}">
            {{ form.inventory.label|title }}
            {% if form.inventory.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div>{{form.inventory}}</div>
          <div class="error">{{ form.inventory.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Inventory <button type="button" class="btn" onclick="cloneForm('consumableinventory_set', 'inventory_formset')">Add </button> </label>
          <table class="table table-condensed table-bordered">
            <thead>
              <tr>
                <th>Storage Location</th>
                <th>Count</th>
                <th>Expiration Date</th>
                <th>Notes</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="inventory_formset">
              {{formset.management_form}}
              {% for form in formset %}
                {{form.id}}
                <tr class="form-row">
                  <td>
                    {{form.storage_location}}
                    <div class="error">{{ form.storage_location.errors }}</div>
                  </td>
                  <td>
                    {{form.count}}
                    <div class="error">{{ form.count.errors }}</div>
                  </td>
                  <td>
                     <div class="input-group">
                        {{form.expiration_date}}
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                      </div>
                    <div class="error">{{ form.expiration_date.errors }}</div>
                  </td>
                   <td>
                    {{form.notes}}
                    <div class="error">{{ form.notes.errors }}</div>
                  </td>
                  <td>
                    {{form.DELETE.as_hidden}}
                    <button type="button" class="btn btn-danger delete_inventory"><i class="fa-solid fa-trash-can"></i></button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.notes.name}}">
            {{ form.notes.label|title }}
            {% if form.notes.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div>{{form.notes}}</div>
          <div class="error">{{ form.notes.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.unit_cost.name}}">
            {{ form.unit_cost.label|title }}  ($)
            {% if form.unit_cost.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div>{{form.unit_cost}}</div>
          <div class="error">{{ form.unit_cost.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.color.name}}">
            {{ form.color.label }}
            {% if form.color.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div>{{form.color}}</div>
          <div class="error">{{ form.color.errors }}</div>
        </div>
        <div class="form-group" id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="submit" class="btn btn-success" id="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function (){

    $("#formConsumableUpdate").submit(function(e){
      e.preventDefault();

      for (var instance in CKEDITOR.instances) {
        CKEDITOR.instances[instance].updateElement();
      }
      var formData = new FormData(this);

      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: formData,
        cache:false,
        contentType: false,
        processData: false,
        beforeSend: function(){
          $('#formConsumableUpdate #spinner').show();
        },
        complete: function(){
          $('#formConsumableUpdate #spinner').hide();
        },
        success: function(data, status) {
          if(data['success'] == true){
            window.parent.location.reload();
          }
          else{
            $('#kit').html(data['html']);
            bindDateTimePicker();
          }
        },
        error: function(){
          displayErrorDialog();
        }
      });
    });

    bindInventoryRowDelete();

  });
</script>


