{% extends "bcse_app/base.html" %}
{% load base_extras %}
{% load bcse_extras %}

{% block content %}
  {{block.super}}

  <div class="content">
    <div class="about_us container">
      <div class="contact">
        <h1>Contact Us</h1>
        <div class="mail">
          <h2 class="center">Comments? Questions? Suggestions? We want to hear from you! </h2>
        </div>

        <div id="icons_container">
          <div class="icon">
            <a href="https://www.facebook.com/bcse.nu/" target="_blank">
              <i class="fa-brands fa-facebook fa-3x"></i>
              <h4>facebook.com/bcse.nu</h4>
            </a>
          </div>

          <div class="icon">
            <a href="https://www.instagram.com/bcse_nu" target="_blank">
              <i class="fa-brands fa-instagram fa-3x"></i>
              <h4>instagram.com/bcse_nu</h4>
            </a>
          </div>

          <div class="icon">
            <a href="mailto:bcse@northwestern.edu" target="_top">
              <i class="fa-regular fa-envelope fa-3x"></i>
              <h4>bcse@northwestern.edu</h4>
            </a>
          </div>

          <div class="icon">
            {% if user.is_authenticated %}
            <a href="{% url 'bcse:subscribe' %}">
              <i class="fa-solid fa-inbox fa-3x"></i>
              <h4>Newsletter Subscription</h4>
            </a>
            {% else %}
              <a class="modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:subscribe' %}" href="#">
                <i class="fa-solid fa-inbox fa-3x"></i>
                <h4>Newsletter Subscription</h4>
              </a>
            {% endif %}
          </div>

          <div class="icon">
            <a href="https://maps.app.goo.gl/WEHyQyfEQTHK6x3XA" target="_blank">
              <i class="fa-solid fa-location-dot fa-3x"></i>
              <h4>640 Colfax St, Evanston, IL 60208</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
        
{% endblock %}
