{% extends "bcse_app/base.html" %}
{% load base_extras %}
{% load bcse_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
    <div class="about_us container">
      <div class="contact">
        <h1>Contact Us</h1>
        <div class="mail">
          <h2 class="center">Comments? Questions? Suggestions? We want to hear from you! </h2>
          <h3 class="center">Email us <a href="mailto:bcse@northwestern.edu" target="_top">bcse@northwestern.edu</a></h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
