{% extends "bcse_app/EmailBase.html" %}
{% load base_extras %}
{% load bcse_extras %}

{% block emailbody %}
   <div id="dates">
      <div>
         <h3>Hi!</h3>
         <div>Your reservation request for {{reservation.delivery_date|date:"l, F j, Y"}} has been received. </div>
         <div>We will review your request and you will receive another email when we have confirmed your reservation.</div>
         <div>In the mean time you may review your reservation <a href="https://{{domain}}/reservation/{{reservation.id}}/view" style="color:white;">here</a>
      </div>
   </div>
{% endblock %}

