{% extends "bcse_app/EmailBase.html" %}
{% load base_extras %}
{% load bcse_extras %}

{% block emailbody %}
   <div id="text">
      <h3>Hi!</h3>
      <div>
         Your reservation request for the lab
         <b>
         {% if reservation.activity %}
            {{reservation.activity}}
         {% else %}
            {{reservation.other_activity_name}}
         {% endif %}
         </b> with a tentative delivery date of <b>{{reservation.delivery_date|date:"l, F j, Y"}}</b> has been received.
      </div>
      <div>
         {% if reservation.activity %}
            {% get_low_stock_message reservation.activity.id as low_stock_message %}
            {% if low_stock_message %}
               <span class="warning">{{low_stock_message}}</span>
            {% endif %}
         {% endif %}
         <span>We will review your request and you will receive another email when we have confirmed your reservation.</span>
      </div>

      <div>In the mean time you may review your reservation <a href="https://{{domain}}/reservation/{{reservation.id}}/view">here</a></div>
   </div>
{% endblock %}

