{% extends "bcse_app/EmailBase.html" %}
{% load base_extras %}
{% load bcse_extras %}

{% block emailbody %}
   <div id="text">
      <h3>Hi!</h3>
      <div>
         We hope you and your students enjoyed
         {% if reservation.activity %}
            {{reservation.activity.name}}
         {% else %}
            {{reservation.other_activity}}
         {% endif %}. Please <a href="https://{{domain}}/?next=/signin/?next=/?next=/survey/{{survey.id}}/submission/new?reservation_id={{reservation.id}}">click here</a> to complete a short survey to provide your feedback. This feedback helps us improve our resources for awesome teachers like you. Thank you so much for your time!
      </div>
   </div>
{% endblock %}

