{% extends "bcse_app/EmailBase.html" %}
{% load bcse_extras %}

{% block emailbody %}
   <div id="dates">
      <div>
         <h3>Hi!</h3>
         <h3>Thanks for your reservation. </h3>
         <div>The countdown to your delivery starts now.</div>
      </div>
      <table cellspacing="0">
         <tbody>
            {% if reservation.delivery_date %}
              <tr class="row">
                 <td class="col title"align="left">Delivery Date</td>
                 <td class="col date" align="right">{{reservation.delivery_date|date:"l, F j, Y"}}</td>
              </tr>
            {% endif %}
            {% if reservation.return_date %}
              <tr class="row">
                 <td class="col title" align="left">Return Date </td>
                 <td class="col date" align="right">{{reservation.return_date|date:"l, F j, Y"}}</td>
              </tr>
            {% endif %}
            <tr class="row">
               <td class="col title" align="left">Reservation</td>
               <td class="col" align="right"><a href="https://{{domain}}/reservation/{{reservation.id}}/view" style="color:white;">View Reservation</a></td>
            </tr>
            <tr class="row address">
               <td class="col title" align="left">
                  <div>Delivery Details</div>
                  <div><a href="https://{{domain}}/reservation/{{reservation.id}}/edit" style="color:white;">Edit</a></div>
               </td>
               <td class="col" align="right">
                  <table cellspacing="0" class="address">
                     <tbody>
                        <tr>
                           <td class="col left" align="center">Your Baxter Box will be coming from</td>
                           <td class="col right" align="center">Your Baxter Box will be delivered to</td>
                        </tr>
                        <tr class="fromto">
                           <td class="col left" align="left">
                            OCEP office at Colfax
                           </td>
                           <td class="col right" align="right">
                            {% with user=reservation.user.user work_place=reservation.user.work_place %}
                              <div>{{user.get_full_name}}</div>
                              <div>{{work_place.name}}</div>
                              {% if work_place.district_num %}
                                <div>District# {{work_place.district_num}}</div>
                              {% endif %}
                              <div>{{work_place.street_address_1}}</div>
                              {% if work_place.street_address_2 %}
                                <div>{{work_place.street_address_2}}</div>
                              {% endif %}
                              <div>{{work_place.city}}, {{work_place.state}} {{work_place.zip_code}}</div>
                              <div style="font-style: italic;">Note: If your information has changed, please update your profile.</div>
                            {% endwith %}
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   {% if reservation.activity and not reservation.activity_kit_not_needed or reservation.equipment %}
     <div id="equipment">
        <div>
           <h3>You have reserved the following kits.</h3>
        </div>
        <table cellspacing="0">
           <tbody>
              {% if reservation.activity and not reservation.activity_kit_not_needed %}
                <tr class="kit row">
                   <td class="col details" align="left">
                      <div class="title"> {{reservation.activity.kit_name}} x
                        {% if reservation.num_of_classes and reservation.num_of_classes != '5' %}
                          {{reservation.num_of_classes}}
                        {% elif reservation.more_num_of_classes %}
                           {{reservation.more_num_of_classes}}
                        {% endif %}
                     </div>
                   </td>
                   <td class="col" align="center">
                      <div class="tile">
                         <div class="title">{{reservation.activity.kit_name}}</div>
                         <div class="image"><img class="preview" src="{{reservation.activity.image.url}}"></div>
                      </div>
                   </td>
                </tr>
              {% endif %}
              {% if reservation.equipment %}
                {% for equipment in reservation.equipment.all %}
                  <tr class="kit row">
                     <td class="col details" align="left">
                        <div class="title">{{equipment.equipment_type.name}} </div>
                        <div class="description">
                           {{equipment.equipment_type.description|safe}}
                        </div>
                     </td>
                     <td class="col" align="center">
                        <div class="tile">
                           <div class="image"><img class="preview" src="{{equipment.equipment_type.image.url}}"></div>
                           <div class="title">{{equipment.equipment_type.name}}</div>
                        </div>
                     </td>
                  </tr>
                {% endfor %}
              {% endif %}
           </tbody>
        </table>
     </div>
   {% endif %}
   <div id="question">
      <div id="placeholder_logo">? </div>
      <h3>Questions about your Reservation?</h3>
      <h3>Need some help in the classroom?</h3>
      <div id="mail"><a href="https://{{domain}}/reservation/{{reservation.id}}/view" style="color:white;">MESSAGE US</a> </div>
   </div>

{% endblock %}

