{% load bcse_extras %}
{% load base_extras %}

{% if equipment_types %}
  <div class="tiles equipment_tiles">
    {% for equipment in equipment_types %}
      <div class="tile equipment_tile modal-open" data-bs-toggle="modal" data-bs-target="#kit" data-href="{% url 'bcse:equipmentTypeView' equipment.id %}">
        <div class="image">
          {% if equipment.image and equipment.image.url %}
            <img class="preview" src="{{equipment.image.url}}">
          {% else %}
            <img class="preview" src="{% staticfile 'img/supplies.png' %}">
          {% endif %}
        </div>
        <div class="title">
          <h5 class="center">{{equipment.name}}</h5>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
<div class="tiles equipment_tiles">
  <div class="warning center">No equipment matching your search criteria found</div>
</div>
{% endif %}
