{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  {% if form.instance.id %}
    <h1 class="center"> {{form.instance.name}} </h1>
  {% else %}
    <h1 class="center"> Create Equipment Type </h1>
  {% endif %}
  <div class="admin_form">
    <form method="post" enctype="multipart/form-data" id="formWorkshopCategory">
      {% csrf_token %}
      {{form.media}}

      <div class="form-group mb-3">
        <label for="id_{{form.name.name}}" class="form-label"> {{form.name.label|title}}</label>
        <div>{{form.name}}</div>
        <div class="error">{{ form.name.errors }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="id_{{form.short_name.name}}" class="form-label"> {{form.short_name.label|title}}</label>
        <div>{{form.short_name}}</div>
        <div class="error">{{ form.short_name.errors }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="id_{{form.description.name}}" class="form-label"> {{form.description.label|title}}</label>
        <div>{{form.description}}</div>
        <div class="error">{{ form.description.errors }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="id_{{form.unit_cost.name}}" class="form-label"> {{form.unit_cost.label|title}} ($)</label>
        <div>{{form.unit_cost}}</div>
        <div class="error">{{ form.unit_cost.errors }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="id_{{form.tags.name}}" class="form-label"> {{form.tags.label|title}}
          <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{form.tags.help_text}}"></i>
        </label>
        <div>{{form.tags}}</div>
        <div class="error">{{ form.tags.errors }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="id_{{form.image.name}}" class="form-label"> {{form.image.label|title}}</label>
        {% if form.instance.id and form.instance.image.url %}
          <div class="image_preview">
            <img src="{{form.instance.image.url}}" class="icon" alt="">
          </div>
        {% endif %}
        <div>{{form.image}}</div>
        <div class="error">{{ form.image.errors }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="id_{{form.order.name}}" class="form-label"> {{form.order.label|title}}</label>
        <div>{{form.order}}</div>
        <div class="error">{{ form.order.errors }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="id_{{form.status.name}}" class="form-label"> {{form.status.label|title}}</label>
        <div>{{form.status}}</div>
        <div class="error">{{ form.status.errors }}</div>
      </div>
      <div class="form-group mb-3 right">
        {% if form.instance.id %}
          <button type="button" class="btn btn-danger delete action" data-href="{% url 'bcse:equipmentTypeDelete' form.instance.id %}" data-title="the equipment type <strong>{{form.instance.name}}</strong>">
            Delete
          </button>
        {% endif %}
        <button class="btn" type="submit" id="submit_bottom">
          Save
        </button>
      </div>

    </form>
  </div>
{% endblock %}
