{% if giveaways %}
  {% include "bcse_app/Pagination.html" with model=giveaways location='top' %}
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th> ID</th>
        <th> Name </th>
        <th> Description </th>
        <th> Image </th>
        <th> Max Qty. </th>
        <th> Available Qty. </th>
        <th> On Hold Qty. </th>
        <th> Given Qty. </th>
        <th> Status </th>
        <th> Created Date</th>
        <th> Modified Date </th>
        <th> Action </th>
      </tr>
    </thead>
    <tbody>
      {% for giveaway in giveaways %}
        <tr>
          <td> {{giveaway.id}}</td>
          <td> {{giveaway.name}} </td>
          <td> {{giveaway.description|safe}} </td>
          <td> {{giveaway.image}} </td>
          <td> {{giveaway.max_quantity_allowed|default_if_none:""}} </td>
          <td> {{giveaway.available_quantity|default_if_none:""}} </td>
          <td> {{giveaway.on_hold_quantity|default_if_none:""}} </td>
          <td> {{giveaway.given_quantity|default_if_none:""}} </td>
          <td> {{giveaway.get_status_display}} </td>
          <td> {{giveaway.created_date|date:"F j, Y g:i A"}}</td>
          <td> {{giveaway.modified_date|date:"F j, Y g:i A"}} </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Action
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:giveawayEdit' giveaway.id %}" href="#">Edit</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  {% if giveaway.request_detail.count > 0 %}
                    <a class="dropdown-item action" onclick="displayWarningDialog('<strong>{{giveaway.name}}</strong> is associated with {{ giveaway.request_detail.count }} requests and cannot be deleted');">
                      Delete
                    </a>
                  {% else %}
                    <a class="dropdown-item delete action" data-href="{% url 'bcse:giveawayDelete' giveaway.id %}"
                    data-title="<strong>{{giveaway.name}}</strong>">
                      Delete
                    </a>
                  {% endif %}
                </li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "bcse_app/Pagination.html" with model=giveaways location='bottom' %}

{% else %}
  <div class="warning center">No giveaways matching your search criteria found</div>
{% endif %}
