{% load base_extras %}
<div class="homepage_block">
  <div>
    <h1>{{homepage_block.title}}</h1>
    <img class="curve" alt="" src="{{homepage_block.image.url}}">
    <h2 class="left">{{homepage_block.sub_title|default:""}}</h2>
    <div class="wysiwyg_content">{{homepage_block.description|safe}}</div>
  </div>
  <br><br>
  <div class="center">
    {% if homepage_block.button_url %}
      <a class="btn" href="{{homepage_block.button_url}}">
        {% if homepage_block.button_text %}
          {{homepage_block.button_text}}
        {% else %}
          Learn More
        {% endif %}
      </a>
    {% endif %}
  </div>

</div>
