{% load base_extras %}
<div id="slides">
   <div class="banner">
      <div class="banner_text play">
         <img src="{% staticfile 'img/hortense.png' %}">
         <div class="text">
            <i class="far fa-play-circle play" aria-hidden="true"></i>
            <br>
            Celebrating our Founder, Hortense Brice!
         </div>
      </div>
      <div class="banner_text video">
         <iframe id="banner_video" src="https://www.youtube.com/embed/Y3FscE-A9D8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
      </div>
   </div>
   <div class="banner">
      <div class="banner_text play">
         <img src="{% staticfile 'img/banner_3.jpg' %}">
         <div class="logo">
            <img src="{% staticfile 'img/BCSEEvergreen2019.png' %}">
         </div>
         <div class="text">
            <i class="far fa-play-circle play" aria-hidden="true"></i>
            <br>
            What is The Baxter Center?
         </div>
      </div>
      <div class="banner_text video"><iframe id="banner_video" src="https://www.youtube.com/embed/YGxotyw4EjQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
   </div>
   <div class="banner">
      <div class="banner_text">
         <img src="{% staticfile 'img/banner_1.jpg' %}">
         <div class="text">Over 240,000 students reached.</div>
      </div>
   </div>
   <div class="banner">
      <div class="banner_text">
         <img src="{% staticfile 'img/banner_2.jpg' %}">
         <div class="text">Over 3,659 teachers trained.</div>
      </div>
   </div>
</div>
