<form class="form" method="post" action="{% if form.instance.id %}{% url 'bcse:inventoryEdit' form.instance.id inventory_type %} {% else %} {% url 'bcse:inventoryNew' inventory_type %}{% endif %}" id="formInventory">
  {% csrf_token %}
  {{form.media}}
  {{form.management_form}}
  {% if inventory_type == 'A' %}
  <div class="form-group mb-3">
    <label for="id_{{form.activity.name}}" class="form-label">
      {{ form.activity.label }}
      {% if form.activity.field.required %}
      (<span class="required">*</span>)
      {% endif %}
    </label>
    <div>{{form.activity}}</div>
    <div class="error">{{ form.activity.errors }}</div>
  </div>
  {% else %}
  <div class="form-group mb-3">
    <label for="id_{{form.consumable.name}}" class="form-label">
      {{ form.consumable.label }}
      {% if form.consumable.field.required %}
      (<span class="required">*</span>)
      {% endif %}
    </label>
    <div>{{form.consumable}}</div>
    <div class="error">{{ form.consumable.errors }}</div>
  </div>
  {% endif %}
  <div class="form-group mb-3">
    <label for="id_{{form.count.name}}" class="form-label">
      {{ form.count.label }}
      {% if form.count.field.required %}
      (<span class="required">*</span>)
      {% endif %}
    </label>
    <div>{{form.count}}</div>
    <div class="error">{{ form.count.errors }}</div>
  </div>
  <div class="form-group mb-3">
    <label for="id_{{form.expiration_date.name}}" class="form-label">
      {{ form.expiration_date.label }}
      {% if form.expiration_date.field.required %}
      (<span class="required">*</span>)
      {% endif %}
    </label>
    <div class="input-group">
      {{form.expiration_date}}
      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
    </div>
    <div class="error">{{ form.expiration_date.errors }}</div>
  </div>
  <div class="form-group mb-3">
    <label for="id_{{form.storage_location.name}}" class="form-label">
      {{ form.storage_location.label }}
      {% if form.storage_location.field.required %}
      (<span class="required">*</span>)
      {% endif %}
    </label>
    <div>{{form.storage_location}}</div>
    <div class="error">{{ form.storage_location.errors }}</div>
  </div>
  <div class="form-group mb-3">
    <label for="id_{{form.notes.name}}" class="form-label">
      {{ form.notes.label }}
      {% if form.notes.field.required %}
      (<span class="required">*</span>)
      {% endif %}
    </label>
    <div>{{form.notes}}</div>
    <div class="error">{{ form.notes.errors }}</div>
  </div>

</form>

<script type="text/javascript">
  $(function (){

    $('#formInventory').submit(function(e){
      e.preventDefault();
      var formData = new FormData(this);
      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: formData,
        dataType: 'json',
        context: this,
        cache:false,
        contentType: false,
        processData: false,
        success: function(data, status) {
          console.log(status);
          if(data['success'] == true){
            console.log('success');
            $('#general').modal('toggle');
            window.parent.location.reload();
          }
          else{
            $('#inventory_form').html(data['html']);
            bindTooltipTrigger();
            bindDateTimePicker();
            bindSelect2();
          }
        },
        error: function(){
          displayErrorDialog();
        }
      });
    });

  });
</script>

