<div class="outreach">
 <div class="circle" id="total_teachers">
    <div class="figure">
       <div class="count">3959</div>
       <div class="text">Total teachers trained</div>
    </div>
 </div>
 <div class="circle" id="baxter_boxes">
    <div class="figure">
       <div class="count">1900+</div>
       <div class="text">Baxter Box lab kits distributed</div>
    </div>
 </div>
 <div class="circle" id="youtube_views">
    <div class="figure">
       <div class="count">38,100+</div>
       <div class="text">YouTube Channel views</div>
    </div>
 </div>
 <div class="circle" id="total_students">
    <div class="figure">
       <div class="since">since 2009</div>
       <div class="count">260,000</div>
       <div class="text">estimated students reached</div>
    </div>
 </div>
 <div class="circle" id="total_schools">
    <div class="figure">
       <div class="count">426</div>
       <div class="text">Total schools reached</div>
    </div>
 </div>
 <div class="circle" id="total_workshops">
    <div class="figure">
       <div class="count">260</div>
       <div class="text">Total workshops</div>
    </div>
 </div>
</div>
