<div class="outreach">
 <div class="circle" id="total_teachers">
    <div class="figure">
       <div class="count">2198</div>
       <div class="text">Total teachers trained</div>
    </div>
 </div>
 <div class="circle" id="baxter_boxes">
    <div class="figure">
       <div class="count">1200</div>
       <div class="text">Baxter Box lab kits distributed</div>
    </div>
 </div>
 <div class="circle" id="cps_teachers">
    <div class="figure">
       <div class="count">1187</div>
       <div class="text">Chicago Public School teachers trained</div>
    </div>
 </div>
 <div class="circle" id="total_students">
    <div class="figure">
       <div class="since">since 2009</div>
       <div class="count">164,000</div>
       <div class="text">estimated students reached</div>
    </div>
 </div>
 <div class="circle" id="total_schools">
    <div class="figure">
       <div class="count">340</div>
       <div class="text">Total schools reached</div>
    </div>
 </div>
 <div class="circle" id="total_workshops">
    <div class="figure">
       <div class="count">127</div>
       <div class="text">Total workshops</div>
    </div>
 </div>
</div>
