<div class="outreach">
 <div class="circle" id="total_teachers">
    <div class="figure">
       <div class="count">4,174</div>
       <div class="text">Total teachers trained</div>
    </div>
 </div>
 <div class="circle" id="baxter_boxes">
    <div class="figure">
       <div class="count">2,000</div>
       <div class="text">Baxter Box lab kits distributed</div>
    </div>
 </div>
 <div class="circle" id="total_students">
    <div class="figure">
       <div class="since">Since 2009</div>
       <div class="count">285,000</div>
       <div class="text">Estimated students reached</div>
    </div>
 </div>
 <div class="circle" id="total_schools">
    <div class="figure">
       <div class="count">448</div>
       <div class="text">Total schools reached</div>
    </div>
 </div>
 <div class="circle" id="total_workshops">
    <div class="figure">
       <div class="count">260</div>
       <div class="text">Total workshops hosted or collaborated</div>
    </div>
 </div>
</div>
