{% extends "bcse_app/base.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
    <div id="reservations" class="container">
      <h1 class="center"> My Reservations </h1>
      <div class="button-row">
        <label><a class="btn" href="{% url 'bcse:reservationNew' %}" role="button">Make New Reservation</a></label>
        <button class="btn export_reservations" type="button">Export Reservations</button>
      </div>
      {% include "bcse_app/ReservationsSearch.html" %}
      <div class="form-group" id="spinner">
        <img src="/static/img/page-loader.gif" class="icon"/>
      </div>
       <div class="reservations search_results">
       </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function (){
      $('form#reservation_filter_form').submit();
    });
  </script>
{% endblock %}
