<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      {% if form.instance.id %}
        <h3 class="left"> Edit Baxter Box Sub-Status </h3>
      {% else %}
        <h3 class="left"> Create Baxter Box Sub-Status  </h3>
      {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="blackoutDateMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>
    <form class="form" method="post" action="{% if form.instance.id %}{% url 'bcse:reservationColorEdit' form.instance.id %} {% else %} {% url 'bcse:reservationColorNew' %}{% endif %}" id="formReservationColor">
      {% csrf_token %}
      <div class="modal-body">
        <div class="form-group mb-3">
          <label for="id_{{form.name.name}}" class="form-label"> {{form.name.label}}
            {% if form.name.field.required %}
              (<span class="required">*</span>)
            {% endif %}</label>
          <div class="input-group">
            {{form.name}}
          </div>
          <div class="error">{{ form.name.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.color.name}}" class="form-label"> {{form.color.label}}
            {% if form.color.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div class="input-group">
            {{form.color}}
          </div>
          <div class="error">{{ form.color.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.description.name}}" class="form-label"> {{form.description.label}}
            {% if form.description.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div class="input-group">
            {{form.description}}
          </div>
          <div class="error">{{ form.description.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.low_stock.name}}" class="form-label"> {{form.low_stock.label|title}}
            {% if form.low_stock.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div class="input-group">
            {{form.low_stock}}
          </div>
          <div class="error">{{ form.low_stock.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.low_stock_message.name}}" class="form-label"> {{form.low_stock_message.label|title}}
            {% if form.low_stock_message.field.required %}
              (<span class="required">*</span>)
            {% endif %}
            <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{form.low_stock_message.help_text}}"></i>
          </label>
          <div class="input-group">
            {{form.low_stock_message}}
          </div>
          <div class="error">{{ form.low_stock_message.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.rank.name}}" class="form-label"> {{form.rank.label}}
            {% if form.rank.field.required %}
              (<span class="required">*</span>)
            {% endif %}
            <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{form.rank.help_text}}"></i>
          </label>
          <div class="input-group">
            {{form.rank}}
          </div>
          <div class="error">{{ form.rank.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.target.name}}" class="form-label"> {{form.target.label|title}}
            {% if form.target.field.required %}
              (<span class="required">*</span>)
            {% endif %}
             <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{form.target.help_text}}"></i>
          </label>
          <div class="input-group">
            {{form.target}}
          </div>
          <div class="error">{{ form.target.errors }}</div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group buttons">
          <button type="submit" class="btn btn-success">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  $(function (){

     $('input#id_low_stock').on('change', function(e){
      //checkbox checked
      if($(this).is(':checked')){
        $('#id_low_stock_message, #id_rank').closest('.form-group').show();
      }
      else{
        $('#id_low_stock_message').val('').closest('.form-group').hide();
        $('#id_rank').val('').closest('.form-group').hide();
      }
     });


    $('#formReservationColor').submit(function(e){
      e.preventDefault();

      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: $(this).serialize(),
        dataType: 'json',
        success: function(data, status) {
          console.log(status);
          if(data['success'] == true){
            console.log('success');
            $('#general').modal('toggle');
            location.reload();
          }
          else{
            $('#general').html(data['html']);
          }
        },
        error: function(){
          alert("Something went wrong.");
        }
      });
    });

    $('input#id_low_stock').trigger('change');

  });
</script>


