<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">Update Color for Reservation ID {{reservation_id}}</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="ColorMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>

    <form class="form" id="formReservationColor" method="post" action="{% url 'bcse:reservationAssignedColorEdit' reservation_id %}">
      {% csrf_token %}

      <div class="modal-body"> 

        <div class="row mb-3">
          <div class="form-group">
            <label for="id_{{form.color.name}}">
              {{ form.color.label }}
              {% if form.color.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{form.color}}</div>
            <div class="error">{{ form.color.errors }}</div>
          </div>          
        </div>
        <div class="form-group" id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-group">
          <button type="submit" class="btn btn-success" id="submit">Save</button>
        </div>
      </div>

    </form>
  </div>
</div>

<script type="text/javascript">
  $(function (){

    $("#formReservationColor").submit(function(e){
      e.preventDefault();
      var formData = new FormData(this);
      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: formData,
        dataType: 'json',
        context: this,
        cache:false,
        contentType: false,
        processData: false,
        beforeSend: function(){
          $('#formReservationColor #spinner').show();
        },
        complete: function(){
          $('#formReservationColor #spinner').hide();
        },
        success: function(data, status) {
          if(data['success'] == true){
            window.parent.location.reload();
          }
          else{
            $('#profile').html(data['html']);
          }
        },
        error: function(){
          displayErrorDialog();
        }
      });
    });

  });
</script>


