{% load bcse_extras %}
{% load base_extras %}

{% if tag == 'profile' %}
  <h2 class="center">My Baxter Box Reservations</h2>
{% endif %}
{% if reservations %}
  {% if tag == 'reservations' %}
    {% include "bcse_app/Pagination.html" with model=reservations location='top' %}
  {% endif %}
  {% if user.is_authenticated and user.userProfile.user_role in 'TP' and tag == 'profile' %}
    <div class="right mb-3">
      <button class="btn download profile" type="button">Export Reservations</button>
    </div>
  {% endif %}
  <table class="table table-bordered table-striped export" id="baxter_box_reservations">
    <thead>
      <tr>
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'ID' in columns %}
          <th> ID</th>
        {% endif %}
        {% if 'CR' in columns or tag == 'profile' %}
          <th> Reservation Made On</th>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'UR' in columns %}
          <th> User </th>
        {% endif %}
         {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'EM' in columns %}
          <th> Email </td>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'AC' in columns %}
          <th> Activity </th>
        {% endif %}
        {% if 'KT' in columns or tag == 'profile' %}
          <th> Kit </th>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'CO' in columns %}
          <th> Consumables </th>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'GL' in columns %}
          <th> Include Gloves </th>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'GO' in columns %}
          <th> Include Goggles </th>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'IV' in columns %}
          <th> Kit Inventory </th>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'IN' in columns %}
          <th> Inventory Notes</th>
        {% endif %}
        {% if 'EQ' in columns or tag == 'profile' %}
          <th> Equipment </th>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'UN' in columns %}
          <th> Pickup/Return<br>Notes</th>
        {% endif %}
        {% if 'CC' in columns %}
          <th> Comments<br>(New/Total)</th>
        {% endif %}
        {% if 'DD' in columns or tag == 'profile' %}
          <th> Delivery Date </th>
        {% endif %}
        {% if 'RD' in columns or tag == 'profile'%}
          <th> Return Date </th>
        {% endif %}
        {% if 'DA' in columns %}
          <th> Delivery Address </th>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' %}
          {% if 'DI' in columns %}
            <th> Delivery Distance (miles) </th>
          {% endif %}
          {% if 'DT' in columns %}
            <th> Delivery Travel Time (mins) </th>
          {% endif %}
          {% if 'AN' in columns %}
            <th> Admin Notes </th>
          {% endif %}
          {% if 'HP' in columns %}
            <th> Help Needed? </th>
          {% endif %}
          {% if 'AT' in columns %}
            <th> Assigned To </th>
          {% endif %}
          {% if 'ES' in columns %}
            <th> Confirmation Email Sent? </th>
          {% endif %}
          {% if 'FS' in columns %}
            <th> Feedback Status </th>
          {% endif %}
        {% endif %}
        {% if 'ST' in columns or tag == 'profile' %}
          <th> Status </th>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'profile' %}
          <th> Workplace </th>
        {% endif %}
        <th class='ignore-column'> Action </th>
      </tr>
    </thead>
    <tbody>
      {% get_baxterbox_feedback_survey as survey %}
      {% for reservation in reservations %}
        {% with total_messages=reservation|get_reservation_all_message_count:user.userProfile  new_messages=reservation|get_reservation_new_message_count:user.userProfile %}
        {% if new_messages and tag == 'reservations' %}
          <tr class="needs_attention" title="New message">
        {% elif user.is_authenticated and user.userProfile.user_role in 'AS' and reservation.additional_help_needed and not reservation.color and tag == 'reservations' %}
          <tr class="needs_attention" title="Help requested">
        {% elif user.is_authenticated and user.userProfile.user_role in 'AS' and reservation.color and tag == 'reservations' %}
          <tr style="background-color: {{reservation.color.color}};" title="{{reservation.color.description}}">
        {% else %}
           <tr>
        {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'ID' in columns %}
            <td> {{reservation.id}}</td>
          {% endif %}
          {% if 'CR' in columns or tag == 'profile' %}
            <td>{{reservation.created_date|date:"F j, Y"}}</td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'UR' in columns %}
            <td> {{reservation.user.user.last_name}}, {{reservation.user.user.first_name}} </td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'EM' in columns %}
            <td> {{reservation.user.user.email}} </td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'AC' in columns %}
            <td>
              {% if reservation.activity %}
                {{reservation.activity}}
              {% elif reservation.other_activity %}
                {{reservation.other_activity_name}}
              {% endif %}
            </td>
          {% endif %}
          {% if 'KT' in columns or tag == 'profile' %}
            <td class="kit">
              {% if reservation.activity and not reservation.activity_kit_not_needed %}
                <a class="modal-open" data-bs-toggle="modal" data-bs-target="#kit" data-href="{% url 'bcse:activityView' reservation.activity.id %}" href="#">
                  {{reservation.activity.kit_name}} x
                  {% if reservation.num_of_classes and reservation.num_of_classes != '5' %}
                    {{reservation.num_of_classes}}
                  {% elif reservation.more_num_of_classes %}
                     {{reservation.more_num_of_classes}}
                  {% endif %}
                </a>
              {% endif %}
            </td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'CO' in columns %}
            <td>
              <ul>
                {% for consumable in reservation.consumables.all %}
                  <li>{{consumable}}<br></li>
                {% endfor %}
              </ul>
            </td>
          {% endif %}

          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'GL' in columns %}
            <td>
              <i class="fa-solid fa-mitten"></i>
              {{reservation.include_gloves|yesno:"Yes,No"}}
            </td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'GO' in columns %}
            <td>
              <i class="fa-solid fa-glasses"></i>
              {{reservation.include_goggles|yesno:"Yes,No"}}
            </td>
          {% endif %}

          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'IV' in columns %}
            <td>{{reservation.activity.inventory|default_if_none:""|safe}}</td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'IN' in columns %}
            <td>{{reservation.activity.notes|default_if_none:""|safe}}</td>
          {% endif %}
          {% if 'EQ' in columns or tag == 'profile' %}
            <td class="equipment">
              <ul>
                {% if user.is_authenticated %}
                  {% if user.userProfile.user_role in 'AS' and tag == 'reservations' %}
                    {% for equipment in reservation.equipment.all %}
                      <li>
                        <a class="modal-open" data-bs-toggle="modal" data-bs-target="#kit" data-href="{% url 'bcse:equipmentTypeView' equipment.equipment_type.id %}" href="#">
                          {{equipment.name}}
                        </a>
                        &nbsp;
                        {% with overbooked=equipment|is_equipment_overbooked:reservation %}
                          {% if overbooked %}
                            <a class="modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:equipmentOverbookedReservations' equipment.id reservation.id %}" href="#"><i class="fa-solid fa-calendar-circle-exclamation"  title="Overbooked. Click to view overbooking schedule."></i></a>
                          {% endif %}
                        {% endwith %}
                      </li>
                    {% endfor %}
                  {% else %}
                    {% for equipment_type in reservation|get_reservation_equipment_types %}
                      <li>
                        <a class="modal-open" data-bs-toggle="modal" data-bs-target="#kit" data-href="{% url 'bcse:equipmentTypeView' equipment_type.id %}" href="#">
                          {{equipment_type.name}}
                        </a>
                      </li>
                    {% endfor %}
                  {% endif %}
                {% endif %}
              </ul>
            </td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'UN' in columns %}
            <td>{{reservation.notes|default_if_none:""}}</td>
          {% endif %}
          {% if 'CC' in columns %}
            <td>
              {% if total_messages %}
                {% if new_messages %}
                  <a href="{% url 'bcse:reservationView' reservation.id %}"><strong>{{new_messages}}</strong></a>/{{total_messages}}
                {% else %}
                  {{total_messages}}
                {% endif %}
              {% endif %}
            </td>
          {% endif %}
          {% if 'DD' in columns %}
            <td>{{reservation.delivery_date|date:"l, F j, Y"}}</td>
          {% elif  tag == 'profile' %}
            <td>{{reservation.delivery_date|date:"F j, Y"}}</td>
          {% endif %}
          {% if 'RD' in columns %}
            <td>{{reservation.return_date|date:"l, F j, Y"}}</td>
          {% elif tag == 'profile' %}
            <td>{{reservation.return_date|date:"F j, Y"}}</td>
          {% endif %}
          {% if 'DA' in columns %}
            <td>
              {% if reservation.delivery_address %}
                {{reservation.delivery_address.street_address_1}}<br>
                {% if reservation.delivery_address.street_address_2 %}
                  {{reservation.delivery_address.street_address_2}}<br>
                {% endif %}
                {{reservation.delivery_address.city}}, {{reservation.delivery_address.state}} {{reservation.delivery_address.zip_code}}
              {% else %}
                {% with work_place=reservation.reservation_to_work_place.work_place %}
                  {{work_place.name}}<br>
                  {{work_place.street_address_1}}<br>
                  {% if work_place.street_address_2 %}
                    {{work_place.street_address_2}}<br>
                  {% endif %}
                  {% if work_place.city %}
                    {{work_place.city}},
                  {% endif %}
                  {{work_place.state}} {{work_place.zip_code}}
                {% endwith %}
              {% endif %}
            </td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' %}
            {% if reservation.delivery_address %}
              {% if 'DI' in columns %}
                <td> {{reservation.delivery_address.distance_from_base|default_if_none:""}} </td>
              {% endif %}
              {% if 'DT' in columns %}
                <td> {{reservation.delivery_address.time_from_base|default_if_none:""}} </td>
              {% endif %}
            {% else %}
              {% if 'DI' in columns %}
                <td> {{reservation.user.work_place.distance_from_base|default_if_none:""}} </td>
              {% endif %}
              {% if 'DT' in columns %}
                <td> {{reservation.user.work_place.time_from_base|default_if_none:""}} </td>
              {% endif %}
            {% endif %}
            {% if 'AN' in columns %}
              <td>{{reservation.admin_notes|default_if_none:""}}</td>
            {% endif %}
            {% if 'HP' in columns %}
              <td>
                <i class="fa-solid fa-handshake-angle"></i>
                {{reservation.additional_help_needed|yesno:"Yes,No"}}
              </td>
            {% endif %}
            {% if 'AT' in columns %}
              <td>{{reservation.assignee.user.get_full_name|default:"Not Assigned"}}</td>
            {% endif %}
            {% if 'ES' in columns %}
              <td>{{reservation.email_sent|yesno:"Yes,No"}}</td>
            {% endif %}
            {% if 'FS' in columns %}
              <td>
                {{reservation.get_feedback_status_display|default:""}}
                {% if reservation.feedback_email_count %}
                  <hr>
                  Email sent {{reservation.feedback_email_count}} time{{reservation.feedback_email_count|pluralize}}
                  <hr>
                  Last email sent {{reservation.feedback_email_date|date:"F j, Y"}}
                {% endif %}
              </td>
            {% endif %}
          {% endif %}
          {% if 'ST' in columns or tag == 'profile' %}
            <td> {{reservation.get_status_display}} </td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'profile' %}
            <td> {{reservation.reservation_to_work_place.work_place}} </td>
          {% endif %}
          <td class='noExl'>
            <div class="btn-group">
              <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Action
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="{% url 'bcse:reservationView' reservation.id %}">View</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  {% if user.userProfile.user_role in 'TP' %}
                    {% if reservation.status in 'RNOI' %}
                      <a class="dropdown-item warn action" data-title="This reservation is <strong>{{reservation.get_status_display}}</strong>.  Please message us if you need to make any modifications.">Edit</a>
                    {% elif reservation.delivery_date|is_past %}
                      <a class="dropdown-item warn action" data-title="This reservation is in the past. Please message us if you need to make any modifications.">Edit</a>
                    {% else %}
                      <a class="dropdown-item" href="{% url 'bcse:reservationEdit' reservation.id %}">Edit</a>
                    {% endif %}
                  {% else %}
                    <a class="dropdown-item" href="{% url 'bcse:reservationEdit' reservation.id %}">Edit</a>
                  {% endif %}
                </li>
                {% if user.userProfile.user_role in 'AS' %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#profile" data-href="{% url 'bcse:reservationUpdate' reservation.id %}" href="#">Update Color/Status/Notes</a></li>
                  {% if reservation.activity %}
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#kit" data-href="{% url 'bcse:reservationActivityUpdate' reservation.activity.id reservation.id %}">Update Inventory</a>
                    </li>
                  {% endif %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'bcse:reservationMessageDismiss' reservation.id %}">Dismiss Messages</a></li>
                  {% get_reservation_feedback reservation.id as reservation_feedback %}
                  {% if reservation_feedback %}
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:surveySubmissionViewModal' reservation_feedback.survey.id reservation_feedback.UUID %}" href="#">
                        View Feedback
                      </a>
                    </li>
                  {% else %}
                    {% activate_reservation_feedback reservation.id as activate_feedback %}
                    {% if activate_feedback %}
                      <li><hr class="dropdown-divider"></li>
                      <li>
                        <a class="dropdown-item useAjax" data-href="{% url 'bcse:reservationFeedbackEmailSend' reservation.id %}" data-title="feedback" href="#">
                          Send Feedback Email
                        </a>
                      </li>
                    {% endif %}
                  {% endif %}
                  {% if reservation.status != 'N' %}
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:surveySubmissionNew' survey.id %}?reservation_id={{reservation.id}}" href="#">Create Feedback</a>
                    </li>
                  {% endif %}

                  {% if reservation.status not in 'UN' %}
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item action useAjax" data-href="{% url 'bcse:reservationConfirmationEmailSend' reservation.id %}" data-title="confirmation" href="#">
                        {% if reservation.email_sent %}
                          Resend
                        {% else %}
                          Send
                        {% endif %}
                        Confirmation Email
                      </a>
                    </li>
                  {% endif %}

                  {% if reservation.status != 'N' %}
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item cancel action" data-href="{% url 'bcse:reservationCancel' reservation.id %}" data-title="the reservation id <strong>{{reservation.id}}</strong>">Cancel Reservation</a>
                    </li>
                  {% endif %}
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" target="_blank" href="{% url 'bcse:userProfileView' reservation.user.id %}">View User Profile</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:reservationConfirmationEmailView' reservation.id %}">Preview Confirmation Email</a>
                  </li>
                {% else %}
                  {% if reservation.status != 'N' %}
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      {% if reservation.status in 'IO' %}
                        <a class="dropdown-item warn action" data-title="This reservation is <strong>{{reservation.get_status_display}}</strong> and cannot be cancelled">Cancel Reservation</a>
                      {% elif reservation.delivery_date|is_past %}
                        <a class="dropdown-item warn action" data-title="This reservation is in the past and cannot be cancelled">Cancel Reservation</a>
                      {% else %}
                        <a class="dropdown-item cancel action" data-href="{% url 'bcse:reservationCancel' reservation.id %}" data-title="the reservation id <strong>{{reservation.id}}</strong>">Cancel Reservation</a>
                      {% endif %}
                    </li>
                  {% endif %}
                {% endif %}
              </ul>
            </div>
          </td>
        </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
  {% if tag == 'reservations' %}
    {% include "bcse_app/Pagination.html" with model=reservations location='bottom'%}
  {% endif %}
{% else %}
  {% if user.is_authenticated and user.userProfile.user_role in 'TP' %}
    <div class="warning center">You do not have any Baxter Box reservation</div>
  {% elif tag == 'reservations' %}
    <div class="warning center">No reservations matching your search criteria found</div>
  {% endif %}
{% endif %}

<script type="text/javascript">
  $(function (){
    if($("#download").val() == "1") {
      $("#download").val("0");
      var tables = $('table.export').map(function() {
        return this.id;
      }).get();
      exportTablesToExcel(tables, 'Reservations.xlsx', true);
    }

    $('.download.profile').on('click', function(){
      var tables = $('table.export').map(function() {
        return this.id;
      }).get();
      exportTablesToExcel(tables, 'Reservations.xlsx', true);
    });
  });
</script>
