{% extends "bcse_app/base.html" %}
{% load bcse_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
    {% if form.instance.id %}
      <h1> {{form.instance}} </h1>
    {% else %}
      <h1> Create Reservation </h1>
    {% endif %}
    {% include "bcse_app/ReservationTabs.html" with reservation=form.instance %}
    <div id="reservation_container">
      <div class="reservation_form">
        <form method="post" enctype="multipart/form-data" id="reservationForm">
          {% csrf_token %}
          {{form.management_form}}

          {% for field in form %}
            <div class="form-group mb-3">
              <label for="id_{{field.name}}" class="form-label"> {{field.label}}</label>
              <div>{{field}}</div>
              <div class="error">{{ field.errors }}</div>
            </div>
          {% endfor %}
          <input type="hidden" id="checking_availability" name="checking_availability" value="0"/>
          <button class="btn btn-warning" type="submit" id="check_availability">Check Availibility</button>
          <button class="btn btn-success" type="submit" id="submit">
            {% if form.instance.id %}
              Save Reservation
            {% else %}
              Make Reservation
            {% endif %}
          </button>
          {% if form.instance.id %}
            <button class="btn btn-danger delete action" data-href="{% url 'bcse:reservationDelete' form.instance.id %}" data-title="this reservation">Delete</button>
          {% endif %}
        </form>
      </div>
      <div class="availability_calendar">
        {% if availability_calendar %}
          {% for calendar in availability_calendar %}
            {{calendar|safe}}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function (){
      $('button#check_availability').click(function(e){
        //e.preventDefault();
        $('#checking_availability').val("1");
        //$('form#reservationForm').submit();
      });

      $('button#submit').click(function(e){
        //e.preventDefault();
        $('#checking_availability').val("0");
        //$('form#reservationForm').submit();
      });
    });
  </script>
{% endblock %}
