{% extends "bcse_app/base.html" %}
{% load bcse_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
    <div class="reservation_container container">
      <h1>
        {% if reservation.status in 'R' %}
          Reservation Confirmation
        {% else %}
          Reservation Details
        {% endif %}
      </h1>
      {% include "bcse_app/ReservationTabs.html" with tab='view' %}
      <div id="reservation_container">
        <div class="reservation_contact_details">
          <div class="reservation_details">
            <h3 class="underline">Reservation Details</h3>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>Activity Name:</th>
                  <td>
                      {% if reservation.activity %}
                        {{reservation.activity}}
                      {% else %}
                        {{reservation.other_activity_name}}
                      {% endif %}
                  </td>
                </tr>
                {% if user.is_authenticated and user.userProfile.user_role in 'AS' and reservation.consumables %}
                <tr>
                  <th>Consumables:</th>
                  <td>
                    <ul>
                      {% for consumable in reservation.consumables.all %}
                        <li>{{consumable}}</li>
                      {% endfor %}
                    </ul>
                  </td>
                </tr>
                {% endif %}
                {% if reservation.activity.manuals_resources %}
                  <tr>
                    <th>Manuals/Resources</th>
                    <td>
                        {{reservation.activity.manuals_resources|safe}}
                    </td>
                  </tr>
                {% endif %}
                <tr>
                  <th>Number of Classes:</th>
                  <td>
                    {% if reservation.num_of_classes and reservation.num_of_classes != '5' %}
                      {{reservation.num_of_classes}}
                    {% elif reservation.more_num_of_classes %}
                      {{reservation.more_num_of_classes}}
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th>Number of Students:</th>
                  <td>{{reservation.num_of_students}}</td>
                </tr>
                <tr>
                  <th>Requested Lab Kits:</th>
                  <td>
                    {% if reservation.activity and not reservation.activity_kit_not_needed %}
                      <a class="modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:activityView' reservation.activity.id %}" href="#">
                        {{reservation.activity.kit_name}} x
                        {% if reservation.num_of_classes and reservation.num_of_classes != '5' %}
                          {{reservation.num_of_classes}}
                        {% elif reservation.more_num_of_classes %}
                          {{reservation.more_num_of_classes}}
                        {% endif %}
                      </a>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th>Include Gloves/Goggles:</th>
                  <td>{{reservation.include_gloves_goggles|yesno:"Yes,No"}}</td>
                </tr>
                <tr>
                  <th>Reserved Lab Equipment:</th>
                  <td>
                    {% if reservation.equipment %}
                    <ul>
                      {% for equipment in reservation.equipment.all %}
                        <li>
                          {% if user.is_authenticated %}
                            <a class="modal-open" data-bs-toggle="modal" data-bs-target="#kit" data-href="{% url 'bcse:equipmentTypeView' equipment.equipment_type.id %}" href="#">
                              {% if user.userProfile.user_role in 'AS'%}
                                {{equipment.name}}
                              {% else %}
                                {{equipment.equipment_type}}
                              {% endif %}
                            </a>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th>Help Requested:</th>
                  <td>{{reservation.additional_help_needed|yesno:"Yes,No"}}</td>
                </tr>
                <tr>
                  <th>Reservation Dates:</th>
                  <td>
                    {{reservation.delivery_date|date:"F j, Y"}}
                    {% if reservation.return_date %}
                      to {{reservation.return_date|date:"F j, Y"}}
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th>Delivery Address:</th>
                  <td>
                    <div class="delivery_address">
                      <div>
                        {% if reservation.delivery_address %}
                          {{reservation.delivery_address.street_address_1}}<br>
                          {% if reservation.delivery_address.street_address_2 %}
                            {{reservation.delivery_address.street_address_2}}<br>
                          {% endif %}
                          {{reservation.delivery_address.city}}, {{reservation.delivery_address.state}} {{reservation.delivery_address.zip_code}}
                        {% else %}
                          Delivery will be made to the <br>workplace address listed below. <br>
                          Please message us if the delivery <br>needs to be made to a different address.
                        {% endif %}
                      </div>
                      {% if user.is_authenticated and user.userProfile.user_role in 'AS'%}
                        <div>
                          <a class="btn btn-small modal-open" data-bs-toggle="modal" data-bs-target="#profile" data-href="{% url 'bcse:reservationDeliveryAddressEdit' reservation.id %}" href="#">Update Delivery Address</a>
                        </div>
                      {% endif %}
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Pickup/Return Notes:</th>
                  <td>{{reservation.notes|default_if_none:""}}</td>
                </tr>
                <tr>
                  <th>Reservation Status:</th>
                  <td>{{reservation.get_status_display}}</td>
                </tr>
                <tr>
                  <th>Reservation Made On:</th>
                  <td>{{reservation.created_date|date:"F j, Y"}}</td>
                </tr>
                {% if user.is_authenticated and user.userProfile.user_role in 'AS'%}
                  <tr>
                    <th>Admin Notes:</th>
                    <td>{{reservation.admin_notes|default_if_none:""}}</td>
                  </tr>
                  <tr>
                    <th>Confirmation Email Sent:</th>
                    <td>
                      <div class="reservation_email">
                        <div>
                          {{reservation.email_sent|yesno:"Yes,No"}}
                        </div>
                        <div>
                          {% if reservation.status == 'R' %}
                            <a class="btn btn-small useAjax" data-href="{% url 'bcse:reservationConfirmationEmailSend' reservation.id %}" data-title="confirmation" href="#">
                              {% if reservation.email_sent %}
                                Resend
                              {% else %}
                                Send
                              {% endif %}
                              Confirmation Email
                            </a>
                          {% endif %}
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% if reservation.email_sent %}
                  <tr>
                    <th>Confirmation Email Dates:</th>
                    <td>
                      {{reservation.confirmation_email_dates|safe}}
                    </td>
                  </tr>
                  {% endif %}
                  <tr>
                    <th>Feedback Status:</th>
                    <td>
                      <div class="reservation_email">
                        <div>
                          {{reservation.get_feedback_status_display|default:""}}
                          {% if reservation.feedback_email_count %}
                            <br>
                            Email sent {{reservation.feedback_email_count}} time{{reservation.feedback_email_count|pluralize}}
                            <br>
                            Last email sent {{reservation.feedback_email_date|date:"F j, Y"}}
                          {% endif %}
                        </div>
                        <div>
                          {% if reservation.status == 'I' %}
                            {% get_reservation_feedback reservation.id as reservation_feedback %}
                            {% if reservation_feedback %}
                              <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:surveySubmissionViewModal' reservation_feedback.survey.id reservation_feedback.UUID %}" href="#">
                                View Feedback
                              </a>
                            {% else %}
                              <a class="btn btn-small useAjax" data-href="{% url 'bcse:reservationFeedbackEmailSend' reservation.id %}" data-title="feedback" href="#">
                                Send Feedback Email
                              </a>
                            {% endif %}
                          {% endif %}
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Assigned To:</th>
                    <td>{{reservation.assignee.user.get_full_name|default:"Not Assigned"}}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          <hr>
          <div class="contact_details">
            <div class="header">
              <h3 class="underline">Contact Information</h3>
              <a class="btn btn-small modal-open" data-bs-toggle="modal" data-bs-target="#profile" data-href="{% url 'bcse:userProfileEdit' reservation.user.id %}" href="#">Update Profile</a>
            </div>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>User Full Name:</th>
                  <td>{{reservation.user.user.get_full_name}}</td>
                </tr>
                <tr>
                  <th>Email:</th>
                  <td>{{reservation.user.user.email}}</td>
                </tr>
                <tr>
                  <th>Phone:</th>
                  <td>{{reservation.user.phone_number}}</td>
                </tr>
                <tr>
                  <th>Workplace:</th>
                  <td>{{reservation.user.work_place.name}}</td>
                </tr>
                {% if reservation.user.work_place.district_number %}
                <tr>
                  <th>District #:</th>
                  <td>{{reservation.user.work_place.district_number}}</td>
                </tr>
                {% endif %}
                <tr>
                  <th>Street Address:</th>
                  <td>
                    {{reservation.user.work_place.street_address_1}}
                    {% if reservation.user.work_place.street_address_2 %}
                      <br>
                      {{reservation.user.work_place.street_address_2}}
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th>City:</th>
                  <td>{{reservation.user.work_place.city}}</td>
                </tr>
                <tr>
                  <th>State:</th>
                  <td>{{reservation.user.work_place.state}}</td>
                </tr>
                <tr>
                  <th>Zip Code:</th>
                  <td>{{reservation.user.work_place.zip_code}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="reservation_messages">
          <h3 class="underline">
            {% if reservation.status == 'O' or  reservation.status == 'R' or reservation.status == 'U' %}
              Questions? Changes? Message us here
            {% else %}
              Message Transcript
            {% endif %}
          </h3>
          <div class="message_dialog">
            {% for reservation_message_html in reservation_messages_html %}
              {{reservation_message_html}}
            {% endfor %}
          </div>
          <div class="message_form">
            {% if reservation.status == 'O' or  reservation.status == 'R' or reservation.status == 'U' %}
              <form method="post" id="messageForm" action="{% url 'bcse:reservationMessage' reservation.id %}">
                {{form.media}}
                {% csrf_token %}
                {{form.reservation.as_hidden}}
                {{form.created_by.as_hidden}}
                <div class="form-group mb-3">{{form.message}}</div>
                <div class="form-group mb-3 right">
                  <button class="btn btn-success" type="submit" id="messageSubmit">
                    <i class="fa fa-paper-plane"></i> Post
                  </button>
                </div>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div>
        <a class="btn" href="{% url 'bcse:reservationNew' %}" role="button">Make New Reservation</a>
        {% if user.is_authenticated %}
          {% if user.userProfile.user_role in 'AS'%}
            <button class="btn btn-danger delete action" data-href="{% url 'bcse:reservationDelete' reservation.id %}" data-title="this reservation">Delete</button>
          {% else %}
            {% if reservation.status != 'D' %}
              {% if reservation.status in 'IO' %}
                <a class="btn btn-danger warn action" data-title="This reservation is <strong>{{reservation.get_status_display}}</strong> and cannot be cancelled">Cancel</a>
              {% elif reservation.delivery_date|is_past %}
                <a class="btn btn-danger warn action" data-title="This reservation is in the past and cannot be cancelled">Cancel</a>
              {% else %}
                <a class="btn btn-danger cancel action" data-href="{% url 'bcse:reservationCancel' reservation.id %}" data-title="this reservation">Cancel</a>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function (){

      $('form#messageForm').on('submit', function(e){
        e.preventDefault();
        var message = CKEDITOR.instances.id_message.getData();
        var formData = new FormData(this);
        formData.append('message', message);
        formData.append('reservation', $("#id_reservation").val());
        formData.append('created_by', $("#id_created_by").val());
        $.ajax({
          type: $(this).attr('method'),
          url: this.action,
          data: formData,
          context: this,
          cache:false,
          contentType: false,
          processData: false,
          success: function(data){
            console.log(data);
            if (data['success'] = true) {
              CKEDITOR.instances.id_message.setData('');
              $('div.message_dialog').append(data['html']);
              scrollToRecentMessage();
            }
            else {
              displayErrorDialog();
            }
            return false;
          },
          error: function(xhr, ajaxOptions, thrownError){
            displayErrorDialog();
          },
        });
      });

      scrollToRecentMessage();

      function scrollToRecentMessage() {
        $('.message_dialog').scrollTop($('.message_dialog')[0].scrollHeight);
      }

    });
  </script>
{% endblock %}
