{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Baxter Box Colors </h1>
  <div class="button-row">
    <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:reservationColorNew' %}" href="#">Create Baxter Box Color</a>
  </div>
  <div class="search_results static">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th> ID</th>
          <th> Name </th>
          <th> Hex </th>
          <th> Color </th>
          <th> Description </th>
          <th> Low Stock </th>
          <th> Applicable Entity </th>
          <th> Created Date</th>
          <th> Modified Date </th>
          <th> Action </th>
        </tr>
      </thead>
      <tbody>
        {% for color in colors %}
          <tr>
            <td> {{color.id}}</td>
            <td> {{color.name}}</td>
            <td> {{color.color|upper}} </td>
            <td> <div class="color" style="background-color: {{color.color}};"></div></td>
            <td> {{color.description}} </td>
            <td> {{color.low_stock|yesno:"Yes,No"}}</td>
            <td> {{color.get_target_display}} </td>
            <td> {{color.created_date|date:"F j, Y g:i A"}}</td>
            <td> {{color.modified_date|date:"F j, Y g:i A"}} </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item action modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:reservationColorEdit' color.id %}" href="#">Edit</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item delete action" data-href="{% url 'bcse:reservationColorDelete' color.id %}"
                    data-title="the color <strong>{{color.name}}</strong>">
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
