{% load bcse_extras %}

{% if tag == 'profile' %}
  <h2 class="center">My Baxter Box Reservations</h2>
{% endif %}
{% if reservations %}
  <table class="table table-bordered table-striped" id="baxter_box_reservations">
    <thead>
      <tr class='noExl'>
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'ID' in columns %}
          <th> ID</th>
        {% endif %}
        {% if 'CR' in columns or tag == 'profile' %}
          <th> Reservation Made On</th>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'UR' in columns %}
          <th> User </th>
        {% endif %}
         {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'EM' in columns %}
          <th> Email </td>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'AC' in columns %}
          <th> Activity </th>
        {% endif %}
        {% if 'KT' in columns or tag == 'profile' %}
          <th> Kit </th>
        {% endif %}
        {% if 'EQ' in columns or tag == 'profile' %}
          <th> Equipment </th>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'UN' in columns %}
          <th> Pickup/Return<br>Notes</th>
        {% endif %}
        {% if 'CC' in columns %}
          <th> Comments<br>(New/Total)</th>
        {% endif %}
        {% if 'DD' in columns or tag == 'profile' %}
          <th> Delivery Date </th>
        {% endif %}
        {% if 'RD' in columns or tag == 'profile'%}
          <th> Return Date </th>
        {% endif %}
        {% if 'DA' in columns %}
          <th> Delivery Address </th>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' %}
          {% if 'DI' in columns %}
            <th> Delivery Distance (miles) </th>
          {% endif %}
          {% if 'DT' in columns %}
            <th> Delivery Travel Time (mins) </th>
          {% endif %}
          {% if 'AN' in columns %}
            <th> Admin Notes </th>
          {% endif %}
          {% if 'HP' in columns %}
            <th> Help Needed? </th>
          {% endif %}
          {% if 'AT' in columns %}
            <th> Assigned To </th>
          {% endif %}
          {% if 'ES' in columns %}
            <th> Confirmation Email Sent? </th>
          {% endif %}
        {% endif %}
        {% if 'ST' in columns or tag == 'profile' %}
          <th> Status </th>
        {% endif %}
        <th> Actions </th>
      </tr>
    </thead>
    <tbody>
      <tr style="display:none;">
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'ID' in columns %}
          <td style="background-color: #767676; color: white;"> ID</td>
        {% endif %}
        {% if 'CR' in columns or tag == 'profile' %}
          <td style="background-color: #767676; color: white;"> Reservation Made On</td>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'UR' in columns %}
          <td style="background-color: #767676; color: white;"> User </td>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'EM' in columns %}
          <td style="background-color: #767676; color: white;"> Email </td>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'AC' in columns %}
          <td style="background-color: #767676; color: white;"> Activity </td>
        {% endif %}
        {% if 'KT' in columns or tag == 'profile' %}
          <td style="background-color: #767676; color: white;"> Kit </td>
        {% endif %}
        {% if 'EQ' in columns or tag == 'profile' %}
          <td style="background-color: #767676; color: white;"> Equipment </td>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'UN' in columns %}
          <td style="background-color: #767676; color: white;"> Pickup/Return<br>Notes </td>
        {% endif %}
        {% if 'CC' in columns %}
          <td style="background-color: #767676; color: white;"> Comments<br>(New/Total)</td>
        {% endif %}
        {% if 'DD' in columns or tag == 'profile' %}
          <td style="background-color: #767676; color: white;"> Delivery Date </td>
        {% endif %}
        {% if 'RD' in columns or tag == 'profile' %}
          <td style="background-color: #767676; color: white;"> Return Date </td>
        {% endif %}
        {% if 'DA' in columns %}
          <td style="background-color: #767676; color: white;"> Delivery Address </td>
        {% endif %}
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' %}
          {% if 'DI' in columns %}
            <td style="background-color: #767676; color: white;"> Delivery Distance (miles) </td>
          {% endif %}
          {% if 'DT' in columns %}
            <td style="background-color: #767676; color: white;"> Delivery Travel Time (mins) </td>
          {% endif %}
          {% if 'AN' in columns %}
            <td style="background-color: #767676; color: white;"> Admin Notes </td>
          {% endif %}
          {% if 'HP' in columns %}
            <td style="background-color: #767676; color: white;"> Help Needed? </td>
          {% endif %}
          {% if 'AT' in columns %}
            <td style="background-color: #767676; color: white;"> Assigned To </td>
          {% endif %}
          {% if 'ES' in columns %}
            <td style="background-color: #767676; color: white;"> Confirmation Email Sent? </td>
          {% endif %}
        {% endif %}
        {% if 'ST' in columns or tag == 'profile' %}
          <td style="background-color: #767676; color: white;"> Status </td>
        {% endif %}
      </tr>
      {% for reservation in reservations %}
        {% with total_messages=reservation|get_reservation_all_message_count:user.userProfile  new_messages=reservation|get_reservation_new_message_count:user.userProfile %}
        {% if new_messages and tag == 'reservations' %}
          <tr class="needs_attention" title="New message">
        {% elif user.is_authenticated and user.userProfile.user_role in 'AS' and reservation.additional_help_needed and not reservation.color and tag == 'reservations' %}
          <tr class="needs_attention" title="Help requested">
        {% elif user.is_authenticated and user.userProfile.user_role in 'AS' and reservation.color and tag == 'reservations' %}
          <tr style="background-color: {{reservation.color.color}};" title="{{reservation.color.description}}">
        {% else %}
           <tr>
        {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'ID' in columns %}
            <td> {{reservation.id}}</td>
          {% endif %}
          {% if 'CR' in columns or tag == 'profile' %}
            <td>{{reservation.created_date|date:"F j, Y"}}</td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'UR' in columns %}
            <td> {{reservation.user}} </td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'EM' in columns %}
            <td> {{reservation.user.user.email}} </td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'AC' in columns %}
            <td>
              {% if reservation.activity %}
                {{reservation.activity}}
              {% elif reservation.other_activity %}
                {{reservation.other_activity_name}}
              {% endif %}
            </td>
          {% endif %}
          {% if 'KT' in columns or tag == 'profile' %}
            <td>
              {% if reservation.activity and not reservation.activity_kit_not_needed %}
                {{reservation.activity.kit_name}} x
                {% if reservation.num_of_classes and reservation.num_of_classes != '5' %}
                  {{reservation.num_of_classes}}
                {% elif reservation.more_num_of_classes %}
                   {{reservation.more_num_of_classes}}
                {% endif %}
              {% endif %}
            </td>
          {% endif %}
          {% if 'EQ' in columns or tag == 'profile' %}
            <td>
              <ul>
                {% for equipment in reservation.equipment.all %}
                  <li>
                    {{equipment.equipment_type}}
                    {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' %}
                      ({{equipment.name}})
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' and 'UN' in columns %}
            <td>{{reservation.notes|default_if_none:""}}</td>
          {% endif %}
          {% if 'CC' in columns %}
            <td>
              {% if total_messages %}
                {% if new_messages %}
                  <a href="{% url 'bcse:reservationView' reservation.id %}"><strong>{{new_messages}}</strong></a>/{{total_messages}}
                {% else %}
                  {{total_messages}}
                {% endif %}
              {% endif %}
            </td>
          {% endif %}
          {% if 'DD' in columns or tag == 'profile' %}
            <td>{{reservation.delivery_date|date:"F j, Y"}}</td>
          {% endif %}
          {% if 'RD' in columns or tag == 'profile' %}
            <td>{{reservation.return_date|date:"F j, Y"}}</td>
          {% endif %}
          {% if 'DA' in columns %}
            <td>
              {% if reservation.delivery_address %}
                {{reservation.delivery_address.street_address_1}}<br>
                {% if reservation.delivery_address.street_address_2 %}
                  {{reservation.delivery_address.street_address_2}}<br>
                {% endif %}
                {{reservation.delivery_address.city}}, {{reservation.delivery_address.state}} {{reservation.delivery_address.zip_code}}
              {% else %}
                {{reservation.user.work_place.name}}<br>
                {{reservation.user.work_place.street_address_1}}<br>
                {% if reservation.user.work_place.street_address_2 %}
                  {{reservation.user.work_place.street_address_2}}<br>
                {% endif %}
                {% if reservation.user.work_place.city %}
                  {{reservation.user.work_place.city}},
                {% endif %}
                {{reservation.user.work_place.state}} {{reservation.user.work_place.zip_code}}
              {% endif %}
            </td>
          {% endif %}
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'reservations' %}
            {% if reservation.delivery_address %}
              {% if 'DI' in columns %}
                <td> {{reservation.delivery_address.distance_from_base|default_if_none:""}} </td>
              {% endif %}
              {% if 'DT' in columns %}
                <td> {{reservation.delivery_address.time_from_base|default_if_none:""}} </td>
              {% endif %}
            {% else %}
              {% if 'DI' in columns %}
                <td> {{reservation.user.work_place.distance_from_base|default_if_none:""}} </td>
              {% endif %}
              {% if 'DT' in columns %}
                <td> {{reservation.user.work_place.time_from_base|default_if_none:""}} </td>
              {% endif %}
            {% endif %}
            {% if 'AN' in columns %}
              <td>{{reservation.admin_notes|default_if_none:""}}</td>
            {% endif %}
            {% if 'HP' in columns %}
              <td>{{reservation.additional_help_needed|yesno:"Yes,No"}}</td>
            {% endif %}
            {% if 'AT' in columns %}
              <td>{{reservation.assignee.user.get_full_name|default:"Not Assigned"}}</td>
            {% endif %}
            {% if 'ES' in columns %}
              <td>{{reservation.email_sent|yesno:"Yes,No"}}</td>
            {% endif %}
          {% endif %}
          {% if 'ST' in columns or tag == 'profile' %}
            <td> {{reservation.get_status_display}} </td>
          {% endif %}
          <td class='noExl'>
            <div class="btn-group">
              <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Action
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="{% url 'bcse:reservationView' reservation.id %}">View</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  {% if user.userProfile.user_role in 'TP' %}
                    {% if reservation.status in 'DIO' %}
                      <a class="dropdown-item warn action" data-title="This reservation is <strong>{{reservation.get_status_display}}</strong> and cannot be modified">Edit</a>
                    {% elif reservation.delivery_date|is_past %}
                      <a class="dropdown-item warn action" data-title="This reservation is in the past and cannot be modified">Edit</a>
                    {% else %}
                      <a class="dropdown-item" href="{% url 'bcse:reservationEdit' reservation.id %}">Edit</a>
                    {% endif %}
                  {% else %}
                    <a class="dropdown-item" href="{% url 'bcse:reservationEdit' reservation.id %}">Edit</a>
                  {% endif %}
                </li>
                {% if user.userProfile.user_role in 'AS' %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#profile" data-href="{% url 'bcse:reservationDeliveryAddressEdit' reservation.id %}" href="#">Update Delivery Address</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#profile" data-href="{% url 'bcse:reservationAssignedColorEdit' reservation.id %}" href="#">Update Color</a></li>
                  <li><hr class="dropdown-divider"></li>
                  {% if reservation.status != 'D' %}
                    <li>
                      <a class="dropdown-item action useAjax" data-href="{% url 'bcse:reservationEmailSend' reservation.id %}" href="#">
                        {% if reservation.email_sent %}
                          Resend
                        {% else %}
                          Send
                        {% endif %}
                        Confirmation Email
                      </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                  {% endif %}
                  <li>
                    {% if reservation.status in 'IO' %}
                      <a class="dropdown-item warn action" data-title="This reservation is <strong>{{reservation.get_status_display}}</strong> and cannot be deleted">Delete</a>
                    {% else %}
                      <a class="dropdown-item delete action" data-href="{% url 'bcse:reservationDelete' reservation.id %}"
                      data-title="the reservation id <strong>{{reservation.id}}</strong>">
                        Delete
                      </a>
                    {% endif %}
                  </li>
                  {% if reservation.status != 'D' %}
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item cancel action" data-href="{% url 'bcse:reservationCancel' reservation.id %}" data-title="the reservation id <strong>{{reservation.id}}</strong>">Cancel</a>
                    </li>
                  {% endif %}
                {% else %}
                  {% if reservation.status != 'D' %}
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      {% if reservation.status in 'IO' %}
                        <a class="dropdown-item warn action" data-title="This reservation is <strong>{{reservation.get_status_display}}</strong> and cannot be cancelled">Cancel</a>
                      {% elif reservation.delivery_date|is_past %}
                        <a class="dropdown-item warn action" data-title="This reservation is in the past and cannot be cancelled">Cancel</a>
                      {% else %}
                        <a class="dropdown-item cancel action" data-href="{% url 'bcse:reservationCancel' reservation.id %}" data-title="the reservation id <strong>{{reservation.id}}</strong>">Cancel</a>
                      {% endif %}
                    </li>
                  {% endif %}
                {% endif %}
              </ul>
            </div>
          </td>
        </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
  {% if tag == 'reservations' %}
    {% include "bcse_app/Pagination.html" with model=reservations %}
  {% endif %}
{% else %}
  {% if tag == 'reservations' %}
    <div class="warning center">No reservations matching your search criteria found</div>
  {% endif %}
{% endif %}
