{% extends "bcse_app/base.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
    <div class="reservation_container container">
      {% if form.instance.id %}
        <h1> Edit Reservation </h1>
      {% else %}
        <h1> Create Reservation </h1>
      {% endif %}
      {% include "bcse_app/ReservationTabs.html" with reservation=form.instance tab='edit'%}
      <div id="reservation_container">
        <div class="reservation_form">
          <form method="post" enctype="multipart/form-data" id="reservationForm">
            {% csrf_token %}
            {{form.media}}

            {% if user.userProfile.user_role == 'A' or user.userProfile.user_role == 'S' %}
              <div class="form-group mb-4">
                <label for="id_{{form.user.name}}" class="form-label">
                  {{form.user.label}}
                  {% if form.user.field.required %}
                    (<span class="required">*</span>)
                  {% endif %}
                </label>
                <div>{{form.user}}</div>
                <div class="error">{{ form.user.errors }}</div>
              </div>
              {% if form.instance.id %}
                <div>{{form.user.as_hidden}}</div>
              {% endif %}
            {% else %}
              <div>{{form.user.as_hidden}}</div>
            {% endif %}
            <div class="form-group mb-4">
              <label for="id_{{form.activity.name}}" class="form-label"> {{form.activity.label}}
                <span>(<span class="required">*</span>)</span>
              </label>
              <div>{{form.activity}}</div>
              <div class="error">{{ form.activity.errors }}</div>
            </div>
            {% if form.consumables %}
              <div class="form-group mb-4">
                <label for="id_{{form.consumables.name}}" class="form-label"> {{form.consumables.label}}
                  {% if form.consumables.field.required %}
                    (<span class="required">*</span>)
                  {% endif %}
                </label>
                <div id="id_consumable_options">{{form.consumables}}</div>
                <div class="error">{{ form.consumables.errors }}</div>
              </div>
            {% endif %}
            <div class="form-group form-check mb-4">
              <div>{{form.other_activity}}</div>
              <label for="id_{{form.other_activity.name}}" class="form-label"> {{form.other_activity.label}}
                {% if form.other_activity.field.required %}
                  (<span class="required">*</span>)
                {% endif %}
              </label>
              <div class="error">{{ form.other_activity.errors }}</div>
            </div>
            <div class="form-group mb-4">
              <label for="id_{{form.other_activity_name.name}}" class="form-label"> {{form.other_activity_name.label}}
                (<span class="required">*</span>)
              </label>
              <div>{{form.other_activity_name}}</div>
              <div class="error">{{ form.other_activity_name.errors }}</div>
            </div>
            <div class="form-group mb-4 row">
              <div class="col">
                <label for="id_{{form.num_of_classes.name}}" class="form-label"> {{form.num_of_classes.label}}
                  <span>(<span class="required">*</span>)</span>
                </label>
                <div>{{form.num_of_classes}}</div>
                <div class="error">{{ form.num_of_classes.errors }}</div>
              </div>
              <div class="col more_classes">
                {% if form.more_num_of_classes %}
                  <label for="id_{{form.more_num_of_classes.name}}" class="form-label"> {{form.more_num_of_classes.label}} (<span class="required">*</span>)</label>
                  <div>{{form.more_num_of_classes}}</div>
                  <div class="error">{{ form.more_num_of_classes.errors }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group mb-4 kit_info">
              <label class="form-label"> You will receive <span class="kit_name"></span> x <span class="num_of_classes"></span></label>
            </div>
            <div class="form-group mb-4">
              <label for="id_{{form.num_of_students.name}}" class="form-label"> {{form.num_of_students.label}}
                {% if form.num_of_students.field.required %}
                  (<span class="required">*</span>)
                {% endif %}
              </label>
              <div>{{form.num_of_students}}</div>
              <div class="error">{{ form.num_of_students.errors }}</div>
            </div>

            <div class="form-group form-check mb-4">
              <div>{{form.activity_kit_not_needed}}</div>
              <label for="id_{{form.activity_kit_not_needed.name}}" class="form-label"> {{form.activity_kit_not_needed.label}}
                {% if form.activity_kit_not_needed.field.required %}
                  (<span class="required">*</span>)
                {% endif %}
              </label>
              <div class="error">{{ form.activity_kit_not_needed.errors }}</div>
            </div>

            <div class="form-group form-check mb-4">
              <div>{{form.include_gloves_goggles}}</div>
              <label for="id_{{form.include_gloves_goggles.name}}" class="form-label"> {{form.include_gloves_goggles.label}}
                {% if form.include_gloves_goggles.field.required %}
                  (<span class="required">*</span>)
                {% endif %}
              </label>
              <div class="error">{{ form.include_gloves_goggles.errors }}</div>
            </div>

            <div class="form-group mb-4 equipment_info">
            </div>
            <div class="form-group form-check mb-2">
              <div>{{form.equipment_not_needed}}</div>
              <label for="id_{{form.equipment_not_needed.name}}" class="form-label"> {{form.equipment_not_needed.label}}
                {% if form.equipment_not_needed.field.required %}
                  (<span class="required">*</span>)
                {% endif %}
              </label>
              <div class="error">{{ form.equipment_not_needed.errors }}</div>
            </div>
            <div class="form-group mb-4">
              <label for="id_{{form.equipment_types.name}}" class="form-label"> {{form.equipment_types.label}}
                {% if form.equipment_types.field.required %}
                  (<span class="required">*</span>)
                {% endif %}
              </label>
              <div id="id_{{form.equipment_types.name}}">
                {% for equipment_type in form.equipment_types %}
                  <div> {{equipment_type}} </div>
                {% endfor %}
              </div>
              <div class="error">{{ form.equipment_types.errors }}</div>
            </div>
            <div class="form-group mb-2 row">
              <div class="col">
                <label for="id_{{form.delivery_date.name}}" class="form-label"> {{form.delivery_date.label|title}} (<span class="required">*</span>)</label>
                <div class="input-group">
                  {{form.delivery_date}}
                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="error">{{ form.delivery_date.errors }}</div>
              </div>
              <div class="col">
                <label for="id_{{form.return_date.name}}" class="form-label"> {{form.return_date.label|title}} (<span class="required">*</span>)</label>
                <div class="input-group">
                  {{form.return_date}}
                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="error">{{ form.return_date.errors }}</div>
              </div>
            </div>
            <div class="form-group mb-2 reservation_rules">
               {% if user.userProfile.user_role in 'AS' %}
                <label>The restrictions below apply only to non-admins.</label>
               {% endif %}
               <!--ul>
                  {% if reservation_settings.reservation_delivery_days %}
                    <li>Baxter Boxes are delivered on {{reservation_settings.reservation_delivery_days|get_days_of_week}} only.</li>
                  {% endif %}
                  {% if reservation_settings.reservation_return_days %}
                    <li>Baxter Boxes are picked up on {{reservation_settings.reservation_return_days|get_days_of_week}} only.</li>
                  {% endif %}
                  <li>Reservations dates need to be between {{reservation_settings.reservation_min_advance_days}} days and {{reservation_settings.reservation_max_advance_days}} days from today.</li>
                  <li>Reservations need to be for a minimum of {{reservation_settings.reservation_min_days}} days and can be for a maximum of  {{reservation_settings.reservation_max_days}} days at a time.</li>
                  <{% if reservation_settings.reservation_blackout_dates %}
                    <li>Delivery and Pickup are not available on the following dates:
                      <ul>
                        {% for blackout_date in reservation_settings.reservation_blackout_dates %}
                          <li>{{blackout_date.start_date|date:"F j, Y"}} - {{blackout_date.end_date|date:"F j, Y"}} </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endif %}>
                  {% if reservation_settings.blackout_message %}
                    <li>{{reservation_settings.blackout_message.message}}</li>
                  {% endif %}
               </ul-->
               <ul>
                {% if reservation_settings.reservation_rule_messages %}
                  {% for rule_message in reservation_settings.reservation_rule_messages %}
                    <li>{{rule_message.message}}</li>
                  {% endfor %}
                {% endif %}
               </ul>
            </div>
            <div class="form-group mb-4">
              <button class="btn" type="button" id="check_availability">Check Availibility</button>
              <button class="btn" type="button" id="clear_dates">Clear Dates</button>
            </div>
            <div class="form-group mb-4">
              <label for="id_{{form.notes.name}}" class="form-label"> {{form.notes.label}}
                {% if form.notes.field.required %}
                  (<span class="required">*</span>)
                {% endif %}
              </label>
              <div>{{form.notes}}</div>
              <div class="error">{{ form.notes.errors }}</div>
            </div>
            <div class="form-group form-check mb-4">
              <div>{{form.additional_help_needed}}</div>
              <label for="id_{{form.additional_help_needed.name}}" class="form-label"> {{form.additional_help_needed.label}}
                {% if form.additional_help_needed.field.required %}
                  (<span class="required">*</span>)
                {% endif %}
              </label>
              <div class="error">{{ form.additional_help_needed.errors }}</div>
            </div>

            {% if user.userProfile.user_role == 'A' or user.userProfile.user_role == 'S' %}
              <div class="form-group mb-4">
                <label for="id_{{form.admin_notes.name}}" class="form-label"> {{form.admin_notes.label}}
                  {% if form.admin_notes.field.required %}
                    (<span class="required">*</span>)
                  {% endif %}
                </label>
                <div>{{form.admin_notes}}</div>
                <div class="error">{{ form.admin_notes.errors }}</div>
              </div>
              <div class="form-group mb-4">
                <label for="id_{{form.assignee.name}}" class="form-label"> {{form.assignee.label}}
                  {% if form.assignee.field.required %}
                    (<span class="required">*</span>)
                  {% endif %}
                </label>
                <div>{{form.assignee}}</div>
                <div class="error">{{ form.assignee.errors }}</div>
              </div>
              <div class="form-group mb-4">
                <label for="id_{{form.status.name}}" class="form-label"> {{form.status.label}}
                  {% if form.status.field.required %}
                    (<span class="required">*</span>)
                  {% endif %}
                </label>
                <div>{{form.status}}</div>
                <div class="error">{{ form.status.errors }}</div>
              </div>
              <div class="form-group mb-4">
                <label for="id_{{form.color.name}}" class="form-label"> {{form.color.label}}
                  {% if form.color.field.required %}
                    (<span class="required">*</span>)
                  {% endif %}
                </label>
                <div>{{form.color}}</div>
                <div class="error">{{ form.color.errors }}</div>
              </div>
            {% else %}
              <div>{{form.status.as_hidden}}</div>
            {% endif %}

            <button class="btn btn-success" type="button" id="reservationSubmit">
              {% if form.instance.id %}
                Save Reservation
              {% else %}
                Make Reservation
              {% endif %}
            </button>
            {% if form.instance.id %}
              {% if user.userProfile.user_role in 'AS'%}
                <button type="button" class="btn btn-danger delete action" data-href="{% url 'bcse:reservationDelete' form.instance.id %}" data-title="this reservation">Delete</button>
              {% else %}
                <button type="button" class="btn btn-danger cancel action" data-href="{% url 'bcse:reservationCancel' form.instance.id %}" data-title="this reservation">Cancel Reservation</button>
              {% endif %}
            {% endif %}
          </form>
        </div>
        <div class="other_info">
          <div class="activity_container">
            <div class="activity center general">
              <h3 class="center underline"> Select an activity</h3>
              <img src="{% staticfile 'img/Baxter_box_infographic.svg' %}"/>
            </div>
          </div>
          <div class="availability_calendar_container">
            {% include "bcse_app/AvailabilityCalendar.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function (){

      window.onload = function() {

        //load reservation settings
        var reservation_delivery_days = {{reservation_settings.reservation_delivery_days}};
        var reservation_return_days = {{reservation_settings.reservation_return_days}};
        var reservation_min_advance_days = {{reservation_settings.reservation_min_advance_days}};
        var reservation_max_advance_days = {{reservation_settings.reservation_max_advance_days}};

        var reservation_min_days = {{reservation_settings.reservation_min_days}};
        var reservation_max_days = {{reservation_settings.reservation_max_days}};

        var reservation_blackout_timestamps = '{{reservation_settings.reservation_blackout_timestamps}}';
        if (reservation_blackout_timestamps != '') {
          reservation_blackout_timestamps = JSON.parse(reservation_blackout_timestamps);
        }
        var user_role = "{{user.userProfile.user_role}}";
        var current_timestamp = Math.floor(Date.now() / 1000);
        var min_reservation_unixdate = current_timestamp + reservation_min_advance_days * 24 * 60 * 60;
        var max_reservation_unixdate = current_timestamp + reservation_max_advance_days * 24 * 60 * 60;


        /* Set date restriction based on user role */
        function bindDateRestrictions() {
          //date restrictions for non admins
          if(!["A", "S"].includes(user_role)) {
            $('.datepicker.reservation_delivery_date').datepicker({
              dateFormat: "MM dd, yy",
              changeMonth: true,
              changeYear: true,
              beforeShowDay: function(d) {
                //convert javascript day to python day
                var day = d.getDay() - 1;
                var unixtime = Math.floor(d.getTime() / 1000);
                if (unixtime < current_timestamp || unixtime < min_reservation_unixdate || unixtime > max_reservation_unixdate) {
                  return [false]
                }
                else {
                  var is_blackout_date = false;
                  for (index in reservation_blackout_timestamps) {
                    if (reservation_blackout_timestamps[index][0] <= unixtime && unixtime <= reservation_blackout_timestamps[index][1]) {
                      is_blackout_date = true;
                      break;
                    }
                  }
                  if (is_blackout_date) {
                    return [false]
                  }
                  return [reservation_delivery_days.includes(day)];
                }
              }
            });
            if($('input#id_delivery_date').datepicker('getDate') == null) {
              $('.datepicker.reservation_return_date').attr('disabled', true);
            }
            else{
              setReturnDatePicker();
            }
            $('.datepicker.reservation_return_date').on('click', function(){
              if($('input#id_delivery_date').datepicker('getDate') == null){
                displayWarningDialog('Please select the Delivery Date first.');
              }
            });

            $('.datepicker.reservation_delivery_date').on('change', function(){
              if($(this).val()){
                setReturnDatePicker();
              }
            });

          }
          //no date restriction for admins
          else {
            $('.datepicker.reservation_date').datepicker({
              dateFormat: "MM dd, yy",
              changeMonth: true,
              changeYear: true
            });
          }
        }

        /* Enable return dates based on selected delivery date */
        function setReturnDatePicker() {
          var delivery_unixtime = Math.floor($('input#id_delivery_date').datepicker('getDate').getTime() / 1000);
          var min_return_unixtime = delivery_unixtime + reservation_min_days * 24 * 60 * 60;
          var max_return_unixtime = delivery_unixtime + reservation_max_days * 24 * 60 * 60;
          $('.datepicker.reservation_return_date').datepicker("setDate", null);
          $('.datepicker.reservation_return_date').datepicker("destroy");
          $('.datepicker.reservation_return_date').datepicker({
            dateFormat: "MM dd, yy",
            changeMonth: true,
            changeYear: true,
            beforeShowDay: function(d) {
              //convert javascript day to python day
              var day = d.getDay() - 1;
              var unixtime = Math.floor(d.getTime() / 1000);
              if (unixtime < current_timestamp || unixtime < min_reservation_unixdate || unixtime > max_reservation_unixdate || unixtime < min_return_unixtime || unixtime > max_return_unixtime) {
                return [false]
              }
              else {
                var is_blackout_date = false;
                for (index in reservation_blackout_timestamps) {
                  if (reservation_blackout_timestamps[index][0] <= unixtime && unixtime <= reservation_blackout_timestamps[index][1]) {
                    is_blackout_date = true;
                    break;
                  }
                }
                if (is_blackout_date) {
                  return [false]
                }
                return [reservation_return_days.includes(day)];
              }
            }
          });
        }

        function bindReservationSubmit(){
          $('button#reservationSubmit').on('click', function(e){
            $(this).off('click');
            var dates_valid = validateDates();
            if (dates_valid) {
              //$('select#id_equipment_types_to option').prop('selected', true);
              $('form#reservationForm').submit();
            }
            else{
              bindReservationSubmit();
            }
          });
        }

        function bindClearDates() {
          $('button#clear_dates').click(function(e){
            e.preventDefault();
            $('.reservation_date').datepicker('setDate', null);
          });
        }

        function bindCheckAvailability() {
          //"Check Availibility" button is clicked
          $('button#check_availability').click(function(e){
            e.preventDefault();
            var dates_valid = validateDates();
            //get availability calendar only if dates are valid
            if (dates_valid) {
              //$('select#id_equipment_types_to option').prop('selected', true);

              data = $('form#reservationForm').serialize();
              var url ='';
              if('{{form.instance.id}}' != 'None') {
                url = '/availability/{{form.instance.id}}';
              }
              else {
                url = '/availability/new';
              }

              $.ajax({
                type: 'POST',
                url: url,
                data: data,
                beforeSend: function(){
                  $('div.availability_calendar_container').html('<div class="availability_calendar center"><h3>Checking Availability</h3><img src="/static/img/page-loader.gif" class="icon"/></div>');
                },
                complete: function(){
                  //$('select#id_equipment_types_to option').prop('selected', false);
                },
                success: function(data){
                  console.log(data);
                  if (data['success'] = true) {
                    if (data['html']) {
                      $('div.availability_calendar_container').html(data['html']);
                      if(data['message']) {
                        bootbox.alert({title: "Availability",
                                    message: data['message'],
                                    closeButton: false
                        });
                      }
                    }
                    else {
                      displayErrorDialog();
                    }
                  }
                  else {
                    displayErrorDialog();
                  }
                  return false;
                },
                error: function(xhr, ajaxOptions, thrownError){
                  displayErrorDialog();
                },
              });
            }
          });
        }

        function getSelectedEquipment() {
          var selectedEquipment = [];
          $('#id_equipment_types input:checked').each(function(){
            selectedEquipment.push($(this).val());
          })
          return selectedEquipment;
        }
        function getSelectedConsumables() {
          var selectedConsumables = $('#id_consumables').val();
          return selectedConsumables;
        }

        function bindActivityChange() {
          //Activity changed
          $('select#id_activity').on('change', function(e){
            //get preselected equipment
            var selected_equipment = getSelectedEquipment();
            var selected_consumables = getSelectedConsumables();

            //Activity is selected from dropdown
            if($(this).val()) {
              var url = '/activity/'+$(this).val()+'/view';
              $.ajax({
                type: 'GET',
                url: url,
                beforeSend: function(){
                  $('div.activity_container div.activity.general').hide();
                  $('div.activity_container div.activity.specific').remove();
                  $('div.form-group.equipment_info').html('');
                  $('div.form-group.equipment_info').hide()
                },
                complete: function(){

                },
                success: function(data){
                  if (data['success'] = true) {
                    if (data['html']) {
                      $('div.activity_container div.activity.general').after(data['html']);
                      $('div.form-group.kit_info span.kit_name').html(data['kit_name']);
                      if(data['materials_equipment']) {
                        $('div.form-group.equipment_info').html(data['materials_equipment']);
                        $('div.form-group.equipment_info').show();
                      }
                      if(data['is_low_stock']) {
                        displayWarningDialog('This lab is low in stock. Once the reservation request is received, we will reach out to confirm availability and timing.');
                      }
                    }
                    if (data['consumable_options'] && data['consumable_mapping']) {
                      $('#id_consumable_options').html(data['consumable_options']);
                      if(selected_consumables && selected_consumables.every(val =>  data['consumable_mapping'].includes(parseInt(val))) ) {
                        $('#id_consumables').val(selected_consumables);
                      }
                      else {
                        //select all
                        $('#id_consumables option').prop('selected', true);
                      }
                      $('#id_consumable_options').closest('.form-group').show();
                    }
                    else {
                      $('#id_consumable_options').html('');
                      $('#id_consumable_options').closest('.form-group').hide();
                    }
                    //for non-admins, filter equipment options to the ones mapped to the selected activity
                    if(data['equipment_options']) {
                      $('#id_equipment_types').html(data['equipment_options']);
                      if(selected_equipment) {
                        $('#id_equipment_types input[name="equipment_types"]').val(selected_equipment);
                        bindEquipmentSelection();
                      }
                    }
                    else {
                      displayErrorDialog();
                    }
                  }
                  else {
                    displayErrorDialog();
                  }
                  return false;
                },
                error: function(xhr, ajaxOptions, thrownError){
                  displayErrorDialog();
                },
              });
              //display number of class and kit not needed fields
              $('select#id_num_of_classes').prop('required', true);
              $('select#id_num_of_classes').closest('.col').find('label>span').show();
              $('select#id_num_of_classes').trigger('change');
              $('input#id_activity_kit_not_needed').closest('.form-group').show();
            }
            //Activity is unselected
            else {
              //for non-admins, reset equipment options to all equipment
              var url = '/load_equipment_options/';
              $.ajax({
                type: 'GET',
                url: url,
                success: function(data){
                  if (data['success'] = true) {
                    if(data['html']) {
                      $('#id_equipment_types').html(data['html']);
                      if(selected_equipment) {
                        $('#id_equipment_types input[name="equipment_types"]').val(selected_equipment);
                        bindEquipmentSelection();
                      }
                    }
                    else {
                      displayErrorDialog();
                    }
                  }
                  else {
                    displayErrorDialog();
                  }
                  return false;
                },
                error: function(xhr, ajaxOptions, thrownError){
                  displayErrorDialog();
                },
              });

              $('div.form-group.equipment_info').html('');
              $('div.form-group.equipment_info').hide();
              if($('input#id_other_activity').is(':checked')) {
                $('div.activity_container div.activity.general').hide();
              }
              else {
                $('div.activity_container div.activity.general').show();
              }
              $('div.activity_container div.activity.specific').remove();
              //hide kit not need fields
              $('input#id_activity_kit_not_needed').prop('checked', false).closest('.form-group').hide();
              $('div.form-group.kit_info span.kit_name').html('');
              $('div.form-group.kit_info span.num_of_classes').html('');
              $('div.form-group.kit_info').hide();
              //unselect and hide consumable selection
              $('#id_consumables').val('');
              $('#id_consumable_options').closest('.form-group').hide();
            }

            $('select#id_num_of_classes').trigger('change');
            $('input#id_more_num_of_classes').trigger('change');
            clearCalendar();
            bindReservationSubmit();
          });
        }

        //enable "Check Availability" button only if equipment is selected and delivery and return dates are provided
        function toggleCheckAvailability() {
          if($('input#id_equipment_not_needed').is(':checked')){
            $('button#check_availability').prop('disabled', true);
          }
          else if(getSelectedEquipment().length > 0 && $('input#id_delivery_date').datepicker('getDate') && $('input#id_return_date').datepicker('getDate')) {

            $('button#check_availability').prop('disabled', false);
          }
          else{
            $('button#check_availability').prop('disabled', true);
          }
        }

        /* Clear the calendar container */
        function clearCalendar() {
          $('div.availability_calendar_container').html('');
        }

        //validate delivery and return dates
        function validateDates() {
          var equipment_not_needed = $('input#id_equipment_not_needed').is(':checked');
          var equipment_selected = getSelectedEquipment();

          var delivery_date = $('input#id_delivery_date').datepicker('getDate');
          var return_date = $('input#id_return_date').datepicker('getDate');

          var current_date = new Date();
          var min_reservation_date = new Date();
          var max_reservation_date = new Date()
          min_reservation_date.setDate(min_reservation_date.getDate() + reservation_min_advance_days);
          min_reservation_date.setHours(0, 0, 0, 0);
          max_reservation_date.setDate(max_reservation_date.getDate() + reservation_max_advance_days);
          max_reservation_date.setHours(0, 0, 0, 0);

          //if equipment is selected,
          if (!equipment_not_needed && equipment_selected) {
            //delivery and return dates are both required
            if (delivery_date == null || return_date == null) {
              displayWarningDialog('Please select both delivery and return dates.');
              return false;
            }
            //if delivery and return dates are selected, return date has to be later than
            //delivery date
            else if (delivery_date && return_date) {
              var reservation_length = Math.ceil((return_date.getTime() - delivery_date.getTime())/ (1000*3600*24));
              if (delivery_date > return_date) {
                displayWarningDialog('Please select a return date that is later than the delivery date.');
                return false;
              }
              //non admin date validation
              else if (!["A", "S"].includes(user_role)) {
                if(delivery_date < current_date || return_date < current_date) {
                  displayWarningDialog('Delivery and/or Return dates cannot be in the past.');
                  return false;
                }
                else if (!reservation_delivery_days.includes(delivery_date.getDay()-1) || !reservation_return_days.includes(return_date.getDay()-1)) {
                  displayWarningDialog('Baxter Boxes are delivered on {{reservation_settings.reservation_delivery_days|get_days_of_week}} only and picked up on {{reservation_settings.reservation_return_days|get_days_of_week}} only.');
                  return false;
                }
                //delivery/return dates have to be between 1 week and 6 months from today
                else if (delivery_date < min_reservation_date || delivery_date > max_reservation_date || return_date < min_reservation_date || return_date > max_reservation_date) {
                  displayWarningDialog('Please select delivery and return dates between {{reservation_settings.reservation_min_advance_days}} days and {{reservation_settings.reservation_max_advance_days}} days from today.');
                  return false;
                }
                else if (reservation_length < {{reservation_settings.reservation_min_days}}) {
                  displayWarningDialog('Reservation has to be for a minimum of {{reservation_settings.reservation_min_days}} days.');
                  return false;
                }
                else if (reservation_length > {{reservation_settings.reservation_max_days}}) {
                  displayWarningDialog('Reservation can only be for a maximum of {{reservation_settings.reservation_max_days}} days.');
                  return false;
                }
              }
            }
          }
          else {
            if (delivery_date == null) {
              displayWarningDialog('Please select a delivery date.');
              return false;
            }
            else if (!["A", "S"].includes(user_role)) {
              if(delivery_date < current_date) {
                displayWarningDialog('Delivery date cannot be in the past.');
                return false;
              }
              else if (!reservation_delivery_days.includes(delivery_date.getDay()-1)) {
                displayWarningDialog('Baxter Boxes are delivered on {{reservation_settings.reservation_delivery_days|get_days_of_week}} only.');
                return false;
              }
              //delivery date has to be between 1 week and 6 months from today
              else if (delivery_date < min_reservation_date || delivery_date > max_reservation_date) {
                displayWarningDialog('Please select delivery date between {{reservation_settings.reservation_min_advance_days}} days and {{reservation_settings.reservation_max_advance_days}} days from today.');
                return false;
              }
            }
          }
          return true;
        }

        function bindDatesChange() {
          $('input#id_delivery_date, input#id_return_date').on('change', function(){
            toggleCheckAvailability();
          });
        }

        function bindOtherActivityChange() {
          //when other_activity checkbox is checked/unchecked
          $('input#id_other_activity').on('change', function(e) {
            //other activity checkbox checked
            if($(this).is(':checked')){
              $('select#id_activity').val('').trigger('change');
              $('select#id_activity').prop('disabled', true);
              $('select#id_activity').prop('required', false);
              $('select#id_activity').closest('.form-group').find('label > span').hide();
              $('input#id_other_activity_name').prop('required', true);
              $('input#id_other_activity_name').closest('.form-group').show();
              $('div.activity_container div.activity.general').hide();
              $('div.activity_container div.activity.specific').remove();
            }
            //other activity checkbox unchecked
            else{
              $('select#id_activity').prop('disabled', false);
              $('select#id_activity').prop('required', true);
              $('select#id_activity').closest('.form-group').find('label > span').show();
              $('input#id_other_activity_name').prop('required', false);
              $('input#id_other_activity_name').closest('.form-group').hide();
              $('div.activity_container div.activity.general').show();
              $('div.activity_container div.activity.specific').remove();
            }
          });
        }

        function bindEquipmentNotNeeded() {
          //when "I already have all the equipment" checkbox is checked/unchecked
          $('input#id_equipment_not_needed').on('change', function(e) {
            //checkbox checked
            if($(this).is(':checked')){
              //reset equipment selection
              $('#id_equipment_types input.form-check-input').prop("checked", false).prop('required', false).prop('disabled', true).trigger('change');
              $('#id_equipment_types').closest('.form-group').hide();
              //reset and disable return date
              $('input#id_return_date').val('');
              $('input#id_return_date').prop('disabled', true);
              $('input#id_return_date').closest('.col').hide();
              $('input#id_return_date').closest('.col').find('span.required').hide();
              clearCalendar();
            }
            //checkbox unchecked
            else{
              $('#id_equipment_types input.form-check-input').prop('required', true).prop('disabled', false);
              $('#id_equipment_types').closest('.form-group').show();
              $('input#id_return_date').prop('disabled', false);
              $('input#id_return_date').closest('.col').show();
              $('input#id_return_date').closest('.col').find('span.required').show();
            }
            toggleCheckAvailability();
          });
        }

        function bindNumOfClasses() {
          //number of classes changed
          $('select#id_num_of_classes').on('change', function(e){
            //if num of classes is more than 4, reset to 4
            if($(this).val() == '5'){
              if(!["A", "S"].includes(user_role)) {
                bootbox.alert({title: "Warning",
                          message: 'Maximum of 4 kits allowed. Many kits can be stretched over multiple classes. Email us with your questions bcse@northwestern.edu!',
                          closeButton: false
                        });
                $(this).val('4');
              }
              else {
                $('input#id_more_num_of_classes').prop('required', true);
                $('input#id_more_num_of_classes').closest('.col').show();
              }
            }
            else {
              $('input#id_more_num_of_classes').prop('required', false);
              $('input#id_more_num_of_classes').val('');
              $('input#id_more_num_of_classes').closest('.col').hide();
            }
            //if num of classes is selected, display kit info
            if($(this).val() && $(this).val() != '5' && $('select#id_activity').val() && !$('input#id_activity_kit_not_needed').prop('checked')) {
              $('div.form-group.kit_info span.num_of_classes').html($(this).val());
              $('div.form-group.kit_info').show();
            }
            else {
              $('div.form-group.kit_info').hide();
            }
          });
        }

        function bindMoreNumOfClasses() {
          $('input#id_more_num_of_classes').on('change', function(e){
            if($(this).val() && $('select#id_activity').val() && !$('input#id_activity_kit_not_needed').prop('checked')) {
              $('div.form-group.kit_info span.num_of_classes').html($(this).val());
              $('div.form-group.kit_info').show();
            }
          });
        }

        function bindKitNotNeeded() {
          //"I already have all the kits" checkbox checked/unchecked
          $('input#id_activity_kit_not_needed').on('change', function(e){
            //checkbox checked
            if($(this).is(':checked')){
              $('div.form-group.kit_info span.kit_name').html('');
              $('div.form-group.kit_info span.num_of_classes').html('');
              $('div.form-group.kit_info').hide();
            }
            //checkbox unchecked
            else{
              $('select#id_activity').trigger('change');
            }
          });
        }

        function bindEquipmentSelection() {
          $('#id_equipment_types input.form-check-input').on('change', function(){
            toggleCheckAvailability();
          });
        }

        function init() {
          //hide other activity name field
          $('input#id_other_activity_name').closest('form-group').hide();
          $('.form-group.kit_info').hide();
          $('input#id_other_activity').trigger('change');
          $('select#id_activity').trigger('change');
          $('input#id_equipment_not_needed').trigger('change');
          $('select#id_num_of_classes').trigger('change');
          $('input#id_more_num_of_classes').trigger('change');
        }

        bindDateRestrictions();
        bindCheckAvailability();
        toggleCheckAvailability();
        bindKitNotNeeded();
        bindMoreNumOfClasses();
        bindNumOfClasses();
        bindEquipmentNotNeeded();
        bindOtherActivityChange();
        bindDatesChange();
        bindActivityChange();
        bindReservationSubmit();
        bindClearDates();
        init();
      }
    });
  </script>
{% endblock %}
