<div class="filter_container">
  <form method="get" action="{% url 'bcse:reservationsSearch' %}" id="reservation_filter_form" class="filter_form">
    {% csrf_token %}
    {{searchForm.media}}
    <div class="form-group right" id="filter_toggle">
      <label style="display:none;">Show Filters <span class="fa fa-plus-circle"></span></label>
      <label>Hide Filters <span class="fa fa-minus-circle"></span></label>
    </div>

    <div id="filter_content">
      <div id="filter_fields">
      <div class="filter_fields">
        {% if searchForm.user %}
          <div class="filter_fields">
            <div class="form-group">
              <label for="id_{{searchForm.user.name}}" class="form-label"> {{searchForm.user.label|title}}</label>
              <div>{{searchForm.user}}</div>
              <div class="error">{{ searchForm.user.errors }}</div>
            </div>
          </div>
        {% endif %}
        {% if searchForm.work_place %}
          <div class="filter_fields">
            <div class="form-group">
              <label for="id_{{searchForm.work_place.name}}" class="form-label"> {{searchForm.work_place.label|title}}</label>
              <div>{{searchForm.work_place}}</div>
              <div class="error">{{ searchForm.work_place.errors }}</div>
            </div>
          </div>
        {% endif %}

        <div class="form-group">
          <label for="id_{{searchForm.activity.name}}" class="form-label"> {{searchForm.activity.label|title}}</label>
          <div>{{searchForm.activity}}</div>
          <div class="error">{{ searchForm.activity.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{searchForm.consumable.name}}" class="form-label"> {{searchForm.consumable.label|title}}</label>
          <div>{{searchForm.consumable}}</div>
          <div class="error">{{ searchForm.consumable.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{searchForm.equipment.name}}" class="form-label">
            {{searchForm.equipment.label|title}}
          </label>
          <div>{{searchForm.equipment}}</div>
          <div class="error">{{ searchForm.equipment.errors }}</div>
        </div>
      </div>
      <div class="filter_fields">
        <div class="form-group">
          <label for="id_{{searchForm.delivery_after.name}}" class="form-label"> {{searchForm.delivery_after.label|title}}</label>
          <div class="input-group">
            {{searchForm.delivery_after}}
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
          <div class="error">{{ searchForm.delivery_after.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{searchForm.return_before.name}}" class="form-label"> {{searchForm.return_before.label|title}}</label>
          <div class="input-group">
            {{searchForm.return_before}}
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
          <div class="error">{{ searchForm.return_before.errors }}</div>
        </div>
        {% if searchForm.status %}
          <div class="form-group">
            <label for="id_{{searchForm.status.name}}" class="form-label">
              {{searchForm.status.label|title}}
              <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{searchForm.status.help_text}}"></i>
            </label>
            <div>{{searchForm.status}}</div>
            <div class="error">{{ searchForm.status.errors }}</div>
          </div>
        {% endif %}
        {% if searchForm.assignee %}
          <div class="form-group">
            <label for="id_{{searchForm.assignee.name}}" class="form-label"> {{searchForm.assignee.label|title}}</label>
            <div>{{searchForm.assignee}}</div>
            <div class="error">{{ searchForm.assignee.errors }}</div>
          </div>
        {% endif %}
        {% if searchForm.color %}
          <div class="form-group">
            <label for="id_{{searchForm.color.name}}" class="form-label">
              {{searchForm.color.label|title}}
              <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{searchForm.status.help_text}}"></i>
            </label>
            <div>{{searchForm.color}}</div>
            <div class="error">{{ searchForm.color.errors }}</div>
          </div>
        {% endif %}
      </div>
      <div class="filter_fields">
        <div class="form-group">
          <label for="id_{{searchForm.keywords.name}}" class="form-label"> {{searchForm.keywords.label|title}}</label>
          <div>{{searchForm.keywords}}</div>
          <div class="error">{{ searchForm.keywords.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{searchForm.sort_by.name}}" class="form-label">
            {{searchForm.sort_by.label|title}}
            <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{searchForm.sort_by.help_text}}"></i>
          </label>
          <div>{{searchForm.sort_by}}</div>
          <div class="error">{{ searchForm.sort_by.errors }}</div>
        </div>
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' %}
          <div class="form-group">
            <label for="id_{{searchForm.feedback_status.name}}" class="form-label"> {{searchForm.feedback_status.label|title}}</label>
            <div>{{searchForm.feedback_status}}</div>
            <div class="error">{{ searchForm.feedback_status.errors }}</div>
          </div>
          <div class="form-group">
            <label for="id_{{searchForm.columns.name}}" class="form-label">
              {{searchForm.columns.label|title}}
              <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{searchForm.columns.help_text}}"></i>
            </label>
            <div>{{searchForm.columns}}</div>
            <div class="error">{{ searchForm.columns.errors }}</div>
          </div>
        {% else %}
          <div class="form-group">{{searchForm.columns.as_hidden}}</div>
        {% endif %}
        <div class="form-group">
          <label for="id_{{searchForm.rows_per_page.name}}" class="form-label"> {{searchForm.rows_per_page.label|title}}</label>
          <div>{{searchForm.rows_per_page}}</div>
          <div class="error">{{ searchForm.rows_per_page.errors }}</div>
        </div>
      </div>
      <input type="hidden" name="download" id="download" value="0"/>
      <input type="hidden" name="page" id="page" value="{{page}}"/>
    </div>
      <div class="form-group right" id="filter_buttons">
        <a class="btn" type="button" href="{% url 'bcse:clearSearch' 'reservations_search' %}">Clear Filter</a>
      </div>
    </div>

  </form>
</div>
