{% load bcse_extras %}
{% load base_extras %}

<div id="calendar"></div>
<script type="text/javascript">
  $(function (){
    let isInitialLoad = true;
    const reservations = {{ events|safe }};
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      {% if current_view %}
        initialView: '{{current_view}}',
      {% else %}
        initialView: 'dayGridMonth',
      {% endif %}
      {% if start_date %}
        initialDate: '{{ start_date }}',
      {% endif %}
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek', //,timeGridWeek,timeGridDay,listWeek'
      },
      datesSet: function(info) {
        if (isInitialLoad) {
          isInitialLoad = false;
          return; // skip first call
        }
        // This fires whenever the calendar changes view or date
        const currentStartObj = info.view.currentStart;

        // 2. Convert to YYYY-MM-DD format manually to avoid timezone shifts
        const year = currentStartObj.getFullYear();
        const month = String(currentStartObj.getMonth() + 1).padStart(2, '0');
        const day = String(currentStartObj.getDate()).padStart(2, '0');

        const currentStartStr = `${year}-${month}-${day}`;

        var data = {'current_view': info.view.type, 'start_date': currentStartStr};
        var csrftoken = $('#reservation_filter_form input[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            type: 'POST',
            url: "{% url 'bcse:adminReservationCalendarUpdate' %}",
            data: data,
            headers: {
              'X-CSRFToken': csrftoken
            },
            success: function(data){
              if (data['success'] === true) {
                console.log('calendar view and date updated');
              }
              else {
                displayErrorDialog();
              }
            },
            error: function(xhr, ajaxOptions, thrownError){
              displayErrorDialog();
            },
        });
      },
      events: reservations,
      eventContent: function(arg) {
        console.log(arg);
        const event = arg.event;
        const isStart = arg.isStart;
        const isEnd = arg.isEnd;

        // Add symbols only at start or end of event
        let symbolPrefix = ''
        let symbolSuffix = '';

        if (isStart) {
          if (event.extendedProps.start_today) {
            symbolPrefix = '<i class="fas fa-calendar-check" style="color:red;"></i> ';
          }
          symbolPrefix += '<i class="fas fa-shopping-cart" aria-hidden="true"></i><i class="fas fa-arrow-right" aria-hidden="true"></i> ' + event.extendedProps.delivery_assignee;
        }

        if (isEnd && !event.extendedProps.dropoff_only) {
          symbolSuffix = event.extendedProps.pickup_assignee + ' <i class="fas fa-arrow-left" aria-hidden="true"></i><i class="fas fa-shopping-cart" aria-hidden="true"></i>';

          if (event.extendedProps.end_today) {
            symbolSuffix += ' <i class="fas fa-calendar-check" style="color:red;""></i>';
          }
        }

        return {
          html: `<div title="${event.title}"><div>${symbolPrefix}</div>` + `<div class="event_title">${event.title}</div>` + `<div>${symbolSuffix}</div></div>`
        };
      },
      eventClick: function(info) {
        info.jsEvent.preventDefault(); // prevent default browser navigation

        if (info.event.url) {
          window.open(info.event.url, '_self'); // open in same tab
        }
      },
      eventOrder: function(a, b) {

        // Assign priority
        function priority(event) {
          if (event.extendedProps.start_today) return 0;   // start today → top
          if (event.extendedProps.end_today) return 1; // end today → middle
          return 2;             // ongoing → bottom

        }

        const aPri = priority(a);
        const bPri = priority(b);

        if (aPri !== bPri) return aPri - bPri;

        // secondary sort by start time
        return new Date(a.start) - new Date(b.start);
      }

    });
    calendar.render();

});

</script>
  

