<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">Update Reservation {{reservation_id}}</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="UpdateMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>

    <form class="form" id="formReservationUpdate" method="post" action="{% url 'bcse:reservationUpdate' reservation_id %}">
      {% csrf_token %}
      {{form.media}}
      <div class="modal-body">
        <div class="form-group mb-3">
          <label for="id_{{form.admin_notes.name}}">
            {{ form.admin_notes.label }}
            {% if form.admin_notes.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div>{{form.admin_notes}}</div>
          <div class="error">{{ form.admin_notes.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.color.name}}">
            {{ form.color.label }}
            {% if form.color.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div>{{form.color}}</div>
          <div class="error">{{ form.color.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.status.name}}">
            {{ form.status.label }}
            {% if form.status.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div>{{form.status}}</div>
          <div class="error">{{ form.status.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.assignee.name}}">
            {{ form.assignee.label }}
            {% if form.assignee.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div>{{form.assignee}}</div>
          <div class="error">{{ form.assignee.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.pickup_assignee.name}}">
            {{ form.pickup_assignee.label }}
            {% if form.pickup_assignee.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div>{{form.pickup_assignee}}</div>
          <div class="error">{{ form.pickup_assignee.errors }}</div>
        </div>
        <div class="form-group" id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="submit" class="btn btn-success" id="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function (){

    $("#formReservationUpdate").submit(function(e){
      e.preventDefault();

      var formData = new FormData(this);

      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: formData,
        dataType: 'json',
        context: this,
        cache:false,
        contentType: false,
        processData: false,
        beforeSend: function(){
          $('#formReservationUpdate #spinner').show();
        },
        complete: function(){
          $('#formReservationUpdate #spinner').hide();
        },
        success: function(data, status) {
          if(data['success'] == true){
            window.parent.location.reload();
          }
          else{
            $('#profile').html(data['html']);
          }
        },
        error: function(){
          displayErrorDialog();
        }
      });
    });

  });
</script>


