{% load bcse_extras %}
{% if reservation.id %}
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <label><a class="nav-link" aria-current="page" href="{% url 'bcse:reservations' %}">Back to Reservations</a></label>
    </li>
    <li class="nav-item">
      <label><a class="nav-link {% if tab == 'view' %}active{% endif %}" aria-current="page" href="{% url 'bcse:reservationView' reservation.id %}">View</a></label>
    </li>
    <!-- only allow Admin and Staff to edit Cancelled, Checked In and Checked Out reservations -->
    {% if user.userProfile.user_role in 'AS' or reservation.status in 'RU' and reservation.delivery_date|is_future %}
    <li class="nav-item">
      <label><a class="nav-link {% if tab == 'edit' %}active{% endif %}" aria-current="page"  href="{% url 'bcse:reservationEdit' reservation.id %}">Edit</a></label>
    </li>
    {% endif %}
  </ul>
{% endif %}


