<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      {% if user.is_authenticated %}
         <h3 class="left">Create User</h3>
      {% else %}
        <h3 class="left">Create an Account</h3>
      {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="SignUpMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>

    <form class="form" id="formSignUp" method="post" enctype="multipart/form-data" action="{% url 'bcse:signup'%}" autocomplete="off">
      {% csrf_token %}
      {{form.management_form}}

      <div class="modal-body">
        <div class="row mb-3">
          <div class="form-group col-md-6">
            <label for="id_{{form.email.name}}">
              {{ form.email.label }}
              {% if form.email.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{form.email}}</div>
            <div class="error">{{ form.email.errors }}</div>
          </div>
          {% if form.confirm_email %}
          <div class="form-group col-md-6">
            <label for="id_{{form.confirm_email.name}}">
              {{ form.confirm_email.label }}
              {% if form.confirm_email.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{form.confirm_email}}</div>
            <div class="error">{{ form.confirm_email.errors }}</div>
          </div>
          {% endif %}
        </div>

        <div class="row mb-3">
          <div class="form-group col-md-6">
            <label for="id_{{form.first_name.name}}">
              {{ form.first_name.label }}
              {% if form.first_name.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{form.first_name}}</div>
            <div class="error">{{ form.first_name.errors }}</div>
          </div>
          <div class="form-group col-md-6">
            <label for="id_{{form.last_name.name}}">
              {{ form.last_name.label }}
              {% if form.last_name.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{form.last_name}}</div>
            <div class="error">{{ form.last_name.errors }}</div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="form-group col-md-6">
            <label for="id_{{form.name_pronounciation.name}}" class="form-label"> {{form.name_pronounciation.label}}</label>
            <div>{{form.name_pronounciation}}</div>
            <div class="error">{{ form.name_pronounciation.errors }}</div>
          </div>
          <div class="form-group col-md-6">
            <label for="id_{{form.secondary_email.name}}" class="form-label">
              {{form.secondary_email.label}}
              <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{form.secondary_email.help_text}}"></i>
            </label>
            <div>{{form.secondary_email}}</div>
            <div class="error">{{ form.secondary_email.errors }}</div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-group col-md-6">
            <label for="id_{{form.password1.name}}">
              {{ form.password1.label }}
              {% if form.password1.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{form.password1}}</div>
            <div class="error">{{ form.password1.errors }}</div>
          </div>
          <div class="form-group col-md-6">
            <label for="id_{{form.password2.name}}">
              {{ form.password2.label }}
              {% if form.password2.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{form.password2}}</div>
            <div class="error">{{ form.password2.errors }}</div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-group col-md-6">
            <label for="id_{{form.user_role.name}}">
              {{ form.user_role.label }}
              {% if form.user_role.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{ form.user_role }}</div>
            <div class="error">{{ form.user_role.errors }}</div>
          </div>
          <div class="form-group col-md-6">
            <label for="id_{{form.phone_number.name}}">
              {{ form.phone_number.label }}
              {% if form.phone_number.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{ form.phone_number }}</div>
            <div class="error">{{ form.phone_number.errors }}</div>
          </div>
        </div>

        <div class="row mb-3 school_related">
          <div class="form-group col-md-6">
            <label for="id_{{form.iein.name}}">
              {{ form.iein.label }}
              {% if form.iein.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{ form.iein }}</div>
            <div class="error">{{ form.iein.errors }}</div>
          </div>
          <div class="form-group col-md-6">
            <label for="id_{{form.grades_taught.name}}">
              {{ form.grades_taught.label }}
              {% if form.grades_taught.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{form.grades_taught}}</div>
            <div class="error">{{ form.grades_taught.errors }}</div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-group col-md-4">
            <label for="id_{{form.twitter_handle.name}}">
              {{ form.twitter_handle.label }}
              {% if form.twitter_handle.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{ form.twitter_handle }}</div>
            <div class="error">{{ form.twitter_handle.errors }}</div>
          </div>
          <div class="form-group col-md-4">
            <label for="id_{{form.instagram_handle.name}}">
              {{ form.instagram_handle.label }}
              {% if form.instagram_handle.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{form.instagram_handle}}</div>
            <div class="error">{{ form.instagram_handle.errors }}</div>
          </div>
          <div class="form-group col-md-4">
            <label for="id_{{form.subscribe.name}}">
              {{ form.subscribe.label }}
              {% if form.subscribe.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{form.subscribe}}</div>
            <div class="error">{{ form.subscribe.errors }}</div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="form-group col-md-12">
            <label for="id_{{form.image.name}}" class="form-label"> {{form.image.label}}</label>
            <div>{{form.image}}</div>
            <div class="error">{{ form.image.errors }}</div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-group col-md-8">
            <label for="id_{{form.work_place.name}}">
              {{ form.work_place.label }}
              <span class="workplace_required">(<span class="required">*</span>)</span>
            </label>
            <div id="signup_workplace_select">{{form.work_place}}</div>
            <div class="error work_place_error">{{ form.work_place.errors }}</div>
          </div>
          <div class="form-group col-md-4">
            <label for="id_{{form.new_work_place_flag.name}}">
              {{ form.new_work_place_flag.label }}
              {% if form.new_work_place_flag.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{form.new_work_place_flag}}</div>
            <div class="error">{{ form.new_work_place_flag.errors }}</div>
          </div>
        </div>

        {% include "bcse_app/WorkPlace.html" with work_place_form=work_place_form source='signUp' %}

        <div class="form-group" id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-group">
          {% if user.is_authenticated %}
            <button type="submit" class="btn btn-success" id="submit">Add User</button>
          {% else %}
            <button type="submit" class="btn btn-success" id="submit">Sign Up</button>
          {% endif %}
        </div>
      </div>

    </form>
  </div>
</div>

<script type="text/javascript">
  $(function (){

    $('input[name="new_work_place_flag"]').on('change', function(){
      if($(this).is(':checked')){
        $('select#id_work_place').prop('disabled', 'disabled');
        $('span.workplace_required').hide();
        $('div#work_place_form').show();
        $('div#work_place_form :input').prop('disabled', false);
        $('div.work_place_error').html('');
      }
      else {
        $('div#work_place_form').hide();
        $('div#work_place_form :input').prop('disabled', true);
        $('span.workplace_required').show();
        $('select#id_work_place').prop('disabled', false);
      }

    });
    $('input[name="new_work_place_flag"]').trigger('change');

    /**************************/

    $('select[name="user_role"]').on('change', function(){
      if($(this).val() == "T"){
        $('.school_related').show();
      }
      else{
        $('.school_related').hide();
      }
    });
    $('select[name="user_role"]').trigger('change');

    $('#agree').change(function(){
      if( $(this).is(':checked') ){
        $('#submit').prop('disabled', false);
      } else {
        $('#submit').prop("disabled","disabled");
      }
    });


    $("#formSignUp").submit(function(e){
      e.preventDefault();
      var formData = new FormData(this);
      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: formData,
        dataType: 'json',
        context: this,
        cache:false,
        contentType: false,
        processData: false,
        beforeSend: function(){
          $('#formSignUp #spinner').show();
        },
        complete: function(){
          $('#formSignUp #spinner').hide();
        },
        success: function(data, status) {
          if(data['success'] == true){
            if(data['redirect_url']) {
              window.parent.location.href = data['redirect_url'];
            }
            else {
              window.parent.location.href = window.location.href.split('?')[0]
            }
          }
          else{
            $('#signup').html(data['html']);
          }
        },
        error: function(){
          displayErrorDialog();
        }
      });
    });

  });
</script>


