
<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">Log in to BCSE</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="loginMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>
    <form class="form" id="formSignIn" method="post" action="{% url 'bcse:signin' %}{% if redirect_url %}?next={{redirect_url}}{% endif %}" autocomplete="off">
      {% csrf_token %}
      {{form.management_form}}
      <div class="modal-body">
        {% for field in form %}
          <div class="form-group mb-3">
            <label for="id_{{field.name}}">
              {{ field.label }}
              {% if field.help_text %}
                <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{field.help_text}}"></i>
              {% endif %}
            </label>
            <div>{{field}}</div>
            <div class="error">{{ field.errors }}</div>
          </div>
        {% endfor %}
        <div class="form-group" id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group buttons right">
          <button type="submit" id="submit" class="btn btn-success">
            Sign In
          </button>
          <br><br>
          <div>
            Don't have an account? <a href="?next={% url 'bcse:signup' %}" id="signUp"><strong><u>Sign Up</u></strong></a>
          </div>
          <div>
            <a href="?next={% url 'password_reset' %}" id="resetPassword"><u>Forgot Password?</u></a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function (){
    $("#formSignIn").submit(function(e) {
      e.preventDefault();

      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: $(this).serialize(),
        context: this,
        beforeSend: function(){
          $('#formSignUp #spinner').show();
        },
        complete: function(){
          $('#formSignUp #spinner').hide();
        },
        success: function(data, status) {
          if(data['success'] == true){
            if(data['redirect_url']) {
              window.parent.location.href = data['redirect_url'];
            }
            else {
              window.parent.location.href = window.location.href.split('?')[0]
            }
          }
          else{
            $('#signin').html(data['html']);
          }
        },
        error: function(){
          displayErrorDialog();
        }
      });
    });

    $('#signUp').on('click', function(e) {
      e.preventDefault();
      var href = $(this).attr("href");
      $(this).closest('form').data("isDirty", false);

      $('#signin').modal('hide');
      $('#signin').one('hidden.bs.modal', function () {

        bootbox.dialog({
          title: "Do you already have an account?",
          message: "Before creating a new account:\
                    <br><br>\
                    <strong>Do you already have an account but just forgot your password?</strong>",
          buttons: {
            signup: {
              label: 'No, create a new account',
              className: 'btn-primary',
              callback: function() {
                window.location.href = href;
              },
            },
            reset: {
              label: 'Yes, reset my password',
              className: 'btn-warning',
              callback: function() {
                window.location.href = '/?next=/password_reset/';
              },
            },
            signin: {
              label: 'Proceed with Log In',
              className: 'btn-secondary',
              callback: function() {
                window.location.href = '/?next=/signin/';
              },
            },
          },
          closeButton: false,
        });

      });
    });

    $('#resetPassword').on('click', function(e) {
      e.preventDefault();
      var href = $(this).attr("href");
      $(this).closest('form').data("isDirty", false);
      window.location.href = href;
    });

  });
</script>

