<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      {% if user.is_authenticated %}
         <h3 class="left">Create User</h3>
      {% else %}
        <h3 class="left">Create an Account</h3>
      {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="SignUpMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>

    <form class="form" id="formSignUp" method="post" action="{% url 'bcse:signup'%}">
      {% csrf_token %}
      {{form.management_form}}

      <div class="modal-body">
        <div class="row mb-3">
          <div class="form-group col-md-6">
            <label for="id_{{form.email.name}}">
              {{ form.email.label }}
              {% if form.email.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{form.email}}</div>
            <div class="error">{{ form.email.errors }}</div>
          </div>
          {% if form.confirm_email %}
          <div class="form-group col-md-6">
            <label for="id_{{form.confirm_email.name}}">{{ form.confirm_email.label }}</label>
            <div>{{form.confirm_email}}</div>
            <div class="error">{{ form.confirm_email.errors }}</div>
          </div>
          {% endif %}
        </div>

        <div class="row mb-3">
          <div class="form-group col-md-6">
            <label for="id_{{form.first_name.name}}">{{ form.first_name.label }}</label>
            <div>{{form.first_name}}</div>
            <div class="error">{{ form.first_name.errors }}</div>
          </div>
          <div class="form-group col-md-6">
            <label for="id_{{form.last_name.name}}">{{ form.last_name.label }}</label>
            <div>{{form.last_name}}</div>
            <div class="error">{{ form.last_name.errors }}</div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-group col-md-6">
            <label for="id_{{form.password1.name}}">{{ form.password1.label }}</label>
            <div>{{form.password1}}</div>
            <div class="error">{{ form.password1.errors }}</div>
          </div>
          <div class="form-group col-md-6">
            <label for="id_{{form.password2.name}}">{{ form.password2.label }}</label>
            <div>{{form.password2}}</div>
            <div class="error">{{ form.password2.errors }}</div>
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="id_{{form.user_role.name}}">{{ form.user_role.label }}</label>
          {% for radio in form.user_role %}
            <div>{{radio.tag}}&nbsp;&nbsp;{{radio.choice_label}}</div>
          {% endfor %}
          <div class="error">{{ form.user_role.errors }}</div>
        </div>

        <div class="form-group mb-3">
          <label for="id_{{form.work_place.name}}">{{ form.work_place.label }}</label>
          <div>{{form.work_place}}</div>
          <div class="error">{{ form.work_place.errors }}</div>
        </div>

        <div class="form-group mb-3">
          <label for="id_{{form.new_work_place_flag.name}}">{{ form.new_work_place_flag.label }}</label>
          <div>{{form.new_work_place_flag}}</div>
          <div class="error">{{ form.new_work_place_flag.errors }}</div>
        </div>

        <div id="work_place_form" style="display: none;">
          <div class="form-group mb-3">
            <label for="id_{{work_place_form.work_place_type.name}}"> {{ work_place_form.work_place_type.label }} </label>
            <div>{{work_place_form.work_place_type}}</div>
            <div class="error">{{ work_place_form.work_place_type.errors }}</div>
          </div>
          <div class="form-group mb-3">
            <label for="id_{{work_place_form.name.name}}"> {{ work_place_form.name.label }} </label>
            <div>{{work_place_form.name}}</div>
            <div class="error">{{ work_place_form.name.errors }}</div>
          </div>
          <div class="form-group mb-3">
            <label for="id_{{work_place_form.district_number.name}}">{{ work_place_form.district_number.label }}</label>
            <div>{{work_place_form.district_number}}</div>
            <div class="error">{{ work_place_form.district_number.errors }}</div>
          </div>
          <div class="row mb-3">
            <div class="form-group col-md-6">
              <label for="id_{{work_place_form.street_address_1.name}}"> {{ work_place_form.street_address_1.label }} </label>
              <div>{{work_place_form.street_address_1}}</div>
              <div class="error">{{ work_place_form.street_address_1.errors }}</div>
            </div>
            <div class="form-group col-md-6">
              <label for="id_{{work_place_form.street_address_2.name}}"> {{ work_place_form.street_address_2.label }} </label>
              <div>{{work_place_form.street_address_2}}</div>
              <div class="error">{{ work_place_form.street_address_2.errors }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="form-group col-md-4">
              <label for="id_{{work_place_form.city.name}}"> {{ work_place_form.city.label }} </label>
              <div>{{work_place_form.city}}</div>
              <div class="error">{{ work_place_form.city.errors }}</div>
            </div>
            <div class="form-group col-md-4">
              <label for="id_{{work_place_form.state.name}}"> {{ work_place_form.state.label }} </label>
              <div>{{work_place_form.state}}</div>
              <div class="error">{{ work_place_form.state.errors }}</div>
            </div>
            <div class="form-group col-md-4">
              <label for="id_{{work_place_form.zip_code.name}}"> {{ work_place_form.zip_code.label }} </label>
              <div>{{work_place_form.zip_code}}</div>
              <div class="error">{{ work_place_form.zip_code.errors }}</div>
            </div>
          </div>
        </div>
        <div class="form-group" id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-group">
          {% if user.is_authenticated %}
            <button type="submit" class="btn btn-success" id="submit">Add User</button>
          {% else %}
            <button type="submit" class="btn btn-success" id="submit">Sign Up</button>
          {% endif %}
        </div>
      </div>

    </form>
  </div>
</div>
{% block footer %}
  {{ form.media }}
{% endblock %}


<script type="text/javascript">
  $(function (){

    $('input[name="new_work_place_flag"]').on('change', function(){
      if($(this).is(':checked')){
        $('select#id_work_place').prop('disabled', 'disabled');
        $('div#work_place_form').show();
        $('div#work_place_form :input').prop('disabled', false);
      }
      else {
        $('div#work_place_form').hide();
        $('div#work_place_form :input').prop('disabled', true);
        $('select#id_work_place').prop('disabled', false);
      }
    });
    $('input[name="new_work_place_flag"]').trigger('change');

    /**************************/

    /*if($('select#id_work_place').length){
      document.querySelector('select[name="work_place"]').onchange = function(){
        if($(this).val() == "{{other_work_place.id}}"){
          $("div#work_place_form").show();
          $('input[name="work_place-name"]').prop('required', true);
          $('input[name="work_place-city"]').prop('required', true);
          generate_code();
        }
        else{
          $("div#work_place_form").hide();
          $('input[name="work_place-name"]').prop('required', false);
          $('input[name="work_place-city"]').prop('required', false);
        }
      };
      $('select#id_work_place').trigger('change');
    }*/
    $('#agree').change(function(){
      if( $(this).is(':checked') ){
        $('#submit').prop('disabled', false);
      } else {
        $('#submit').prop("disabled","disabled");
      }
    });


    $("#formSignUp").submit(function(e){
      e.preventDefault();
      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: $(this).serialize(),
        context: this,
        beforeSend: function(){
          $('#formSignUp #spinner').show();
        },
        complete: function(){
          $('#formSignUp #spinner').hide();
        },
        success: function(data, status) {
          if(data['success'] == true){
            window.parent.location.href = data['redirect_url'];
          }
          else{
            $('#signup').html(data['html']);
          }
        },
        error: function(){
          alert("Something went wrong.");
        }
      });
    });

  });
</script>


