{% extends "bcse_app/base.html" %}
{% load bcse_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
    <div class="workshops_container container">
       <h1 class="center">
        Student Programs
      </h1>
      {% include "bcse_app/WorkshopsButtons.html" with tag='student_programs' %}
      <div>
        <p class="callout">The Baxter Center for Science Education offers FREE experiences for local middle and high school students designed to engage them with authentic cutting-edge science activities, build STEM identities, and develop 21st-century workplace skills. See how you can get involved!</p>
      </div>
      {% include "bcse_app/WorkshopsSearch.html" with audience='student' %}
      <div class="workshops search_results">
        {% if flag == 'table' %}
          {% include "bcse_app/StudentProgramsTableView.html" %}
        {% else %}
          {% include "bcse_app/StudentProgramsListView.html" %}
        {% endif %}
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function() {
      $('.filter_form').submit();
    });
  </script>
{% endblock %}
