{% load base_extras %}
{% load bcse_extras %}

<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">{{survey.name}} </h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="SurveyMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="modal-body">
      {% include "bcse_app/SurveySubmissionContent.html" with parent="modal" %}
    </div>
</div>
