{% if user.is_authenticated and user.userProfile.user_role in 'AS' %}
  <ul class="nav nav-tabs mb-3">
    {% if survey.id %}
      <li class="nav-item">
        <label><a class="nav-link {% if tab == 'edit' %}active{% endif %}" aria-current="page"  href="{% url 'bcse:surveyEdit' survey.id %}">Edit</a></label>
      </li>
      {% if survey.survey_submission.all|length > 0 %}
        <li class="nav-item">
          <label><a class="nav-link {% if tab == 'submissions' %}active{% endif %}" aria-current="page"  href="{% url 'bcse:surveySubmissions' survey.id %}">Responses</a></label>
        </li>
      {% endif %}
      {% if tab == 'submissionView' %}
        <li class="nav-item">
          <label><a class="nav-link active" aria-current="page">Response {{submission.UUID|truncatechars:9}}</a></label>
        </li>
      {% else %}
        <li class="nav-item right">
          {% if survey.survey_component.all|length > 0 %}
            <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:surveySubmissionNew' survey.id %}" href="#">Preview</a>
          {% endif %}
          {% if survey.survey_submission.all|length > 0 %}
            <a class="btn" href="{% url 'bcse:surveySubmissionsExport' survey.id %}">Export Responses</a>
          {% endif %}
        </li>
      {% endif %}
    {% elif tab == 'edit' %}
      <li class="nav-item">
        <label><a class="nav-link active" aria-current="page">Edit</a></label>
      </li>
    {% endif %}
  </ul>
{% endif %}


