{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Surveys </h1>
  <div class="button-row">
    <a class="btn" href="{% url 'bcse:surveyNew' %}">Create Survey</a>
  </div>
  {% include "bcse_app/SurveysSearch.html" %}
  <div class="form-group" id="spinner">
    <img src="/static/img/page-loader.gif" class="icon"/>
  </div>
  <div class="search_results static">
  </div>
  <script type="text/javascript">
    $(function (){
      $('form#surveys_filter_form').submit();
    });
  </script>
{% endblock %}
