{% load base_extras %}
{% load bcse_extras %}

<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="center"> {{survey.name}} </h3>
    </div>
    <div id="SurveyMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>
    <form method="post" enctype="multipart/form-data" id="formSurvey" action="{% url 'bcse:surveySubmission' survey.id submission.UUID page_num %}{% if workshop_id %}?workshop_id={{workshop_id}}{% endif %}">
      {% csrf_token %}
      {{formset.management_form}}
      <div class="modal-body">
        {% if formset|length > 0 %}
          {% for form in formset %}
              <div class="survey_component form-group mb-3">
                <div class="context {% if form.instance.survey_component.component_type != 'IN' %} question_label {% endif %}">
                  {{form.id}}
                  {% if form.instance.survey_component.component_type != 'IN' %}
                    <label>{{form.instance.survey_component.content|inline_style|strip_html}}</label>
                    {% if form.instance.survey_component.is_required %} (<span class="required">*</span>) {% endif %}
                  {% else %}
                    {{form.instance.survey_component.content|inline_style|safe}}
                  {% endif %}
                </div>
                {% if form.instance.survey_component.component_type != 'IN' %}
                  <div class="response">
                    {% if form.instance.survey_component.component_type == 'TA' %}
                      <textarea placeholder="Enter your response" class="form-control" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{form.response.value}}" {% if form.instance.survey_component.is_required %}required{% endif %}>{{form.response.value}}</textarea>
                    {% elif form.instance.survey_component.component_type == 'TF' %}
                      <input type="text" placeholder="Enter your response" class="form-control" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{form.response.value}}" {% if form.instance.survey_component.is_required %}required{% endif %}/>
                    {% elif form.instance.survey_component.component_type == 'DD' %}
                      <select class="form-control" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" {% if form.instance.survey_component.is_required %}required{% endif %}>
                        <option value="">--------</option>
                        {% for option in form.instance.survey_component.options|splitlines%}
                          {% if option|slugify == form.response.value|slugify %}
                            <option value="{{option}}" selected>{{option}}</option>
                          {% else %}
                            <option value="{{option}}">{{option}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    {% elif form.instance.survey_component.component_type == 'MC' %}
                      <div>
                        {% for option in form.instance.survey_component.options|splitlines%}
                          {% if option|slugify == form.response.value|slugify %}
                            <input type="radio" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{option}}"  checked="true" {% if form.instance.survey_component.is_required %}required{% endif %}/>  {{option}}<br>
                          {% else %}
                            <input type="radio" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{option}}" {% if form.instance.survey_component.is_required %}required{% endif %}/>  {{option}}<br>
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% elif form.instance.survey_component.component_type == 'MS' %}
                      <div>
                        <input type="hidden" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{form.response.value}}"/>
                        {% with chosen=form.response.value|split:',' %}
                        {% for option in form.instance.survey_component.options|splitlines%}
                          {% if option|is_in:chosen %}
                            <input type="checkbox" name="{{form.response.html_name}}_cb" id="{{form.response.auto_id}}_cb" value="{{option}}" checked/>  {{option}}<br>
                          {% else %}
                            <input type="checkbox" name="{{form.response.html_name}}_cb" id="{{form.response.auto_id}}_cb" value="{{option}}"/>  {{option}}<br>
                          {% endif %}
                        {% endfor %}
                        {% endwith %}
                      </div>
                    {% elif form.instance.survey_component.component_type == 'FI' %}
                      <div>
                        <label>Upload files that are less than 10MB in size.</label>
                        {{form.responseFile}}
                      </div>
                    {% elif form.instance.survey_component.component_type == 'DT' %}
                      <div>
                        <input type="date" placeholder="Enter your response" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" class="form-control" {% if sform.instance.survey_component.is_required %}required{% endif %}/>
                      </div>
                    {% elif form.instance.survey_component.component_type == 'EM' %}
                      <div>
                        <input type="email" placeholder="Enter your response" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" class="form-control" {% if form.instance.survey_component.is_required %}required{% endif %}/>
                      </div>
                    {% elif form.instance.survey_component.component_type == 'UL' %}
                      <div>
                        <input type="url" placeholder="Enter your response" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" class="form-control" {% if form.instance.survey_component.is_required %}required{% endif %}/>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          {% endif %} 
          <div class="form-group" id="spinner">
            <img src="/static/img/page-loader.gif" class="icon"/>
          </div>
        </div>
        <div class="modal-footer button-row">
          <div class="form-group">
            <input type="hidden" id="back" name="back" value="0"/>
            {% if page_num > 1 %}
              <button class="btn back" type="button" id="back_bottom">
                  Back
              </button>
            {% endif %}
            {% if page_num < total_pages %}
              <button class="btn next" type="submit" id="submit_bottom">
                Next
              </button>
            {% else %}
              {% if survey.resource_url %}
                <button class="btn next" type="button" id="submit_bottom_with_download" data-name='{{survey.name|replace_space:"_"}}.pdf' data-href='{{survey.resource_url}}'>
                  Submit
                </button>
              {% else %}
                 <button class="btn next" type="submit" id="submit_bottom">
                  Submit
                </button>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>


  <script type="text/javascript">
    $(function (){
      $("#formSurvey input:checkbox").change(function(){
        var selectedValues = $("input[id="+$(this).attr('id')+"]:checked").map(function() {return this.value;}).get().join(',')
        var hiddenVar = $(this).prevAll('input:hidden');
        $(hiddenVar).val(selectedValues);
      });

      $('#submit_bottom_with_download').on('click', function(e){
        var url = $(this).data('href');
        var filename = $(this).data('name');
        var element = document.createElement('a');
        element.setAttribute('href',url);
        element.setAttribute('download', filename);
        element.setAttribute('target', '_blank');
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
        //wait for the download to initiate before submitting the form
        window.focus();
        window.setTimeout(function(){
          $('#formSurvey').submit();
        }, 7000);

      });
      $('button.back').on('click', function(e){
        $('input#back').val(1);
        $("#formSurvey").submit();
      });
      $("#formSurvey").submit(function(e) {
        e.preventDefault();

        $.ajax({
          type: $(this).attr('method'),
          url: this.action,
          data: $(this).serialize(),
          context: this,
          beforeSend: function(){
            $('#formSurvey #spinner').show();
          },
          complete: function(){
            $('#formSurvey #spinner').hide();
          },
          success: function(data, status) {
            if(data['success'] == true){
              if(data['html']) {
                $('#general').html(data['html']);
              }
              else if(data['redirect_url']) {
                window.parent.location.href = data['redirect_url'];
              }
              else {
                window.parent.location.reload();
              }
            }
            else{
              $('#general').html(data['html']);
            }
          },
          error: function(){
            displayErrorDialog();
          }
        });
      });

    });
  </script>

