{% load bcse_extras %}
{% load base_extras %}
<div class="search_results static">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Submission ID</th>
        <th>IP Address</th>
        <th> User ID </th>
        <th> Email </th>
        <th> Full Name </th>
        <th> Work Place </th>
        <th>
          {%  if survey.survey_type == 'B' %}
            Activity
          {% elif survey.survey_type == 'W' %}
            Workshop
          {% else %}
            Connected Entity
          {% endif %}
        </th>
        <th> Admin Notes </th>
        <th> Created Date </th>
        <th> Status </th>
        <th> Action </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{submission.UUID|truncatechars:8}}</td>
        <td>{{submission.ip_address}}</td>
        <td>{{submission.user.id|default_if_none:""}}</td>
        <td>{{submission.user.user.email|default_if_none:""}}</td>
        <td>{{submission.user.user.get_full_name|default_if_none:""}}</td>
        <td>{{submission.survey_submission_to_work_place.work_place|default_if_none:""}}</td>
        <td>
          {% get_submission_connected_entity submission.UUID as survey_entity %}
          {% if survey_entity %}
            {% if survey_entity.entity_type == 'Reservation' %}
              {% if survey_entity.entity.activity %}
                {{survey_entity.entity.activity.name}}
              {% elif survey_entity.entity.other_activity %}
                {{survey_entity.entity.other_activity_name}}
              {% endif %}
            {% elif survey_entity.entity_type == 'Workshop' %}
              {{survey_entity.entity.name}}
            {% endif %}
          {% endif %}
        </td>
        <td>{{submission.admin_notes|default_if_none:""}}</td>
        <td>{{submission.created_date|date}}</td>
        <td>{{submission.get_status_display}}</td> 
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Action
            </button>
            <ul class="dropdown-menu">
              {% if parent == "page" %}
              <li>
                <a class="dropdown-item action modal-open" data-bs-toggle="modal" data-bs-target="#survey_submission" data-href="{% url 'bcse:surveySubmissionEdit' survey.id submission.UUID %}" href="#">
                  Edit
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item action delete" data-href="{% url 'bcse:surveySubmissionDelete' survey.id submission.UUID %}"
                  data-title="the survey submission <strong>{{submission.UUID|truncatechars:8}}</strong>">
                  Delete
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              {% endif %}
              <li>
                <a class="dropdown-item action export" href="{% url 'bcse:surveySubmissionsExport' survey.id submission.UUID %}">
                  Export Submission
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>      
    </tbody>
  </table>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Page</th>
        <th>Order</th>
        <th>Type</th>
        <th>Content</th>
        <th>Options</th>
        <th>Is Required</th>
        <th>Response</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody>
      {% for response in surveyResponses %}
        <tr>
          <td>{{response.survey_component.page}}</td>
          <td>{{response.survey_component.order}}</td>
          <td>{{response.survey_component.get_component_type_display}}</td>
          <td>{{response.survey_component.content|safe}}</td>
          <td>
            <ul>
              {% for option in response.survey_component.options|splitlines %}
                <li>{{option}}</li>
              {% endfor %}
              {% if response.survey_component.display_other_option and response.survey_component.other_option_label %}
                <li>{{response.survey_component.other_option_label}}</li>
              {% endif %}
            </ul>
          </td>
          <td>{{response.survey_component.is_required|yesno:"Yes,No"}}</td>
          <td>
            {% if response.survey_component.component_type == 'FI' %}
              {% if response.responseFile %}
                <a target="_blank" href="{{response.responseFile.url}}">Uploaded File</a>
              {% endif %}
            {% elif response.survey_component.component_type == 'MS' and response.response|split:","|length > 1 %}
              <ul>
                {% for resp in response.response|split:"," %}
                  <li>{{resp}}</li>
                {% endfor %}
              </ul>
            {% else %}
              {{response.response}}
            {% endif %}
          </td>
          <td>{{response.created_date|date}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
