<div class="row mb-3">
  <div class="form-group col-md-8">
    <label for="id_{{form.work_place.name}}">
      {{ form.work_place.label }}
      <span class="workplace_required">(<span class="required">*</span>)</span>
    </label>
    <div id="signup_workplace_select">{{form.work_place}}</div>
    <div class="error work_place_error">{{ form.work_place.errors }}</div>
  </div>
  <div class="form-group col-md-4">
    <label for="id_{{form.new_work_place_flag.name}}">
      {{ form.new_work_place_flag.label }}
      {% if form.new_work_place_flag.field.required %}
        (<span class="required">*</span>)
      {% endif %}
    </label>
    <div>{{form.new_work_place_flag}}</div>
    <div class="error">{{ form.new_work_place_flag.errors }}</div>
  </div>
</div>
{% include "bcse_app/WorkPlace.html" with work_place_form=work_place_form source='survey' %}
