{% load base_extras %}
{% load bcse_extras %}

<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="center">
        {% if survey.status == 'A' and reservation_id %}
          {% get_reservation_activity reservation_id as reservation_activity %}
          {% if reservation_activity %}
            Baxter Box Feedback for {{reservation_activity}}
          {% else %}
            Baxter Box Feedback
          {% endif %}
        {% else %}
          {{survey.name}}
        {% endif %}
      </h3>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div id="SurveyMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>
    {% if survey.status == 'A' %}
      <form method="post" enctype="multipart/form-data" id="formSurvey" class="survey_form" action="{% url 'bcse:surveySubmission' survey.id submission.UUID page_num %}{% if workshop_id %}?workshop_id={{workshop_id}}{% endif %}{% if reservation_id %}?reservation_id={{reservation_id}}{% endif %}">
        {% csrf_token %}
        <div class="modal-body">
          {% if user.is_authenticated and user.userProfile.user_role == 'A' and page_num == 1 %}
            {{form.media}}
            <div class="warning center">You are creating a survey entry on behalf of a user.  Please select a user and the response date first.</div>
             <div class="row mb-3">
              <div class="form-group col-md-6">
                <label for="id_{{form.user.name}}">
                  {{ form.user.label|title }}
                  <span class="user_required">(<span class="required">*</span>)</span>
                </label>
                <div>
                  {{form.user}}
                  {% if form.instance.user %}
                    {{form.user.as_hidden}}
                  {% endif %}
                </div>
                <div class="error">{{ form.user.errors }}</div>
              </div>
              <div class="form-group col-md-6">
                <label for="id_{{form.response_date.name}}">
                  {{ form.response_date.label|title }}
                  <span class="response_date_required">(<span class="required">*</span>)</span>
                </label>
                <div class="input-group">
                  {{form.response_date}}
                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="error">{{ form.response_date.errors }}</div>
              </div>
              {{form.status.as_hidden}}
            </div>
            <hr>
          {% elif user.is_authenticated and user.userProfile.user_role != 'A' and page_num == 1 and userProfileForm %}
            {% include "bcse_app/WorkshopRegistrationQuestionnaire.html" with form=userProfileForm workshop=workshop%}
            <hr>
          {% endif %}
          {{formset.management_form}}
          {% if formset|length > 0 %}
            {% for form in formset %}
                <div class="survey_component form-group mb-3">
                  <div class="context {% if form.instance.survey_component.component_type != 'IN' %} question_label {% endif %}">
                    {{form.id}}
                    {% if form.instance.survey_component.component_type != 'IN' %}
                      <label>{{form.instance.survey_component.content|inline_style|strip_html|safe}}
                      {% if form.instance.survey_component.is_required %} (<span class="required">*</span>) {% endif %}</label>
                    {% else %}
                      {{form.instance.survey_component.content|inline_style|safe}}
                    {% endif %}
                  </div>
                  {% if form.instance.survey_component.component_type != 'IN' %}
                    <div class="response">
                      {% if form.instance.survey_component.component_type == 'TA' %}
                        <textarea placeholder="Enter your response" class="form-control survey_input" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{form.response.value}}" {% if form.instance.survey_component.is_required %}required{% endif %}>{{form.response.value}}</textarea>
                      {% elif form.instance.survey_component.component_type == 'TF' %}
                        <input type="text" placeholder="Enter your response" class="form-control survey_input" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{form.response.value}}" {% if form.instance.survey_component.is_required %}required{% endif %}/>
                      {% elif form.instance.survey_component.component_type == 'DD' or form.instance.survey_component.component_type == 'MC' or form.instance.survey_component.component_type == 'MS' %}

                        {% with options=form.instance.survey_component.options|splitlines display_other_option=form.instance.survey_component.display_other_option other_option_label=form.instance.survey_component.other_option_label %}

                        {% if form.instance.survey_component.component_type == 'DD' %}
                          <select class="form-control survey_input" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" {% if form.instance.survey_component.is_required %}required{% endif %}>
                            <option value="">--------</option>
                            {% for option in options%}
                              {% if option|slugify == form.response.value|slugify %}
                                <option value="{{option}}" selected>{{option}}</option>
                              {% else %}
                                <option value="{{option}}">{{option}}</option>
                              {% endif %}
                            {% endfor %}
                            {% if display_other_option and other_option_label %}
                              {% if not form.response.value or form.response.value|is_in:options %}
                                <option value="{{other_option_label}}" class="other">{{other_option_label}}</option>
                              {% else %}
                                <option value="{{other_option_label}}" class="other" selected>{{other_option_label}}</option>
                              {% endif %}
                            {% endif %}
                          </select>
                          {% if display_other_option and other_option_label %}
                            {% if not form.response.value or form.response.value|is_in:options %}
                              <input type="text" placeholder="Enter your response" class="form-control other survey_input" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="" disabled/>
                            {% else %}
                               <input type="text" placeholder="Enter your response" class="form-control other survey_input" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{form.response.value}}"/>
                            {% endif %}
                          {% endif %}
                        {% elif form.instance.survey_component.component_type == 'MC' %}
                          <div class="survey_input" tabindex="-1">
                            {% for option in options%}
                              {% if option|slugify == form.response.value|slugify %}
                                <input type="radio" class="form-check-input" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{option}}"  checked="true" {% if form.instance.survey_component.is_required %}required{% endif %}/>  {{option}}
                              {% else %}
                                <input type="radio" class="form-check-input" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{option}}" {% if form.instance.survey_component.is_required %}required{% endif %}/>  {{option}}
                              {% endif %}
                              {% if not forloop.last %}
                                <br>
                              {% endif %}
                            {% endfor %}
                            {% if display_other_option and other_option_label %}
                              <br>
                              {% if not form.response.value or form.response.value|is_in:options %}
                                <input type="radio" class="form-check-input other" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{other_option_label}}"  {% if form.instance.survey_component.is_required %}required{% endif %}/>  {{other_option_label}}
                                <input type="text" placeholder="Enter your response" class="form-control other" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="" disabled/>
                              {% else %}
                                <input type="radio" class="form-check-input other" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{other_option_label}}" checked="true" {% if form.instance.survey_component.is_required %}required{% endif %}/>  {{other_option_label}}
                                <input type="text" placeholder="Enter your response" class="form-control other" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{form.response.value}}"/>
                              {% endif %}
                            {% endif %}
                          </div>
                        {% elif form.instance.survey_component.component_type == 'MS' %}
                          <div class="survey_input" tabindex="-1">
                            <input type="hidden" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" value="{{form.response.value}}"/>
                            {% with chosen=form.response.value|split:',' %}
                            {% for option in options %}
                              {% if option|is_in:chosen %}
                                <input type="checkbox" class="form-check-input" name="{{form.response.html_name}}_cb" id="{{form.response.auto_id}}_cb" value="{{option}}" checked/>  {{option}}
                              {% else %}
                                <input type="checkbox" class="form-check-input" name="{{form.response.html_name}}_cb" id="{{form.response.auto_id}}_cb" value="{{option}}"/>  {{option}}
                              {% endif %}
                              {% if not forloop.last %}
                                <br>
                              {% endif %}
                            {% endfor %}
                            {% endwith %}
                          </div>
                        {% endif %}
                        {% endwith %}

                      {% elif form.instance.survey_component.component_type == 'FI' %}
                        <div class="survey_input">
                          {{form.responseFile}}
                          <div class="warning">Upload files that are less than 10MB in size.</div>
                        </div>
                      {% elif form.instance.survey_component.component_type == 'DT' %}
                        <div class="survey_input">
                          <input type="date" placeholder="Enter your response" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" class="form-control" {% if sform.instance.survey_component.is_required %}required{% endif %} value="{{form.response.value}}"/>
                        </div>
                      {% elif form.instance.survey_component.component_type == 'EM' %}
                        <div class="survey_input">
                          <input type="email" placeholder="Enter your response" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" class="form-control" {% if form.instance.survey_component.is_required %}required{% endif %} value="{{form.response.value}}" />
                        </div>
                      {% elif form.instance.survey_component.component_type == 'UL' %}
                        <div class="survey_input">
                          <input type="url" placeholder="Enter your response" name="{{form.response.html_name}}" id="{{form.response.auto_id}}" class="form-control" {% if form.instance.survey_component.is_required %}required{% endif %} value="{{form.response.value}}"/>
                        </div>
                      {% endif %}
                    </div>
                  {% else %}
                    {{form.response.as_hidden}}
                  {% endif %}
                </div>
              {% endfor %}
            {% endif %}
            <div class="form-group" id="spinner">
              <img src="/static/img/page-loader.gif" class="icon"/>
            </div>
          </div>
          <div class="modal-footer button-row">
            <div class="form-group">
              <input type="hidden" id="back" name="back" value="0"/>
              <input type="hidden" id="save" name="save" value="0"/>
              {% if page_num > 1 %}
                <button class="btn back" type="button" id="back_bottom">
                    Back
                </button>
              {% endif %}
              {% if page_num < total_pages %}
                <button class="btn next" type="submit" id="submit_bottom">
                  Next
                </button>
              {% else %}
                {% if survey.resource_url %}
                  <button class="btn next" type="button" id="submit_bottom_with_download" data-name='{{survey.name|replace_space:"_"}}.pdf' data-href='{{survey.resource_url}}'>
                    {% if survey.survey_type == 'W' %}
                      {% if workshop and workshop.registration_setting.registration_type == 'R' %}
                        Complete Registration
                      {% else %}
                        Submit Application
                      {% endif %}
                    {% else %}
                      Submit
                    {% endif %}
                  </button>
                {% else %}
                   <button class="btn next" type="submit" id="submit_bottom">
                    {% if survey.survey_type == 'W' %}
                      {% if workshop and workshop.registration_setting.registration_type == 'R' %}
                        Complete Registration
                      {% else %}
                        Submit Application
                      {% endif %}
                    {% else %}
                      Submit
                    {% endif %}
                  </button>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </form>
      {% endif %}
    </div>
  </div>


  <script type="text/javascript">
    $(function (){

      $("#formSurvey .response input:checkbox").on('change', function(){
        var selectedValues = $("input[id="+$(this).attr('id')+"]:checked").map(function() {return this.value;}).get().join(',')
        var hiddenVar = $(this).prevAll('input:hidden');
        $(hiddenVar).val(selectedValues);
      });

      $("#formSurvey .response input[id$='cbo'].other").change(function(){
        $(this).prev('input:checkbox').trigger('change');
      });

      $('#submit_bottom_with_download').on('click', function(e){
        var url = $(this).data('href');
        var filename = $(this).data('name');
        var element = document.createElement('a');
        element.setAttribute('href',url);
        element.setAttribute('download', filename);
        element.setAttribute('target', '_blank');
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
        //wait for the download to initiate before submitting the form
        window.focus();
        window.setTimeout(function(){
          $('#formSurvey').submit();
        }, 7000);

      });
      $('button.back').on('click', function(e){
        $('input#back').val(1);
        $("#formSurvey").submit();
      });
      $("#formSurvey").submit(function(e) {
        e.preventDefault();
        $('input#save').val(0);
        var formData = new FormData(this);

        $.ajax({
          type: $(this).attr('method'),
          url: this.action,
          data: formData,
          dataType: 'json',
          context: this,
          cache:false,
          contentType: false,
          processData: false,
          beforeSend: function(){
            $('#formSurvey #spinner').show();
          },
          complete: function(){
            $('#formSurvey #spinner').hide();
          },
          success: function(data, status) {
            if(data['success'] == true){
              if(data['html']) {
                $('#general').html(data['html']);
              }
              else if(data['redirect_url']) {
                window.parent.location.href = data['redirect_url'];
              }
              else {
                var redirect_url = window.parent.location.href.split('?')[0];
                window.parent.location.href = redirect_url;
                //window.parent.location.href = '/';
              }
            }
            else{
              $('#general').html(data['html']);
            }
          },
          error: function(){
            displayErrorDialog();
          }
        });
      });



      $('.btn-close').on('click', function(e){
        e.preventDefault();
        var modal = $(this).closest('.modal');
        bootbox.confirm({ title: 'Confirm',
          message: "<p>Do you want to close this popup?</p>",
          buttons: {
            confirm: {
                label: 'Confirm',
                className: 'btn btn-small btn-danger'
            },
            cancel: {
                label: 'Cancel',
                className: 'btn btn-small'
            }
          },
          closeButton: true,
          callback: function(result){
            if (result == true) {
              $(modal).modal('hide');
            }
          },
        });
      });

      $('.response select').on('change', function(e){
        var show = $(this).find(":selected").hasClass('other');
        toggleOtherElement($(this), show);
      });

      $('.response input[type="checkbox"].other').on('change', function(e){
        var show = $(this).is(':checked');
        toggleOtherElement($(this), show);
      });

      $('.response input[type="radio"]').on('change', function(e){
        var show = $(this).is(':checked') && $(this).hasClass('other');
        toggleOtherElement($(this), show);
      });

      //disable Enter key press
      $("form.survey_form").bind("keypress", function(e) {
        if (e.keyCode == 13 && e.target.tagName !== 'TEXTAREA') {
          return false;
        }
      });

      function toggleOtherElement(element, show) {
        if(show) {
          $(element).nextAll('input[type="text"].other').attr('disabled', false);
          $(element).nextAll('input[type="text"].other').show();
        }
        else{
          console.log('is not checked');
          $(element).nextAll('input[type="text"].other').val('');
          $(element).nextAll('input[type="text"].other').attr('disabled', true);
          $(element).nextAll('input[type="text"].other').hide();
        }
      }

      //auto saving on focusout of form elements
      function bindFocusOutSave() {

        $('.survey_input').on('focusout', function(e){
          if(e.target.id == 'submit_bottom_with_download' ||  e.target.id == 'save_button' || e.target.id == 'back_button'){
            console.log('manual save');
            return false;
          }
          else{
            console.log('auto save');
            autoSave();
          }
        });
        /*//auto saving on ckeditor focusout
        for ( instance in CKEDITOR.instances ) {
          CKEDITOR.instances[instance].on('blur', function(e){
            autoSave();
          });
        }*/
      }

      // ajax submit
      function autoSave(){
        /*
        for ( instance in CKEDITOR.instances ) {
          CKEDITOR.instances[instance].updateElement();
        }*/
        $('input#save').val(1);
        $('#formSurvey').ajaxSubmit({
          dataType : 'json',
          success: function(data){
            if(data['success'] == true){
              //message at the top of the page stating responses auto saved
              display_messages('The responses were auto saved at '+ new Date().toLocaleTimeString(), "success");
            }
            else {
              display_messages('The responses could not auto saved. Please click the Next or Submit button at the bottom of the page.', 'error');
            }
          },
          error: function(data) {
            display_messages('The responses could not auto saved. Please click the Next or Submit button at the bottom of the page.', 'error');
          }
        });
        return false;
      }

      function display_messages(message, className){
        $("ul.errorlist").html('<li class="'+className+'">'+message+'</li>');
        $("ul.errorlist").show();
      }
      bindFocusOutSave();
      $('.response select, .response input[type="checkbox"].other, .response input[type="radio"].other').trigger('change');

      $('select.select2#id_user').select2({
        placeholder: 'Start typing to search and select',
        dropdownParent: $("#general")
      });

    });
  </script>

