{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  {% if form.instance.id %}
    <h1 class="center"> Teacher Leader - {{form.instance.teacher.user.first_name}} {{form.instance.teacher.user.last_name}} </h1>
  {% else %}
    <h1 class="center"> Create Teacher Leader </h1>
  {% endif %}
  <div class="admin_form">
    <form method="post" enctype="multipart/form-data" id="formTeacherLeader">
      {% csrf_token %}
      {{form.media}}

      <div class="form-group mb-3">
        <label for="id_{{form.teacher.name}}" class="form-label"> {{form.teacher.label|title}}</label>
        <div>{{form.teacher}}</div>
        <div class="error">{{ form.teacher.errors }}</div>
      </div>

      <div class="form-group mb-3">
        <label for="id_{{form.bio.name}}" class="form-label"> {{form.bio.label|title}}</label>
        <div>{{form.bio}}</div>
        <div class="error">{{ form.bio.errors }}</div>
      </div>

      <div class="form-group mb-3">
        <label for="id_{{form.highlight.name}}" class="form-label"> {{form.highlight.label|title}}</label>
        <div>{{form.highlight}}</div>
        <div class="error">{{ form.highlight.errors }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="id_{{form.status.name}}" class="form-label"> {{form.status.label|title}}</label>
        <div>{{form.status}}</div>
        <div class="error">{{ form.status.errors }}</div>
      </div>
      
      <div class="form-group mb-3 right">
        {% if form.instance.id %}
          <button type="button" class="btn btn-danger delete action" data-href="{% url 'bcse:teacherLeaderDelete' form.instance.id %}" data-title="the teacher leader <strong>{{form.instance.first_name}} {{form.instance.last_name}}</strong>">
            Delete
          </button>
        {% endif %}
        <button class="btn" type="submit" id="submit_bottom">
          Save
        </button>
      </div>

    </form>
  </div>
{% endblock %}
