{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Teacher Leaders </h1>
  <div class="button-row">
    <a class="btn" href="{% url 'bcse:teacherLeaderNew' %}" role="button">Create Teacher Leader</a>
  </div>
  <div class="search_results static">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th> Teacher Leader ID</th>
          <th> Full Name </th>
          <th> Image </th>
          <th> School </th>
          <th> Bio </th>
          <th> Highlight </th>
          <th> Created Date</th>
          <th> Modified Date </th>
          <th> Action </th>
        </tr>
      </thead>
      <tbody>
        {% for teacher_leader in teacher_leaders %}
          <tr>
            <td> {{teacher_leader.id}}</td>
            <td> {{teacher_leader.teacher.user.get_full_name}} </td>
            <td>
              {% if teacher_leader.teacher.image %}
                <img class="icon" src="{{teacher_leader.teacher.image.url}}"/>
              {% endif %}
            </td>
            <td> {{teacher_leader.teacher.work_place}} </td>
            <td class="wysiwyg_content"> {{teacher_leader.bio|safe}} </td>
            <td> {{teacher_leader.highlight|yesno:"Yes,No"}} </td>
            <td> {{teacher_leader.created_date|date:"F j, Y g:i A"}}</td>
            <td> {{teacher_leader.modified_date|date:"F j, Y g:i A"}} </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'bcse:teacherLeaderEdit' teacher_leader.id %}">Edit Teacher Leader Profile</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#profile" data-href="{% url 'bcse:userProfileEdit' teacher_leader.teacher.id %}" href="#">Edit User Profile</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item delete action" data-href="{% url 'bcse:teacherLeaderDelete' teacher_leader.id %}"
                    data-title="the teacher leader <strong>{{teacher_leader.first_name}} {{teacher_leader.last_name}}</strong>">
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
