{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Team Members </h1>
  <div class="button-row">
    <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#team_member" data-href="{% url 'bcse:teamMemberNew' %}" href="#">Create Team Member</a>
  </div>
  <div class="search_results static">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th> ID</th>
          <th> Name </th>
          <th> Email </th>
          <th> Position </th>
          <th> Organization </th>
          <th> Order </th>
          <th> Alumnus </th>
          <th> Status </th>
          <th> Created Date</th>
          <th> Modified Date </th>
          <th> Action </th>
        </tr>
      </thead>
      <tbody>
        {% for member in members %}
          <tr>
            <td> {{member.id}}</td>
            <td> {{member.name}} </td>
            <td> {{member.email}} </td>
            <td> {{member.position}} </td>
            <td> {{member.organization}} </td>
            <td> {{member.order}} </td>
            <td> {{member.alumnus|yesno:"Yes,No"}} </td>
            <td> {{member.get_status_display}} </td>
            <td> {{member.created_date|date:"F j, Y g:i A"}}</td>
            <td> {{member.modified_date|date:"F j, Y g:i A"}} </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#team_member" data-href="{% url 'bcse:teamMemberEdit' member.id %}" href="#">Edit</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item delete action" data-href="{% url 'bcse:teamMemberDelete' member.id %}"
                    data-title="the member <strong>{{member.name}}</strong>">
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
