<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      {% if userForm.instance.id %}
        <h3 class="left"> Update User Profile </h3>
      {% else %}
        <h3 class="left"> Create User </h3>
      {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="userProfileMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>
    <form class="form" method="post" enctype="multipart/form-data" action="{% url 'bcse:userProfileEdit' userProfileForm.instance.id %}{% if redirect_url %}?next={{redirect_url}}{% endif %}" id="formUserProfile">
      {% csrf_token %}
      {{form.management_form}}
      <div class="modal-body">
        <div class="form-group mb-3">
          <label for="id_{{userForm.email.name}}" class="form-label">
            {{ userForm.email.label }}
            (<span class="required">*</span>)
          </label>
          <div>{{userForm.email}}</div>
          <div class="error">{{ userForm.email.errors }}</div>
        </div>
        <div class="row mb-3">
          <div class="form-group col-md-6">
            <label for="id_{{userForm.first_name.name}}" class="form-label">{{ userForm.first_name.label|title }} (<span class="required">*</span>)</label>
            <div>{{userForm.first_name}}</div>
            <div class="error">{{ userForm.first_name.errors }}</div>
          </div>
          <div class="form-group col-md-6">
            <label for="id_{{userForm.last_name.name}}" class="form-label">{{ userForm.last_name.label|title }} (<span class="required">*</span>)</label>
            <div>{{userForm.last_name}}</div>
            <div class="error">{{ userForm.last_name.errors }}</div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{userProfileForm.name_pronounciation.name}}" class="form-label"> {{userProfileForm.name_pronounciation.label|title}}</label>
          <div>{{userProfileForm.name_pronounciation}}</div>
          <div class="error">{{ userProfileForm.name_pronounciation.errors }}</div>
        </div>
        <div class="row mb-3">
          <div class="form-group col-md-6">
            <label for="id_{{userForm.password1.name}}">{{ userForm.password1.label|title }} (<span class="required">*</span>)</label>
            <div>{{userForm.password1}}</div>
            <div class="error">{{ userForm.password1.errors }}</div>
          </div>
          <div class="form-group col-md-6">
            <label for="id_{{userForm.password2.name}}">{{ userForm.password2.label|title }} (<span class="required">*</span>)</label>
            <div>{{userForm.password2}}</div>
            <div class="error">{{ userForm.password2.errors }}</div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="form-group col-md-6">
            <label for="id_{{userProfileForm.user_role.name}}" class="form-label"> {{userProfileForm.user_role.label|title}} (<span class="required">*</span>)</label>
            <div>{{userProfileForm.user_role}}</div>
            <div class="error">{{ userProfileForm.user_role.errors }}</div>
          </div>
          <div class="form-group col-md-6">
            <label for="id_{{userProfileForm.phone_number.name}}" class="form-label"> {{userProfileForm.phone_number.label|title}}</label>
            <div>{{userProfileForm.phone_number}}</div>
            <div class="error">{{ userProfileForm.phone_number.errors }}</div>
          </div>
        </div>
        <div class="row mb-3 school_related">
          <div class="form-group col-md-6">
            <label for="id_{{userProfileForm.iein.name}}" class="form-label"> {{userProfileForm.iein.label|upper}}</label>
            <div>{{userProfileForm.iein}}</div>
            <div class="error">{{ userProfileForm.iein.errors }}</div>
          </div>
          <div class="form-group col-md-6">
            <label for="id_{{userProfileForm.grades_taught.name}}" class="form-label"> {{userProfileForm.grades_taught.label|title}}</label>
            <div>{{userProfileForm.grades_taught}}</div>
            <div class="error">{{ userProfileForm.grades_taught.errors }}</div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-group col-md-8">
            <label for="id_{{userProfileForm.work_place.name}}">
              {{ userProfileForm.work_place.label|title }}
              <span class="workplace_required">(<span class="required">*</span>)</span>
            </label>
            <div id="profile_workplace_select">{{userProfileForm.work_place}}</div>
            <div class="error work_place_error">{{ userProfileForm.work_place.errors }}</div>
          </div>
          <div class="form-group col-md-4">
            <label for="id_{{userProfileForm.new_work_place_flag.name}}">
              {{ userProfileForm.new_work_place_flag.label|title }}
              {% if userProfileForm.new_work_place_flag.field.required %}
                (<span class="required">*</span>)
              {% endif %}
            </label>
            <div>{{userProfileForm.new_work_place_flag}}</div>
            <div class="error">{{ userProfileForm.new_work_place_flag.errors }}</div>
          </div>
        </div>

        {% include "bcse_app/WorkPlace.html" with work_place_form=work_place_form source='userProfile' %}

        <div class="row mb-3">
          <div class="form-group col-md-4">
            <label for="id_{{userProfileForm.twitter_handle.name}}" class="form-label"> {{userProfileForm.twitter_handle.label}}</label>
            <div>{{userProfileForm.twitter_handle}}</div>
            <div class="error">{{ userProfileForm.twitter_handle.errors }}</div>
          </div>
          <div class="form-group col-md-4">
            <label for="id_{{userProfileForm.instagram_handle.name}}" class="form-label"> {{userProfileForm.instagram_handle.label}}</label>
            <div>{{userProfileForm.instagram_handle}}</div>
            <div class="error">{{ userProfileForm.instagram_handle.errors }}</div>
          </div>
          <div class="form-group col-md-4">
            <label for="id_{{userProfileForm.subscribe.name}}" class="form-label"> {{userProfileForm.subscribe.label|title}}</label>
            <div>{{userProfileForm.subscribe}}</div>
            <div class="error">{{ userProfileForm.subscribe.errors }}</div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="form-group col-md-8">
            <label for="id_{{userProfileForm.image.name}}" class="form-label"> {{userProfileForm.image.label}}</label>
            {% if userProfileForm.instance.id and userProfileForm.instance.image.url %}
              <div class="image_preview">
                <img src="{{userProfileForm.instance.image.url}}" class="icon curve" alt="">
              </div>
            {% endif %}
            <div>{{userProfileForm.image}}</div>
            <div class="error">{{ userProfileForm.image.errors }}</div>
          </div>
          {% if userProfileForm.photo_release_complete %}
          <div class="form-group col-md-4">
            <label for="id_{{userProfileForm.photo_release_complete.name}}" class="form-label"> {{userProfileForm.photo_release_complete.label|title}}</label>
            <div>{{userProfileForm.photo_release_complete}}</div>
            <div class="error">{{ userProfileForm.photo_release_complete.errors }}</div>
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="id_{{userProfileForm.dietary_preference.name}}" class="form-label"> {{userProfileForm.dietary_preference.label|title}}</label>
          <div>{{userProfileForm.dietary_preference}}</div>
          <div class="error">{{ userProfileForm.dietary_preference.errors }}</div>
        </div>
        {% if userProfileForm.admin_notes %}
          <div class="form-group mb-3">
            <label for="id_{{userProfileForm.admin_notes.name}}" class="form-label"> {{userProfileForm.admin_notes.label|title}}</label>
            <div>{{userProfileForm.admin_notes}}</div>
            <div class="error">{{ userProfileForm.admin_notes.errors }}</div>
          </div>
        {% endif %}

        {% if userProfileForm.validation_code %}
        <div class="form-group mb-3">
          <label for="id_{{userProfileForm.validation_code.name}}" class="form-label"> {{userProfileForm.validation_code.label}}</label>
          <div>{{userProfileForm.validation_code}}</div>
          {% if userProfileForm.instance.id %}
            {{userProfileForm.validation_code.as_hidden}}
          {% endif %}
          <div class="error">{{ userProfileForm.validation_code.errors }}</div>
        </div>
        {% endif %}

        <div class="form-group mb-3">
          {{userForm.is_active}}
          <label for="id_{{userForm.is_active.name}}" class="form-label">
            {{ userForm.is_active.label }}
            {% if userForm.is_active.field.required %}
              (<span class="required">*</span>)
            {% endif %}
          </label>
          <div class="error">{{ userForm.is_active.errors }}</div>
        </div>
        <div class="form-group" id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group buttons">
          <button type="submit" class="btn btn-success user_profile_save">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  $(function (){

    var profile_update_required = '{{update_required}}';
    if($('#reservationForm').length || profile_update_required == 'True'){
      $('.btn-close').hide();
    }

    $('select[name="user_profile-user_role"]').on('change', function(){
      if($(this).val() == "T"){
        $('.school_related').show();
      }
      else{
        $('.school_related :input').val('');
        $('.school_related').hide();
      }
    });

    $('input[name="user_profile-new_work_place_flag"]').on('change', function(){
      if($(this).is(':checked')){
        $('select#id_user_profile-work_place').prop('disabled', 'disabled');
        $('span.workplace_required').hide();
        $('div#work_place_form').show();
        $('div#work_place_form :input').prop('disabled', false);
        $('div.work_place_error').html('');
      }
      else {
        $('div#work_place_form').hide();
        $('div#work_place_form :input').prop('disabled', true);
        $('span.workplace_required').show();
        $('select#id_user_profile-work_place').prop('disabled', false);
      }

    });
    $('input[name="user_profile-new_work_place_flag"]').trigger('change');

    $('select[name="user_profile-user_role"]').trigger('change');

    $('#formUserProfile').submit(function(e){
      e.preventDefault();
      var formData = new FormData(this);
      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: formData,
        dataType: 'json',
        context: this,
        cache:false,
        contentType: false,
        processData: false,
        beforeSend: function(){
          $('#formUserProfile #spinner').show();
        },
        complete: function(){
          $('#formUserProfile #spinner').hide();
        },
        success: function(data, status) {
          console.log(status);
          if(data['success'] == true){
            console.log('success');
            if($('select#id_confirm_workplace').length){
              $('span#confirm_workplace_label > span').html(data['work_place']);
              $('select#id_confirm_workplace').val('Y').trigger('change');
              $('#profile').modal('toggle');
              displayInfoDialog('Workplace Update', 'The workplace has been updated to <b>'+data['work_place']+'</b>', false);
            }
            else if(data['redirect_url']){
              //var redirect_url = window.parent.location.href.split('?')[0];
              var redirect_url = data['redirect_url'];
              window.parent.location.href = redirect_url;
            }
            else {
              location.reload();
            }
          }
          else{
            $('#profile').html(data['html']);
          }
        },
        error: function(){
          displayErrorDialog();
        }
      });
    });

  });
</script>

