{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Users </h1>
  <div>
    <a class="btn" href="?next={% url 'bcse:signup' %}">Create User</a>
    <a class="btn" href="{% staticfile 'xls/UserTemplate.xlsx' %}" target="_blank" download>Download User Template</a>
    <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#users_upload" data-href="{% url 'bcse:usersUpload' %}">Upload Users</a>
  </div>
  {% include "bcse_app/UsersSearch.html" %}
  <div class="form-group" id="spinner">
    <img src="/static/img/page-loader.gif" class="icon"/>
  </div>
  <div class="users search_results">
    {% include "bcse_app/UsersTableView.html" %}
  </div>
{% endblock %}
