{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Users Reservations</h1>
  <div class="button-row">
    <label><a class="btn" href="{% url 'bcse:reservationNew' %}" role="button">Make New Reservation</a></label>
    <button class="btn download" type="button">Export Reservations</button>
    {% if user.is_authenticated and user.userProfile.user_role in 'AS' %}
      <a class="btn" href="{% url 'bcse:reservationMessageDismiss' %}">Dismiss Messages</a>
    {% endif %}
  </div>
  {% include "bcse_app/ReservationsSearch.html" %}
  <div class="form-group" id="spinner">
    <img src="/static/img/page-loader.gif" class="icon"/>
  </div>
  <div class="reservations search_results">
    {% include "bcse_app/ReservationsTableView.html" with tag='reservations' %}
  </div>
  <script type="text/javascript">
    $(function (){
      $('form#reservation_filter_form').submit();

      $('.download').on('click', function(e) {
        $('#download').val("1");
        $('select#id_reservation_search-rows_per_page').val(0).trigger('change');
      });
    });
  </script>
{% endblock %}

