{% load bcse_extras %}

{% if users %}
  {% with online_users=request.online_now_ids %}
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th> User ID</th>
        <th> Email </th>
        <th> Full Name </th>
        <th> Role </th>
        <th> Work Place </th>
        <th> Status </th>
        <th> Joined</th>
        <th> Last Login </th>
        <th> Action </th>
      </tr>
    </thead>
    <tbody>
      {% for user_profile in users %}
        <tr>
          <td> {{user_profile.id}}</td>
          <td> {{user_profile.user.email}} </td>
          <td> {{user_profile.user.get_full_name}} </td>
          <td> {{user_profile.get_user_role_display}} </td>
          <td> {{user_profile.work_place|default_if_none:""}} </td>
          <td> {{user_profile.user.is_active|yesno:"Active,Inactive"}} </td>
          <td> {{user_profile.created_date|date:"F j, Y g:i A"}}</td>
          <td>
            {% if user_profile.user.id in online_users %}
              <div class="success">Online</div>
            {% else %}
              {{user_profile.user.last_login|date:"F j, Y g:i A"}}
            {% endif %}
          </td>
          
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Action
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="{% url 'bcse:userProfileView' user_profile.id %}">View</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#profile" data-href="{% url 'bcse:userProfileEdit' user_profile.id %}" href="#">Edit</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item delete action" data-href="{% url 'bcse:userProfileDelete' user_profile.id %}"
                  data-title="the user <strong>{{user_profile.user.get_full_name}}</strong>">
                    Delete
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "bcse_app/Pagination.html" with model=users %}
  {% endwith %}
{% else %}
  <div class="warning center">No users matching your search criteria found</div>
{% endif %}
