{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Users </h1>
  <div class="button-row">
    <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#signup" data-href="{% url 'bcse:signup' %}" href="#" role="button">Create User</a>
  </div>
  {% include "bcse_app/UsersSearch.html" %}
  <div class="form-group" id="spinner">
    <img src="/static/img/page-loader.gif" class="icon"/>
  </div>
  <div class="users search_results">
    {% include "bcse_app/UsersTableView.html" %}
  </div>
{% endblock %}
