{% load bcse_extras %}

{% if users %}
  {% with online_users=request.online_now_ids %}
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        {% if 'ID' in columns %}
          <th> User ID</th>
        {% endif %}
        {% if 'EM' in columns %}
          <th> Email </th>
        {% endif %}
        {% if 'FN' in columns %}
          <th> Full Name </th>
        {% endif %}
        {% if 'PN' in columns %}
          <th> Phone Number </th>
        {% endif %}
        {% if 'RL' in columns %}
          <th> Role </th>
        {% endif %}
        {% if 'WP' in columns %}
          <th> Work Place </th>
        {% endif %}
        {% if 'IE' in columns %}
          <th> IEIN </th>
        {% endif %}
        {% if 'GT' in columns %}
          <th> Grades Taught </th>
        {% endif %}
        {% if 'SC' in columns %}
          <th> Subscribed? </th>
        {% endif %}
        {% if 'PC' in columns %}
          <th> Photo Release <br> Complete? </th>
        {% endif %}
        {% if 'IH' in columns %}
          <th> Instagram Handle</th>
        {% endif %}
        {% if 'TH' in columns %}
          <th> Twitter Handle </th>
        {% endif %}
        {% if 'ST' in columns %}
          <th> Status </th>
        {% endif %}
        {% if 'JD' in columns %}
          <th> Joined</th>
        {% endif %}
        {% if 'LL' in columns %}
          <th> Last Login </th>
        {% endif %}
        <th> Action </th>
      </tr>
    </thead>
    <tbody>
      {% for user_profile in users %}
        <tr>
          {% if 'ID' in columns %}
            <td> {{user_profile.id}}</td>
          {% endif %}
          {% if 'EM' in columns %}
            <td> {{user_profile.user.email}} </td>
          {% endif %}
          {% if 'FN' in columns %}
            <td> {{user_profile.user.get_full_name}} </td>
          {% endif %}
          {% if 'PN' in columns %}
            <td> {{user_profile.phone_number|default_if_none:""}} </td>
          {% endif %}
          {% if 'RL' in columns %}
            <td> {{user_profile.get_user_role_display}} </td>
          {% endif %}
          {% if 'WP' in columns %}
            <td> {{user_profile.work_place|default_if_none:""}} </td>
          {% endif %}
          {% if 'IE' in columns %}
            <td> {{user_profile.IEIN|default_if_none:""}} </td>
          {% endif %}
          {% if 'GT' in columns %}
            <td> {{user_profile.get_grades_taught_display|default_if_none:""}} </td>
          {% endif %}
          {% if 'SC' in columns %}
            <td> {{user_profile.subscribe|yesno:"Yes,No"}} </td>
          {% endif %}
          {% if 'PC' in columns %}
            <td> {{user_profile.photo_release_complete|yesno:"Yes,No"}} </td>
          {% endif %}
          {% if 'IH' in columns %}
            <td> {{user_profile.instagram_handle|default_if_none:""}} </td>
          {% endif %}
          {% if 'TH' in columns %}
            <td> {{user_profile.twitter_handle|default_if_none:""}} </td>
          {% endif %}
          {% if 'ST' in columns %}
            <td> {{user_profile.user.is_active|yesno:"Active,Inactive"}} </td>
          {% endif %}
          {% if 'JD' in columns %}
            <td> {{user_profile.created_date|date:"F j, Y g:i A"}}</td>
          {% endif %}
          {% if 'LL' in columns %}
            <td>
              {% if user_profile.user.id in online_users %}
                <div class="success">Online</div>
              {% else %}
                {{user_profile.user.last_login|date:"F j, Y g:i A"}}
              {% endif %}
            </td>
          {% endif %}
          
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Action
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="{% url 'bcse:userProfileView' user_profile.id %}">View</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#profile" data-href="{% url 'bcse:userProfileEdit' user_profile.id %}" href="#">Edit</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item delete action" data-href="{% url 'bcse:userProfileDelete' user_profile.id %}"
                  data-title="the user <strong>{{user_profile.user.get_full_name}}</strong>">
                    Delete
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "bcse_app/Pagination.html" with model=users %}
  {% endwith %}
{% else %}
  <div class="warning center">No users matching your search criteria found</div>
{% endif %}
