{% extends "bcse_app/base.html" %}
{% load bcse_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
    <div class="vignettes_container container">
       <h1 class="center">
        Vignettes
      </h1>
      <div>
        <p class="callout">Some blub about this repository of vignettes</p>
      </div>
      {% include "bcse_app/VignettesSearch.html" %}
      <div class="form-group" id="spinner">
        <img src="/static/img/page-loader.gif" class="icon"/>
      </div>
      <div class="vignettes search_results">
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function() {
      $('form#vignette_filter_form').submit();
    });
  </script>
{% endblock %}
