<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">{{vignette.title}}</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      {% if vignette.image and vignette.image.url %}
        <img class="left icon" src="{{vignette.image.url}}"/>
      {% endif %}

      <div class="wysiwyg_content">{{vignette.blurb|safe}}</div>

      <a class="btn" href="{{vignette.attachment.url}}">Attachment Download</a>
    </div>
  </div>
</div>
