{% extends "bcse_app/base.html" %}
{% load bcse_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
    <div class="vignettes_container container">
       <h1 class="center">
        Our Stories and Impact
      </h1>
      <div>
        <p class="callout">Here, you’ll find stories and resources from the Baxter Center for Science Education that describe different aspects of what we do and how we work with partners, teachers, and students. These are great ways to get a feel for what our work and impact look like in action!</p>
      </div>
      <div class="vignettes search_results list">
        {% include "bcse_app/VignettesTileView.html" with audience='public' %}
      </div>
    </div>
  </div>
{% endblock %}
