{% load bcse_extras %}
{% if user.is_authenticated and user.userProfile.user_role in 'AS' %}
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <label><a class="nav-link" aria-current="page" href="{% url 'bcse:vignettes' 'table' %}">Back to Vignettes</a></label>
    </li>
    {% if vignette.id %}
      <li class="nav-item">
        <label><a class="nav-link {% if tab == 'view' %}active{% endif %}" aria-current="page" href="{% url 'bcse:vignetteView' vignette.id %}">View</a></label>
      </li>
      <li class="nav-item">
        <label><a class="nav-link modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:vignetteEdit' vignette.id %}" href="#">Edit</a></label>
      </li>
    {% endif %}
  </ul>
{% endif %}


