{% extends "bcse_app/base.html" %}
{% load bcse_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
    <div class="vignettes_container container">
       <h1 class="center">
        Our Stories and Impact
      </h1>
      <div>
        <p class="callout">Some blub about this repository of vignettes</p>
      </div>
      <div class="vignettes search_results">
        {% include "bcse_app/VignettesTileView.html" with audience='public' %}
      </div>
    </div>
  </div>
{% endblock %}
