{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Work Places </h1>
  <div>
    <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#work_place" data-href="{% url 'bcse:workPlaceNew' %}" href="#">Create Work Place</a>
    <a class="btn" href="{% staticfile 'xls/WorkPlaceTemplate.xlsx' %}" target="_blank" download>Download Work Place Template</a>
    <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#upload" data-href="{% url 'bcse:workPlacesUpload' %}">Upload Work Places</a>
    <a class="btn" href="{% url 'bcse:workPlacesExport' %}">Export Work Places</a>
  </div>
  {% include "bcse_app/WorkPlacesSearch.html" %}
  <div class="form-group" id="spinner">
    <img src="/static/img/page-loader.gif" class="icon"/>
  </div>
  <div class="work_places search_results">
  </div>
  <script type="text/javascript">
    $(function (){
      $('form#work_place_filter_form').submit();
    });
  </script>
{% endblock %}
