{% load bcse_extras %}
{% load base_extras %}

{% if tag == 'profile' %}
  <h2 class="center">My Workshops</h2>
{% endif %}
{% now 'Y-m-d' as current_date %}
{% if workshops %}
  {% if tag == 'workshops' %}
    {% include "bcse_app/Pagination.html" with model=workshops location='top' %}
  {% endif %}

  <table class="table table-bordered table-striped" id="workshops_table">
    <thead>
      <tr class='noExl'>
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'workshops' %}
          <th> ID</th>
        {% endif %}
        <th> Workshop Type </th>
        <th> Title </th>
        <th> Start Date/Time </th>
        <th> End Date/Time </th>
        <th> Location </th>
        {% if user.is_authenticated %}
          {% if user.userProfile.user_role in 'AS' and tag == 'workshops' %}
            <th> Past Example </th>
            <th> Registration Enabled? </th>
            <th> Registration Type </th>
            <th> Capacity </th>
            <th> Waitlist Enabled?</th>
            <th> Waitlist Capacity</th>
            <th> Number of Registrants</th>
            <th> Created Date</th>
            <th> Modified Date </th>
            <th> Status </th>
          {% else %}
            {% if flag != 'teacher' %}
              <th> Registration Status </th>
            {% endif %}
          {% endif %}
          <th> Actions </th>
        {% endif %}
      </tr>
      <tr style="display:none;">
        {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'workshops' %}
          <td style="background-color: #767676; color: white;"> ID</td>
        {% endif %}
        <td style="background-color: #767676; color: white;"> Workshop Type </td>
        <td style="background-color: #767676; color: white;"> Title </td>
        <td style="background-color: #767676; color: white;"> Start Date/Time </td>
        <td style="background-color: #767676; color: white;"> End Date/Time </td>
        <td style="background-color: #767676; color: white;"> Location </td>
        {% if user.is_authenticated %}
          {% if user.userProfile.user_role in 'AS' and tag == 'workshops' %}
            <td style="background-color: #767676; color: white;"> Past Example </td>
            <td style="background-color: #767676; color: white;"> Registration Enabled? </td>
            <td style="background-color: #767676; color: white;"> Registration Type </td>
            <td style="background-color: #767676; color: white;"> Capacity </td>
            <td style="background-color: #767676; color: white;"> Waitlist Enabled?</td>
            <td style="background-color: #767676; color: white;"> Waitlist Capacity</td>
            <td style="background-color: #767676; color: white;"> Number of Registrants</td>
            <td style="background-color: #767676; color: white;"> Created Date</td>
            <td style="background-color: #767676; color: white;"> Modified Date </td>
            <td style="background-color: #767676; color: white;"> Status </td>
          {% else %}
            {% if flag != 'teacher' %}
              <td style="background-color: #767676; color: white;"> Registration Status </td>
            {% endif %}
          {% endif %}
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for workshop in workshops %}
        <tr>
          {% if user.is_authenticated and user.userProfile.user_role in 'AS' and tag == 'workshops' %}
            <td> {{workshop.id}}</td>
          {% endif %}
          <td> {{workshop.workshop_category}} </td>
          <td>
            {% if user.is_authenticated and user.userProfile.user_role in 'AS' or workshop.status == 'A' %}
              <a href="{% url 'bcse:workshopView' workshop.id %}">{{workshop.name}}</a>
            {% else %}
              {{workshop.name}}
            {% endif %}
          </td>
          <td>
            {{workshop.start_date|date:"F j, Y"}}
            {% if workshop.start_time %}
              {{workshop.start_time|date:"g:i A"}}
            {% endif %}
          </td>
          <td> {{workshop.end_date|date:"F j, Y"}}
            {% if workshop.end_time %}
              {{workshop.end_time|date:"g:i A"}}
            {% endif %}</td>
          <td> {{workshop.location}} </td>
          {% if user.is_authenticated %}
            {% if user.userProfile.user_role in 'AS' and tag == 'workshops' %}
               <td> {{workshop.featured|yesno|title}} </td>
              <td> {{workshop.enable_registration|yesno|title}} </td>
              <td> {{workshop.registration_setting.get_registration_type_display|default_if_none:""}}</td>
              <td> {{workshop.registration_setting.capacity|default_if_none:""}} </td>
              <td> {{workshop.registration_setting.enable_waitlist|yesno|title}} </td>
              <td> {{workshop.registration_setting.waitlist_capacity|default_if_none:""}} </td>
              <td>
                {% if workshop.registration_setting %}
                  {% get_registration_breakdown workshop.registration_setting as registration_summary %}
                  {% for status, total in registration_summary.items %}
                    <div>{{status|slice:"3"}}. : {{total}}</div>
                  {% endfor %}
                {% endif %}
              </td>
              <td> {{workshop.created_date|date:"F j, Y g:i A"}} </td>
              <td> {{workshop.modified_date|date:"F j, Y g:i A"}} </td>
              <td> {{workshop.get_status_display}} </td>

              <td width="15%" class='noExl'>
                <div class="btn-group">
                  <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Action
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'bcse:workshopEdit' workshop.id %}">Edit</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'bcse:workshopView' workshop.id %}">View</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'bcse:workshopCopy' workshop.id %}">Clone</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      {% if workshop.registration_setting.registrants.all|length > 0 %}
                        <a class="dropdown-item warn action" data-title="This workshop cannot be deleted as it has existing registrants.">Delete</a>
                      {% else %}
                        <a class="dropdown-item delete action" data-href="{% url 'bcse:workshopDelete' workshop.id %}" data-title="the workshop <strong>{{workshop.name}}</strong>">Delete</a>
                      {% endif %}
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item" href="{% url 'bcse:workshopRegistrants' workshop.id %}" href="#">View Registrants</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#users_upload" data-href="{% url 'bcse:workshopRegistrantsUpload' workshop.id %}" href="#">Upload Registrants</a>
                    </li>
                  </ul>
              </td>
            {% else %}
              {% if user.userProfile.user_role not in 'AS' and tag == 'workshops' %}
                <!-- for My Workshops page -->
                {% get_user_registration workshop.id user.userProfile.id as registration %}
              {% elif userProfile and tag == 'profile' %}
                <!-- For User Profile page -->
                {% get_user_registration workshop.id userProfile.id as registration %}
              {% endif %}
              {% if flag != 'teacher' %}
                <td>{{registration.get_status_display}}</td>
                <td width="15%" class='noExl'>
                  {% if workshop.status == 'A'%}
                    <div class="btn-group">
                      <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'bcse:workshopView' workshop.id %}">View</a></li>
                        {% if current_date < workshop.start_date|date:'Y-m-d' %}
                          <li><hr class="dropdown-divider"></li>
                          <li>
                            <a class="dropdown-item cancel action" data-href="{% url 'bcse:workshopRegistrationCancel' workshop.id registration.id %}"
                            data-title="your registration for <strong>{{workshop.name}}</strong>">
                              Cancel Registration
                            </a>
                          </li>
                        {% endif %}
                        {% if workshop.meetup_link %}
                          {% if not workshop.enable_registration or registration and registration.status in 'RC' %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{workshop.meetup_link}}" target="_blank">Join</a></li>
                          {% endif %}
                        {% endif %}
                      </ul>
                    </div>
                  {% endif %}
                </td>
              {% else %}
                <td class='noExl'>
                  <div class="btn-group">
                    <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'bcse:workshopView' workshop.id %}">View</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'bcse:workshopRegistrants' workshop.id %}" href="#">View Registrants</a></li>
                    </ul>
                  </div>
                </td>
              {% endif %}
            {% endif %}
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if tag == 'workshops' %}
    {% include "bcse_app/Pagination.html" with model=workshops location='bottom' %}
  {% endif %}
{% else %}
  {% include "bcse_app/WorkshopsNotFound.html" %}
{% endif %}

<script type="text/javascript">
  $(function (){
    $('.export_workshops').on('click', function(e) {
      $("#workshops_table").table2excel({
        exclude: ".noExl",
        name: "My Baxter Center Workshops",
        filename: "Baxter_Center_Workshops", //do not include extension
        fileext:".xls", // file extension
        preserveColors: true, // set to true if you want background colors and font colors preserved
      });
    });
  });
</script>
