
<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">Upload Work Places</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="uploadMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>
    <form class="form" method="post" enctype="multipart/form-data" action="{% url 'bcse:workPlacesUpload' %}" id="formWorkPlaceUpload">  
      {% csrf_token %}
      <div class="modal-body">
        {% for field in form %}
          <div class="form-group mb-3">
            <label for="id_{{field.name}}">{{ field.label }}</label>
            <div>{{field}}</div>
            <div class="error">{{ field.errors }}</div>
          </div>
        {% endfor %}
        <div class="form-group" id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group buttons right">
          <button type="submit" id="submit" class="btn btn-success">
            Upload
          </button>          
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function (){
    $("#formWorkPlaceUpload").submit(function(e) {
      e.preventDefault();
      var formData = new FormData(this);
      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: formData,
        dataType: 'json',
        context: this,
        cache:false,
        contentType: false,
        processData: false,

        beforeSend: function(){
          $('#formWorkPlaceUpload #spinner').show();
        },
        complete: function(){
          $('#formWorkPlaceUpload #spinner').hide();
        },
        success: function(data, status) {
          if(data['success'] == true){
            $('#upload').modal('toggle');
            displayInfoDialog('Work Place Upload Status', data['message'], true);
            //location.reload();
          }
          else{
            $('#upload').html(data['html']);
          }
        },
        error: function(){
          displayErrorDialog();
        }
      });
    });    
  });
</script>

