{% load bcse_extras %}

{% now 'Y-m-d' as current_date %}
{% if workshops %}
  {% if user.is_authenticated and user.userProfile.user_role in 'AS' %}
    {% include "bcse_app/Pagination.html" with model=workshops %}
  {% endif %}
  {% for workshop in workshops %}
    {% get_registration workshop.id as registration %}
    <div class="workshop_container">
      <div class="tile workshop_tile">
        <div class="image">
          {% if workshop.image %}
          <img src="{{workshop.image.url}}"/>
          {% endif %}
        </div>
        <div class="details">
          <h2><a href="{% url 'bcse:workshopView' workshop.id %}">{{workshop.name}}</a></h2>
          <h3 class="subtitle">{{workshop.sub_title|default:""}}</h3>
          <div class="wysiwyg_content">
            {{workshop.summary|safe}}
          </div>
        </div>
        <div class="date_location">
          {% if workshop.display_date %}
            <div class="date">
              <i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i>{{workshop.display_date|linebreaks}}
            </div>
          {% elif workshop.start_date == workshop.end_date %}
            <div class="date">
              <i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i>
              {{workshop.start_date|date}}
            </div>
            <div class="date">
              <i class="far fa-fw fa-clock" aria-hidden="true"></i>
              {{workshop.start_time|default_if_none:""}} - {{workshop.end_time|default_if_none:""}}
            </div>
          {% else %}
            <div class="date">
              <i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i>
              {{workshop.start_date|date}} - {{workshop.end_date|date}}
            </div>
            <div class="date">
              <i class="far fa-fw fa-clock" aria-hidden="true"></i>
              {{workshop.start_time|default_if_none:""}} - {{workshop.end_time|default_if_none:""}}
            </div>
          {% endif %}
          <div class="location">
            <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i>{{workshop.location}}
          </div>
          <div class="workshop_registration">
            {% include "bcse_app/WorkshopRegistration.html" %}
          </div>
          {% include "bcse_app/WorkshopRegistrationQuestionnaireLink.html" %}
          <!-- if meetup link is available only display the link if registration is not enabled or if enabled the user
            is Registered or Accepted into the workshop -->
          {% if workshop.meetup_link %}
            {% if not workshop.enable_registration or registration and registration.instance and registration.instance.status in 'RC' %}
              <div class="form-group mb-3 center">
                <a class="btn" href="{{workshop.meetup_link}}" target="_blank">Join</a>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  {% if user.is_authenticated and user.userProfile.user_role in 'AS' %}
    {% include "bcse_app/Pagination.html" with model=workshops %}
  {% endif %}
{% else %}
  {% include "bcse_app/WorkshopsNotFound.html" %}
{% endif %}
