{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <div class="workshops_container">
    <h1 class="center">Workshops</h1>
    {% include "bcse_app/WorkshopsButtons.html" with tag='workshops' %}

    <p class="callout">The Baxter Center for Science Education provides a variety of professional learning opportunities for middle and high school educators. Join us to build your lab skills and connect with a community of local science teachers. All workshops are FREE and eligible for PD hours with ISBE. Check out the <a href="{% url 'bcse:baxterBoxInfo' %}"><strong><u>Box Loaner Program</u></strong></a> to find FREE supplies for the labs taught in our workshops. Visit our <a href='{% settings_value "RESOURCE_HUB_URL" %}' target="_blank"><strong><u>Resource Hub</u></strong></a> to find materials presented at previous workshops.</p>

    {% include "bcse_app/WorkshopsTabs.html" %}
    {% include "bcse_app/WorkshopsAdminSearch.html" %}
    <div class="form-group" id="spinner">
      <img src="/static/img/page-loader.gif" class="icon"/>
    </div>
    <div class="workshops search_results {{display}}">
    </div>
    <script type="text/javascript">
      $(function() {
        $('.filter_form').submit();
      });
    </script>
  </div>
{% endblock %}
