<div class="mb-3 {{source}}" id="work_place_form" {% if source != 'workPlaceEdit' %}style="display: none;"{%endif%}>
  <div class="form-group mb-3">
    <label for="id_{{work_place_form.work_place_type.name}}">
      {{ work_place_form.work_place_type.label|title }}
      {% if work_place_form.work_place_type.field.required %}
        (<span class="required">*</span>)
      {% endif %}
    </label>
    <div>{{work_place_form.work_place_type}}</div>
    <div class="error">{{ work_place_form.work_place_type.errors }}</div>
  </div>
  <div class="form-group mb-3">
    <label for="id_{{work_place_form.name.name}}">
      {{ work_place_form.name.label|title }}
      {% if work_place_form.name.field.required %}
        (<span class="required">*</span>)
      {% endif %}
    </label>
    <div>{{work_place_form.name}}</div>
    <div class="error">{{ work_place_form.name.errors }}</div>
  </div>
  <div class="school_related">
    <div class="row mb-3">
      <div class="form-group col-md-4">
        <label for="id_{{work_place_form.district_number.name}}">
          {{ work_place_form.district_number.label|title }}
          {% if work_place_form.district_number.field.required %}
            (<span class="required">*</span>)
          {% endif %}
        </label>
        <div>{{work_place_form.district_number}}</div>
        <div class="error">{{ work_place_form.district_number.errors }}</div>
      </div>
      <div class="form-group col-md-4">
        <label for="id_{{work_place_form.grades.name}}">
          {{ work_place_form.grades.label|title }}
          {% if work_place_form.grades.field.required %}
            (<span class="required">*</span>)
          {% endif %}
        </label>
        <div>
          {% for grade in work_place_form.grades %}
            <label>{{grade.tag}} {{grade.choice_label}} </label><br>
          {% endfor %}
        </div>
        <div class="error">{{ work_place_form.grades.errors }}</div>
      </div>
      {% if work_place_form.school_categories.field.choices %}
      <div class="form-group col-md-4">
        <label for="id_{{work_place_form.school_categories.name}}">
          {{ work_place_form.school_categories.label|title }}
          {% if work_place_form.school_categories.field.required %}
            (<span class="required">*</span>)
          {% endif %}
        </label>
        <div>
          {% for school_category in work_place_form.school_categories %}
            <label>{{school_category.tag}} {{school_category.choice_label}} </label><br>
          {% endfor %}
        </div>
        <div class="error">{{ work_place_form.school_categories.errors }}</div>
        <div id="other_category" style="display: none;">{{work_place_form.other_category}}</div>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="form-group col-md-6">
      <label for="id_{{work_place_form.street_address_1.name}}">
        {{ work_place_form.street_address_1.label|title }}
        {% if work_place_form.street_address_1.field.required %}
          (<span class="required">*</span>)
        {% endif %}
      </label>
      <div>{{work_place_form.street_address_1}}</div>
      <div class="error">{{ work_place_form.street_address_1.errors }}</div>
    </div>
    <div class="form-group col-md-6">
      <label for="id_{{work_place_form.street_address_2.name}}">
        {{ work_place_form.street_address_2.label|title }}
        {% if work_place_form.street_address_2.field.required %}
          (<span class="required">*</span>)
        {% endif %}
      </label>
      <div>{{work_place_form.street_address_2}}</div>
      <div class="error">{{ work_place_form.street_address_2.errors }}</div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="form-group col-md-4">
      <label for="id_{{work_place_form.city.name}}">
        {{ work_place_form.city.label }}
        {% if work_place_form.city.field.required %}
          (<span class="required">*</span>)
        {% endif %}
      </label>
      <div>{{work_place_form.city}}</div>
      <div class="error">{{ work_place_form.city.errors }}</div>
    </div>
    <div class="form-group col-md-4">
      <label for="id_{{work_place_form.county.name}}">
        {{ work_place_form.county.label }}
        {% if work_place_form.county.field.required %}
          (<span class="required">*</span>)
        {% endif %}
      </label>
      <div>{{work_place_form.county}}</div>
      <div class="error">{{ work_place_form.county.errors }}</div>
    </div>
    <div class="form-group col-md-4" style="display:none;" id="other_county">
      <label for="id_{{work_place_form.other_county.name}}">
        {{ work_place_form.other_county.label|title }}
        {% if work_place_form.other_county.field.required %}
          (<span class="required">*</span>)
        {% endif %}
      </label>
      <div>{{work_place_form.other_county}}</div>
      <div class="error">{{ work_place_form.other_county.errors }}</div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="form-group col-md-6">
      <label for="id_{{work_place_form.state.name}}">
        {{ work_place_form.state.label }}
        {% if work_place_form.state.field.required %}
          (<span class="required">*</span>)
        {% endif %}
      </label>
      <div>{{work_place_form.state}}</div>
      <div class="error">{{ work_place_form.state.errors }}</div>
    </div>
    <div class="form-group col-md-6">
      <label for="id_{{work_place_form.zip_code.name}}">
        {{ work_place_form.zip_code.label|title }}
        {% if work_place_form.zip_code.field.required %}
          (<span class="required">*</span>)
        {% endif %}
      </label>
      <div>{{work_place_form.zip_code}}</div>
      <div class="error">{{ work_place_form.zip_code.errors }}</div>
    </div>
  </div>
  {% if work_place_form.user_notes %}
    <div class="form-group mb-3">
      <label for="id_{{work_place_form.user_notes.name}}">
        {{ work_place_form.user_notes.label|title }}
        {% if work_place_form.user_notes.field.required %}
          (<span class="required">*</span>)
        {% endif %}
      </label>
      <div>{{work_place_form.user_notes}}</div>
      <div class="error">{{ work_place_form.user_notes.errors }}</div>
    </div>
  {% endif %}
  {% if work_place_form.admin_notes %}
    <div class="form-group mb-3">
      <label for="id_{{work_place_form.admin_notes.name}}">
        {{ work_place_form.admin_notes.label|title }}
        {% if work_place_form.admin_notes.field.required %}
          (<span class="required">*</span>)
        {% endif %}
      </label>
      <div>{{work_place_form.admin_notes}}</div>
      <div class="error">{{ work_place_form.admin_notes.errors }}</div>
    </div>
  {% endif %}
  <div class="form-group mb-3" {% if source != 'workPlaceEdit' %}style="display: none;"{%endif%}>
    <label for="id_{{work_place_form.status.name}}">
      {{ work_place_form.status.label }}
      {% if work_place_form.status.field.required %}
      (<span class="required">*</span>)
      {% endif %}
    </label>
    <div>{{work_place_form.status}}</div>
    <div class="error">{{ work_place_form.status.errors }}</div>
  </div>
</div>


<script type="text/javascript">
  $(function (){
    $('select[name="work_place-work_place_type"]').on('change', function(){
      if($(this).val() == "S"){
        $('.school_related').show();
      }
      else{
        $('.school_related').find('input, textarea, select').each(function(){
          if($(this).is(':checkbox, :radio')) {
            $(this).prop('checked', false);
          }
          else {
            $(this).val('');
          }
        });
        $('.school_related').hide();
      }
    });

    $('select[name="work_place-county"]').on('change', function(){
      if($(this).val() == "O"){
        $('input[name="work_place-other_county"]').closest('.form-group').show();
      }
      else{
        $('input[name="work_place-other_county"]').closest('.form-group').hide();
      }
    });

    $('input.form-check-input.other-category').on('change', function(){
      if($(this).prop('checked')){
        $('div#other_category').show();
      }
      else{
        $('div#other_category input').val('');
        $('div#other_category').hide();
      }

    });

    $('select[name="work_place-work_place_type"]').trigger('change');
    $('select[name="work_place-county"]').trigger('change');
    $('input.form-check-input.other-category').trigger('change');

  });
</script>
