{% load bcse_extras %}

{% if work_places %}
  {% include "bcse_app/Pagination.html" with model=work_places location='top' %}
  <table class="table table-bordered table-striped export" id="workplaces">
    <thead>
      <tr>
        {% if 'ID' in columns %}
          <th> ID</th>
        {% endif %}
        {% if 'NM' in columns %}
          <th> Name </th>
        {% endif %}
        {% if 'WT' in columns %}
          <th> Workplace Type </th>
        {% endif %}
        {% if 'DN' in columns %}
          <th> District # </th>
        {% endif %}
        {% if 'S1' in columns %}
          <th> Street Address 1 </th>
        {% endif %}
        {% if 'S2' in columns %}
          <th> Street Address 2 </th>
        {% endif %}
        {% if 'CT' in columns %}
          <th> City </th>
        {% endif %}
        {% if 'SA' in columns %}
          <th> State </th>
        {% endif %}
        {% if 'ZP' in columns %}
          <th> Zip Code </th>
        {% endif %}
        {% if 'LT' in columns %}
          <th> Latitude </th>
        {% endif %}
        {% if 'LO' in columns %}
          <th> Longitude </th>
        {% endif %}
        {% if 'DT' in columns %}
          <th> Distance (miles) </th>
        {% endif %}
        {% if 'TM' in columns %}
          <th> Travel Time (mins) </th>
        {% endif %}
        {% if 'NU' in columns %}
          <th> # of Users </th>
        {% endif %}
        {% if 'AR' in columns %}
          <th> # of Reservations </th>
        {% endif %}
        {% if 'AW' in columns %}
          <th> # of Workshop Registrations </th>
        {% endif %}
        {% if 'AN' in columns %}
          <th> Admin Notes </th>
        {% endif %}
        {% if 'ST' in columns %}
          <th> Status </th>
        {% endif %}
        {% if 'CD' in columns %}
          <th> Created Date</th>
        {% endif %}
        {% if 'MD' in columns %}
          <th> Modified Date</th>
        {% endif %}
        <th class='ignore-column'> Action </th>
      </tr>
    </thead>
    <tbody>
      {% for work_place in work_places %}
        <tr>
          {% if 'ID' in columns %}
            <td> {{work_place.id}}</td>
          {% endif %}
          {% if 'NM' in columns %}
            <td> {{work_place.name}} </td>
          {% endif %}
          {% if 'WT' in columns %}
            <td> {{work_place.get_work_place_type_display}} </td>
          {% endif %}
          {% if 'DN' in columns %}
            <td> {{work_place.district_number|default_if_none:""}} </td>
          {% endif %}
          {% if 'S1' in columns %}
            <td> {{work_place.street_address_1|default_if_none:""}} </td>
          {% endif %}
          {% if 'S2' in columns %}
            <td> {{work_place.street_address_2|default_if_none:""}} </td>
          {% endif %}
          {% if 'CT' in columns %}
            <td> {{work_place.city|default_if_none:""}} </td>
          {% endif %}
          {% if 'SA' in columns %}
            <td> {{work_place.state|default_if_none:""}} </td>
          {% endif %}
          {% if 'ZP' in columns %}
            <td> {{work_place.zip_code|default_if_none:""}} </td>
          {% endif %}
          {% if 'LT' in columns %}
            <td> {{work_place.latitude|default_if_none:""}} </td>
          {% endif %}
          {% if 'LO' in columns %}
            <td> {{work_place.longitude|default_if_none:""}} </td>
          {% endif %}
          {% if 'DT' in columns %}
            <td> {{work_place.distance_from_base|default_if_none:""}} </td>
          {% endif %}
          {% if 'TM' in columns %}
            <td> {{work_place.time_from_base|default_if_none:""}} </td>
          {% endif %}
          {% if 'NU' in columns %}
            <td> {{work_place.users.count}} </td>
          {% endif %}
          {% if 'AR' in columns %}
            <td> {{work_place.work_place_to_reservation.count}} </td>
          {% endif %}
          {% if 'AW' in columns %}
            <td> {{work_place.work_place_to_registration.count}} </td>
          {% endif %}
          {% if 'AN' in columns %}
            <td> {{work_place.admin_notes|default_if_none:""}} </td>
          {% endif %}
          {% if 'ST' in columns %}
            <td> {{work_place.get_status_display}} </td>
          {% endif %}
          {% if 'CD' in columns %}
            <td> {{work_place.created_date|date:"F j, Y g:i A"}}</td>
          {% endif %}
          {% if 'MD' in columns %}
            <td> {{work_place.modified_date|date:"F j, Y g:i A"}}</td>
          {% endif %}
          
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Action
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#work_place" data-href="{% url 'bcse:workPlaceEdit' work_place.id %}" href="#">Edit</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  {% if work_place.users.count or work_place.work_place_to_registration.count or work_place.work_place_to_registration.count %}
                    <a class="dropdown-item action" onclick="displayWarningDialog('<strong>{{work_place.name}}</strong> is associated with  {% if work_place.users.count %} {{work_place.users.count}} user(s), {% endif %} {% if work_place.work_place_to_registration.count %} {{work_place.work_place_to_registration.count}} workshop registration(s) {% endif %} {% if work_place.work_place_to_reservation.count %} and {{work_place.work_place_to_reservation.count}} Baxter Box reservation(s) {% endif %} and cannot be deleted');">
                      Delete
                    </a>
                  {% else %}
                    <a class="dropdown-item delete action" data-href="{% url 'bcse:workPlaceDelete' work_place.id %}"
                    data-title="the workplace <strong>{{work_place.name}}</strong>">
                      Delete
                    </a>
                  {% endif %}
                </li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "bcse_app/Pagination.html" with model=work_places location='bottom' %}
{% else %}
  <div class="warning center">No workplaces matching your search criteria found</div>
{% endif %}

<script type="text/javascript">
  $(function (){
    if($("#download").val() == "1") {
      $("#download").val("0");
      var tables = $('table.export').map(function() {
        return this.id;
      }).get();
      exportTablesToExcel(tables, 'Workplaces.xlsx', true);
    }
  });
</script>
