{% extends "bcse_app/base.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
    <div class="workshops_container container">
       <h1 class="center">
        {% if user.is_authenticated and user.userProfile.user_role in 'TP' and extra == 'my' %}
          My Workshops
        {% elif user.is_authenticated and user.userProfile.user_role in 'TP' and extra == 'teacher' %}
          My Workshop Registrants
        {% else %}
          Workshops
        {% endif %}
      </h1>
      {% include "bcse_app/WorkshopsButtons.html" with tag='workshops' %}
      <div>
        <p class="callout">The Baxter Center provides a variety of professional learning opportunities for high school and middle school educators. Join us to build your lab skills and connect with a community of local science teachers. All workshops are FREE and eligible for ISBE hours. Check out the <a href="{% url 'bcse:baxterBoxInfo' %}"><strong><u>Baxter Box Loaner Program</u></strong></a> to find FREE supplies for the labs taught in our workshops. Visit our
        {% if user.is_authenticated %}
          <a href='{% settings_value "RESOURCE_HUB_URL" %}' target="_blank"><strong><u>Resource Hub</u></strong></a>
        {% else %}
          <a href='/?next=/signin/?next={% settings_value "RESOURCE_HUB_URL" %}' target="_blank"><strong><u>Resource Hub</u></strong></a>
        {% endif %}
        to find materials presented at previous workshops.</p>
      </div>
      {% if not extra %}
        {% include "bcse_app/WorkshopsTabs.html" %}
      {% endif %}

      {% include "bcse_app/WorkshopsPublicSearch.html" %}
      <div class="form-group" id="spinner">
        <img src="/static/img/page-loader.gif" class="icon"/>
      </div>
      <div class="workshops search_results {{display}}">
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function() {
      $('.filter_form').submit();
    });
  </script>
{% endblock %}
