{% extends "bcse_app/base.html" %}
{% load bcse_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
    <div class="workshops_container container">
       <h1 class="center">
        {% if user.is_authenticated and user.userProfile.user_role in 'TP' and flag == 'table' %}
          My Workshops
        {% elif user.is_authenticated and user.userProfile.user_role in 'TP' and flag == 'teacher' %}
          My Workshop Registrants
        {% else %}
          Workshops
        {% endif %}
      </h1>
      {% include "bcse_app/WorkshopsButtons.html" with tag='workshops' %}
      <div>
        <p class="callout">The Baxter Center provides a variety of professional learning opportunities for high school and middle school educators. Join us to build your lab skills and connect with a community of local science teachers. All workshops are FREE and eligible for ISBE hours. Check out the <a href="{% url 'bcse:baxterBoxInfo' %}"><strong><u>Baxter Box Loaner Program</u></strong></a> to find FREE supplies for the labs taught in our workshops.</p>
      </div>
      {% include "bcse_app/WorkshopsSearch.html" %}
      <div class="form-group" id="spinner">
        <img src="/static/img/page-loader.gif" class="icon"/>
      </div>
      <div class="workshops search_results">
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function() {
      $('.filter_form').submit();
    });
  </script>
{% endblock %}
