{% load base_extras %}
{% load bcse_extras %}

<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">Email for: {{workshop.name}}</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="uploadMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>

    <form class="form" method="post" action="{% if form.instance.id %}{% url 'bcse:workshopEmailEdit' workshop.id form.instance.id  %} {% else %} {% url 'bcse:workshopEmailNew' workshop.id %}{% endif %}"  id="formWorkshopEmail">
      {% csrf_token %}
      {{form.media}}
      <div class="modal-body">
        {{form.workshop.as_hidden}}
        <div class="form-group mb-3">
          <label for="id_{{form.registration_statuses.name}}">
            {{ form.registration_statuses.label|title }}
            <i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="tooltip-wide" data-bs-html="true" data-bs-title="{% include 'bcse_app/RegistrationStatusHelpText.html' %}"></i>
          </label>
          <div>{{form.registration_statuses}}</div>
          <div class="warning">{{form.registration_statuses.help_text}}</div>
          <div class="error">{{ form.registration_statuses.errors }}</div>
        </div>
        <div class="row mb-3">
          <div class="form-group col-md-8">
            <label for="id_{{form.registration_sub_statuses.name}}">
              {{ form.registration_sub_statuses.label|title }}
            </label>
            <div>{{form.registration_sub_statuses}}</div>
            <div class="warning">{{form.registration_sub_statuses.help_text}}</div>
            <div class="error">{{ form.registration_sub_statuses.errors }}</div>
          </div>
          <div class="form-group col-md-4">
            <label for="id_{{form.photo_release_incomplete.name}}">{{ form.photo_release_incomplete.label|title }}</label>
            <div>{{form.photo_release_incomplete}}</div>
            <div class="warning">{{form.photo_release_incomplete.help_text}}</div>
            <div class="error">{{ form.photo_release_incomplete.errors }}</div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.email_to.name}}">{{ form.email_to.label|title}}</label>
          <div>{{form.email_to}}</div>
          <div class="warning">{{form.email_to.help_text}}</div>
          <div class="error">{{ form.email_to.errors }}</div>
        </div>
         <div class="form-group mb-3">
          <label for="id_{{form.email_cc.name}}">{{ form.email_cc.label|title}}</label>
          <div>{{form.email_cc}}</div>
          <div class="warning">{{form.email_cc.help_text}}</div>
          <div class="error">{{ form.email_cc.errors }}</div>
        </div>
         <div class="form-group mb-3">
          <label for="id_{{form.email_bcc.name}}">{{ form.email_bcc.label|title}}</label>
          <div>{{form.email_bcc}}</div>
          <div class="warning">{{form.email_bcc.help_text}}</div>
          <div class="error">{{ form.email_bcc.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.email_subject.name}}">{{ form.email_subject.label|title }} (<span class="required">*</span>)</label>
          <div>{{form.email_subject}}</div>
          <div class="warning">{{form.email_subject.help_text}}</div>
          <div class="error">{{ form.email_subject.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{form.email_message.name}}">{{ form.email_message.label|title }} (<span class="required">*</span>)</label>
          <div>{{form.email_message}}</div>
          <div class="warning">{{form.email_message.help_text}}</div>
          <div class="error">{{ form.email_message.errors }}</div>
        </div>
        <div class="form-group mb-3 row scheduled_date">
          <div class="col">
            <label for="id_{{form.scheduled_date.name}}" class="form-label"> {{form.scheduled_date.label|title}}</label>
            <div class="input-group">
              {{form.scheduled_date}}
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
            <div class="warning">{{form.scheduled_date.help_text}}</div>
            <div class="error">{{ form.scheduled_date.errors }}</div>
          </div>
          <div class="col">
            <label for="id_{{form.scheduled_time.name}}" class="form-label"> {{form.scheduled_time.label|title}} (CST)</label>
            <div class="input-group">
              {{form.scheduled_time}}
              <span class="input-group-text"><i class="fa fa-clock"></i></span>
            </div>
             <div class="warning">{{form.scheduled_time.help_text}}</div>
            <div class="error">{{ form.scheduled_time.errors }}</div>
          </div>
        </div>

        {% include 'bcse_app/WorkshopEmailReplacementPatterns.html' %}

        <input type="hidden" id="send" name="send" value="0"/>

        <div class="form-group" id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group buttons right">
          <button type="button" id="save_button" class="btn btn-success">
            Save Draft
          </button>
          <button type="button" id="send_button" class="btn btn-success">
            Send Now
          </button>
          <button type="button" id="schedule_button" class="btn btn-success" style="display: none;">
            Schedule Email
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function (){

    $('select.select2').select2({
      placeholder: {
        id: '-1', // the value of the option
      }
    });
    $('#save_button, #schedule_button').on('click', function(){
      $('#send').val(0);
      $("#formWorkshopEmail").submit();
    });
    $('#send_button').on('click', function(){
      $('#send').val(1);
      $("#formWorkshopEmail").submit();
    });

    $('#id_scheduled_date').on('change', function(){
      if($(this).val()) {
        $('#save_button, #send_button').hide();
        $('#schedule_button').show();
      }
      else {
        $('#save_button, #send_button').show();
        $('#schedule_button').hide();
      }
    });


    $("#formWorkshopEmail").submit(function(e) {
      e.preventDefault();
      for (var instance in CKEDITOR.instances) {
        CKEDITOR.instances[instance].updateElement();
      }
      var formData = new FormData(this);

      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: formData,
        dataType: 'json',
        context: this,
        cache:false,
        contentType: false,
        processData: false,

        beforeSend: function(){
          $('#formWorkshopEmail #spinner').show();
        },
        complete: function(){
          $('#formWorkshopEmail #spinner').hide();
        },
        success: function(data, status) {
          if(data['success'] == true){
            //$('#general').modal('toggle');
            window.parent.location.reload();
          }
          else{
            $('#general').html(data['html']);
          }
        },
        error: function(e){
          displayErrorDialog();
        }
      });
    });

    $('#id_scheduled_date').trigger('change');

  });
</script>

