{% extends "bcse_app/AdminConfiguration.html" %}
{% load base_extras %}
{% load bcse_extras %}

{% block configuration %}
  <div class="workshop_container">
    <h1 class="center"> {{workshop.name}}</h1>
    {% include "bcse_app/WorkshopTabs.html" with tab='emails' %}

    {% if workshop_emails %}
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Registration Status(s)</th>
            <th>Registration Email(s)</th>
            <th>To</th>
            <th>Cc</th>
            <th>Bcc</th>
            <th>Subject</th>
            <th>Email Status</th>
            <th>Sent Date</th>
            <th>Created Date</th>
            <th>Modified Date</th>
            <th> Action </th>
          </tr>
        </thead>
        <tbody>
          {% for email in workshop_emails %}
            <tr>
              <td>{{email.id}}</td>
              <td>{{email.get_registration_status_display|safe}}</td>
              <td>

                  <a data-bs-toggle="collapse" href="#registrants_{{email.id}}" role="button" aria-expanded="false" aria-controls="registrants_{{email.id}}">
                    View emails
                  </a>
                  <div class="collapse" id="registrants_{{email.id}}">
                    {% if email.registration_email_addresses %}
                      {% for e in email.registration_email_addresses|split:';' %}
                        {{e}} <br>
                      {% endfor %}
                    {% else %}
                      {% for e in email|get_registrants_email %}
                        {{e}} <br>
                      {% endfor %}
                    {% endif %}
                  </div>
              </td>
              <td>
                {% if email.email_to %}
                  {% for address in email.email_to|split:';' %}
                    {{address}}<br>
                  {% endfor %}
                {% endif %}
              </td>
              <td>
                {% if email.email_cc %}
                  {% for address in email.email_cc|split:';' %}
                    {{address}}<br>
                  {% endfor %}
                {% endif %}
              </td>
              <td>
                {% if email.email_bcc %}
                  {% for address in email.email_bcc|split:';' %}
                    {{address}}<br>
                  {% endfor %}
                {% endif %}
              </td>
              <td>{{email.email_subject}}</td>
              <td>{{email.get_email_status_display}}</td>
              <td>{{email.sent_date|date:"F j, Y g:i A"}}</td>
              <td>{{email.created_date|date:"F j, Y g:i A"}}</td>
              <td>{{email.modified_date|date:"F j, Y g:i A"}}</td>

              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Action
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    {% if email.email_status == 'D' %}
                      <li>
                        <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:workshopEmailEdit' workshop.id email.id %}" href="#">Edit</a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                    {% endif %}
                    <li>
                      <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:workshopEmailPreview' workshop.id email.id %}" href="#">Preview Email</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item copy action" href="{% url 'bcse:workshopEmailCopy' workshop.id email.id %}">
                        Clone
                      </a>
                    </li>
                    {% if email.email_status == 'D' %}
                      <li><hr class="dropdown-divider"></li>
                      <li>
                        <a class="dropdown-item" href="{% url 'bcse:workshopEmailSend' workshop.id email.id %}">Send Email</a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                        <a class="dropdown-item delete action" data-href="{% url 'bcse:workshopEmailDelete' workshop.id email.id %}"
                        data-title="the email with id {{email.id}}">
                          Delete
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="warning center">Emails have not been created for this workshop</div>
    {% endif %}
  </div>
{% endblock %}
