{% load bcse_extras %}
{% if user.is_authenticated and user.userProfile.user_role in 'AS' %}
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <label><a class="nav-link" aria-current="page" href="{% url 'bcse:workshops' 'table' 'current' %}">Back to Workshops</a></label>
    </li>
    {% if workshop.id %}
      <li class="nav-item">
        <label><a class="nav-link {% if tab == 'view' %}active{% endif %}" aria-current="page" href="{% url 'bcse:workshopView' workshop.id %}">View</a></label>
      </li>
      <li class="nav-item">
        <label><a class="nav-link {% if tab == 'edit' %}active{% endif %}" aria-current="page"  href="{% url 'bcse:workshopEdit' workshop.id %}">Edit</a></label>
      </li>
      {% if workshop.enable_registration and workshop.registration_setting %}
        <li class="nav-item">
          <label><a class="nav-link {% if tab == 'registration_setting' %}active{% endif %}" href="{% url 'bcse:workshopRegistrationSetting' workshop.id %}">Registration Setting</a></label>
        </li>
        <li class="nav-item">
          <label><a class="nav-link {% if tab == 'registrants' %}active{% endif %}" href="{% url 'bcse:workshopRegistrants' workshop.id %}">Registrants</a></label>
        </li>
        <li class="nav-item">
          <label><a class="nav-link {% if tab == 'emails' %}active{% endif %}" href="{% url 'bcse:workshopEmails' workshop.id %}">Emails</a></label>
        </li>
        <li class="nav-item">
          <label><a class="nav-link {% if tab == 'registration_emails' %}active{% endif %}" href="{% url 'bcse:workshopRegistrationEmails' workshop.id %}">Registration Emails</a></label>
        </li>
      {% endif %}
    {% elif tab == 'edit' %}
      <li class="nav-item">
        <label><a class="nav-link active" aria-current="page">Edit</a></label>
      </li>
      <li class="nav-item right">
        <button class="btn" type="submit" id="submit_top">
          Save
        </button>
      </li>
    {% endif %}

    {% if tab == 'registration_setting' and not workshop.cancelled %}
      <li class="nav-item right">
        <button class="btn" type="submit" id="submit_top">
          Save
        </button>
      </li>
    {% endif %}
    {% if tab == 'registrants'%}
      <li class="nav-item right">
        {% if not workshop.cancelled %}
          <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#upload" data-href="{% url 'bcse:workshopRegistrantsUpload' workshop.id %}" href="#">Upload Registrants</a>
        {% endif %}
        <button class="btn download" type="button">Export Registrants</button>
        {% if workshop.registration_setting.application and workshop.registration_setting.application.survey_submission.all|length > 0 %}
          <a class="btn" href="{% url 'bcse:surveySubmissionsExport' workshop.registration_setting.application.id %}">
            Export
            {% if workshop.registration_setting.registration_type == 'R' %}
              Questionnaire
            {% else %}
              Applications
            {% endif %}
          </a>
        {% endif %}
      </li>
    {% elif tab == 'emails'%}
       <li class="nav-item right">
        <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:workshopEmailNew' workshop.id %}" href="#">Create Email</a>
      </li>
    {% elif tab == 'registration_emails'%}
       <li class="nav-item right">
        <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:workshopRegistrationEmailNew' workshop.id %}" href="#">Create Registration Email</a>
      </li>
    {% endif %}
  </ul>
{% elif user.is_authenticated and user.userProfile.user_role in 'TP' and workshop.id and workshop|is_workshop_teacher_leader:user.userProfile %}
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <label><a class="nav-link {% if tab == 'view' %}active{% endif %}" aria-current="page" href="{% url 'bcse:workshopView' workshop.id %}">View</a></label>
    </li>
    {% if workshop.enable_registration and workshop.registration_setting %}
      <li class="nav-item">
        <label><a class="nav-link {% if tab == 'registrants' %}active{% endif %}" href="{% url 'bcse:workshopRegistrants' workshop.id %}">Registrants</a></label>
      </li>
      {% if tab == 'registrants' and workshop.registration_setting.application and workshop.registration_setting.application.survey_submission.all|length > 0 %}
        <li class="nav-item right">
          <a class="btn" href="{% url 'bcse:surveySubmissionsExport' workshop.registration_setting.application.id %}">
            Export
            {% if workshop.registration_setting.registration_type == 'R' %}
              Questionnaire
            {% else %}
              Applications
            {% endif %}
          </a>
        </li>
      {% endif %}

    {% endif %}

  </ul>
{% endif %}


