{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Workshop Categories </h1>
  <div class="button-row">
    <a class="btn" href="{% url 'bcse:workshopCategoryNew' %}" role="button">Create Workshop Category</a>
  </div>
  <div class="search_results">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th> Workshop Category ID</th>
          <th> Name </th>
          <th> Type </th>
          <th> Audience </th>
          <th> Status </th>
          <th> Created Date</th>
          <th> Modified Date </th>
          <th> Action </th>
        </tr>
      </thead>
      <tbody>
        {% for workshop_category in workshop_categories %}
          <tr>
            <td> {{workshop_category.id}}</td>
            <td> {{workshop_category.name}} </td>
            <td> {{workshop_category.get_workshop_type_display}} </td>
            <td> {{workshop_category.get_audience_display}} </td>
            <td> {{workshop_category.get_status_display}} </td>
            <td> {{workshop_category.created_date|date:"F j, Y g:i A"}}</td>
            <td> {{workshop_category.modified_date|date:"F j, Y g:i A"}} </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'bcse:workshopCategoryEdit' workshop_category.id %}">Edit</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item delete action" data-href="{% url 'bcse:workshopCategoryDelete' workshop_category.id %}"
                    data-title="the workshop category <strong>{{workshop_category.name}}</strong>">
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
