{% load bcse_extras %}
{% if user.is_authenticated and user.userProfile.user_role in 'AS' %}
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      {% if workshop.id and workshop.workshop_category.audience == 'S' %}
        <label><a class="nav-link" aria-current="page" href="{% url 'bcse:studentPrograms' 'table' %}">Back to Student Programs</a></label>
      {% else %}
        <label><a class="nav-link" aria-current="page" href="{% url 'bcse:workshops' 'table' %}">Back to Workshops</a></label>
      {% endif %}
    </li>
    {% if workshop.id %}
      <li class="nav-item">
        <label><a class="nav-link {% if tab == 'view' %}active{% endif %}" aria-current="page" href="{% url 'bcse:workshopView' workshop.id %}">View</a></label>
      </li>
      <li class="nav-item">
        <label><a class="nav-link {% if tab == 'edit' %}active{% endif %}" aria-current="page"  href="{% url 'bcse:workshopEdit' workshop.id %}">Edit</a></label>
      </li>
      {% if workshop.enable_registration and workshop.registration_setting %}
        <li class="nav-item">
          <label><a class="nav-link {% if tab == 'registration_setting' %}active{% endif %}" href="{% url 'bcse:workshopRegistrationSetting' workshop.id %}">Registration Setting</a></label>
        </li>
        <li class="nav-item">
          <label><a class="nav-link {% if tab == 'registrants' %}active{% endif %}" href="{% url 'bcse:workshopRegistrants' workshop.id %}">Registrants</a></label>
        </li>
      {% endif %}
    {% elif tab == 'edit' %}
      <li class="nav-item">
        <label><a class="nav-link active" aria-current="page">Edit</a></label>
      </li>
    {% endif %}

    {% if tab == 'edit' or tab == 'registration_setting' %}
      <li class="nav-item right">
        <button class="btn" type="submit" id="submit_top">
          Save
        </button>
      </li>
    {% endif %}
    {% if tab == 'registrants'%}
      <li class="nav-item right">
        <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#upload" data-href="{% url 'bcse:workshopRegistrantsUpload' workshop.id %}" href="#">Upload Registrants</a>
        <button class="btn download" type="button">Download Registrants</button>
      </li>
    {% endif %}
  </ul>
{% elif user.is_authenticated and user.userProfile.user_role in 'TP' and workshop.id and workshop|is_workshop_teacher_leader:user.userProfile %}
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <label><a class="nav-link {% if tab == 'view' %}active{% endif %}" aria-current="page" href="{% url 'bcse:workshopView' workshop.id %}">View</a></label>
    </li>
    {% if workshop.enable_registration and workshop.registration_setting %}
      <li class="nav-item">
        <label><a class="nav-link {% if tab == 'registrants' %}active{% endif %}" href="{% url 'bcse:workshopRegistrants' workshop.id %}">Registrants</a></label>
      </li>
    {% endif %}
  </ul>
{% endif %}


