{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1> Workshop Categories </h1>
  <div class="button-row">
    <a class="btn" href="{% url 'bcse:workshopCategoryNew' %}" role="button">Create Workshop Category</a>
  </div>

  {% include "bcse_app/WorkshopCategoriesSearch.html" %}
  <div class="form-group" id="spinner">
    <img src="/static/img/page-loader.gif" class="icon"/>
  </div>
  <div class="workshop_categories search_results">
  </div>
  <script type="text/javascript">
    $(function (){
      $('form#workshop_categories_filter_form').submit();
    });
  </script>
{% endblock %}
