{% extends "bcse_app/base.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block content %}
  {{block.super}}
  <div class="content">
    <div class="workshop_container container">
      <h1 class="center"> {{workshop.name}}</h1>
      {% include "bcse_app/WorkshopTabs.html" with tab='registrants' %}
      <table class="table table-bordered table-striped" id="registrants_summary">
        {% get_registration_breakdown workshop.registration_setting as registration_summary %}
        <thead>
          <tr>
            <th colspan={{registration_summary|length}} class="center"> Registration Summary </th>
          </tr>
          <tr>
            {% for status, total in registration_summary.items %}
            <th>{{status}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for status, total in registration_summary.items %}
          <td>{{total}}</td>
          {% endfor %}
        </tbody>
      </table>
      <table class="table table-bordered table-striped" id="workshop_registrants">
        <tbody style="display:none;">
          <tr>
            <td style="background-color: #767676; color: white;"> Worshop ID</td>
            <td style="background-color: #767676; color: white;"> Workshop Title </td>
          </tr>
          <tr>
            <td>{{workshop.id}}</td>
            <td>{{workshop.name}}</td>
          </tr>
          <tr>
            <td colspan="2"></td>
          </tr>
        </tbody>
        <thead>
          <tr class='noExl'>
            <th> Registration ID</th>
            <th> User ID </th>
            <th> Email </th>
            <th> Full Name </th>
            <th> Work Place </th>
            <th> Created Date </th>
            <th> Status </th>
            <th > Action </th>
          </tr>
        </thead>
        <tbody>
          <tr style="display:none;">
            <td style="background-color: #767676; color: white;"> Registration ID</td>
            <td style="background-color: #767676; color: white;"> User ID </td>
            <td style="background-color: #767676; color: white;"> Email </td>
            <td style="background-color: #767676; color: white;"> Full Name </td>
            <td style="background-color: #767676; color: white;"> Work Place </td>
            <td style="background-color: #767676; color: white;"> Created Date </td>
            <td style="background-color: #767676; color: white;"> Status </td>
          </tr>
          {% for registrant in workshop.registration_setting.workshop_registrants.all %}
            <tr>
              <td> {{registrant.id}}</td>
              <td> {{registrant.user.id}}</td>
              <td> {{registrant.user.user.email}} </td>
              <td> {{registrant.user.user.get_full_name}}</td>
              <td> {{registrant.user.work_place|default_if_none:""}}</td>
              <td> {{registrant.created_date|date:"F j, Y g:i a" }}</td>
              <td> {{registrant.get_status_display}} </td>
              <td class="noExl">
                <div class="btn-group">
                  <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Action
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item registration_edit modal-open" data-bs-toggle="modal" data-bs-target="#workshop_registration" data-href="{% url 'bcse:workshopRegistrationEdit' workshop.id registrant.id %}" href="#">Edit</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item delete action" data-href="{% url 'bcse:workshopRegistrationDelete' workshop.id registrant.id %}"
                      data-title="the registration for <strong>{{registrant.user.user.get_full_name}}</strong>">
                        Delete
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="form-group right">
        <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#upload" data-href="{% url 'bcse:workshopRegistrantsUpload' workshop.id %}" href="#">Upload Registrants</a>
        <button class="btn download" type="button">Download Registrants</button>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function (){
      $('.download').on('click', function(e) {
        $("#workshop_registrants").table2excel({
          exclude: ".noExl",
          name: "Workshop Registrants",
          filename: "Workshop_Registrants", //do not include extension
          fileext:".xls", // file extension
          preserveColors: true, // set to true if you want background colors and font colors preserved
        });
      });
    });
  </script>
{% endblock %}
