{% load bcse_extras %}

<ul class="nav nav-tabs mb-3" id="registrants_summary_tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="registration_summary-tab" data-bs-toggle="tab" data-bs-target="#registration_summary_container" type="button" role="tab" aria-controls="registration_summary_container" aria-selected="true" ><label>Registration Summary</label></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="workshops_summary-tab" data-bs-toggle="tab" data-bs-target="#workshops_summary_container" type="button" role="tab" aria-controls="workshops_summary_container" aria-selected="false"><label>Workshops Summary</label></button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link"  id="workplaces_summary-tab" data-bs-toggle="tab" data-bs-target="#workplaces_summary_container" type="button" role="tab" aria-controls="workplaces_summary_container" aria-selected="false"><label>Workplaces Summary</label></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link"  id="users_summary-tab" data-bs-toggle="tab" data-bs-target="#users_summary_container" type="button" role="tab" aria-controls="users_summary_container" aria-selected="false"><label>Users Summary</label></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link"  id="all_registrations-tab" data-bs-toggle="tab" data-bs-target="#all_registrations_container" type="button" role="tab" aria-controls="all_registrations_container" aria-selected="false"><label>All Registrations</label></button>
  </li>
</ul>
<div class="tab-content">
  <div id="registration_summary_container" class="tab-pane fade" role="tabpanel" aria-labelledby="registration_summary-tab">
    <table id="registration_summary" class="table table-bordered table-striped export">
      <thead>
        <tr>
          <th colspan={{all_registration_summary|length|add:1}} class="center"> Registrants Summary </th>
        </tr>
        <tr>
          {% for title, total in all_registration_summary.items %}
            <th>{{title}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for title, total in all_registration_summary.items %}
          <td>{{total}}</td>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="workshops_summary_container" class="tab-pane fade" role="tabpanel" aria-labelledby="workshops_summary-tab">
    {% if workshops %}
      {% include "bcse_app/Pagination.html" with model=workshops location='top' %}
      <table id="workshops_summary" class="table table-bordered table-striped export">
        <thead>
          <tr>
            <th>Workshop ID</th>
            <th>Workshop</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Registrants</th>
            <th>Unique Workplaces</th>
            <th>Accepted</th>
            <th>Applied</th>
            <th>Attended</th>
            <th>Cancelled</th>
            <th>Denied</th>
            <th>Pending</th>
            <th>Registered</th>
            <th>Waitlisted</th>
          </tr>
        </thead>
        <tbody>
          {% for workshop in workshops %}
            <tr>
              <td>{{workshop.id}}</td>
              <td>{{workshop.name}}</td>
              <td>{{workshop.start_date|date:"F j, Y"}}</td>
              <td>{{workshop.end_date|date:"F j, Y"}}</td>
              <td>{{workshop.total_registrants}}</td>
              <td>{{workshop.total_workplaces}}</td>
              <td>{{workshop.reg_accepted}}</td>
              <td>{{workshop.reg_applied}}</td>
              <td><strong>{{workshop.reg_attended}}</strong></td>
              <td>{{workshop.reg_cancelled}}</td>
              <td>{{workshop.reg_denied}}</td>
              <td>{{workshop.reg_pending}}</td>
              <td>{{workshop.reg_registered}}</td>
              <td>{{workshop.reg_waitlisted}}</td>
            </tr>
         {% endfor %}
        </tbody>
      </table>
      {% include "bcse_app/Pagination.html" with model=workshops location='bottom' %}
    {% else %}
      <div class="warning center">No workshops matching your search criteria found</div>
    {% endif %}
  </div>
  <div id="workplaces_summary_container" class="tab-pane fade" role="tabpanel" aria-labelledby="workplaces_summary-tab">
    {% if workplaces %}
      {% include "bcse_app/Pagination.html" with model=workplaces location='top' %}
      <table id="workplaces_summary" class="table table-bordered table-striped export">
        <thead>
          <tr>
            <th>Workplace</th>
            <th>Workplace ID</th>
            <th>Total Workshops</th>
            <th>Total Registrants</th>
            <th>Accepted</th>
            <th>Applied</th>
            <th>Attended</th>
            <th>Cancelled</th>
            <th>Denied</th>
            <th>Pending</th>
            <th>Registered</th>
            <th>Waitlisted</th>
          </tr>
        </thead>
        <tbody>
          {% for workplace in workplaces %}
            <tr>
              <td>{{workplace.id}}</td>
              <td>{{workplace.name}}</td>
              <td>{{workplace.total_workshops}}</td>
              <td>{{workplace.total_registrants}}</td>
              <td>{{workplace.reg_accepted}}</td>
              <td>{{workplace.reg_applied}}</td>
              <td><strong>{{workplace.reg_attended}}</strong></td>
              <td>{{workplace.reg_cancelled}}</td>
              <td>{{workplace.reg_denied}}</td>
              <td>{{workplace.reg_pending}}</td>
              <td>{{workplace.reg_registered}}</td>
              <td>{{workplace.reg_waitlisted}}</td>
            </tr>
         {% endfor %}
        </tbody>
      </table>
      {% include "bcse_app/Pagination.html" with model=workplaces location='bottom' %}
    {% else %}
      <div class="warning center">No workplaces matching your search criteria found</div>
    {% endif %}
  </div>

  <div id="users_summary_container" class="tab-pane fade" role="tabpanel" aria-labelledby="users_summary-tab">
    {% if users %}
      {% include "bcse_app/Pagination.html" with model=users location='top' %}
      <table id="users_summary" class="table table-bordered table-striped export">
        <thead>
          <tr>
            <th>User ID</th>
            <th>User</th>
            <th>Email</th>
            <th>User Role</th>
            <th>Total Workshops</th>
            <th>Total Workplaces</th>
            <th>Associated Workplaces</th>
            <th>Accepted</th>
            <th>Applied</th>
            <th>Attended</th>
            <th>Cancelled</th>
            <th>Denied</th>
            <th>Pending</th>
            <th>Registered</th>
            <th>Waitlisted</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.user.last_name}}, {{user.user.first_name}}</td>
              <td>
                {{user.user.email}}
                {% if user.secondary_email %}
                  <br>
                  {{user.secondary_email}}
                  <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Secondary email"></i>
                {% endif %}
              </td>
              <td>{{user.get_user_role_display}}</td>
              <td>{{user.total_workshops}}</td>
              <td>{{user.total_workplaces}}</td>
              <td>
                {% if user.workplaces %}
                  <ul>
                    {% for workplace in user.workplaces %}
                      <li>{{workplace}}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </td>
              <td>{{user.reg_accepted}}</td>
              <td>{{user.reg_applied}}</td>
              <td><strong>{{user.reg_attended}}</strong></td>
              <td>{{user.reg_cancelled}}</td>
              <td>{{user.reg_denied}}</td>
              <td>{{user.reg_pending}}</td>
              <td>{{user.reg_registered}}</td>
              <td>{{user.reg_waitlisted}}</td>
            </tr>
         {% endfor %}
        </tbody>
      </table>
      {% include "bcse_app/Pagination.html" with model=users location='bottom' %}
    {% else %}
      <div class="warning center">No users matching your search criteria found</div>
    {% endif %}
  </div>

  <div id="all_registrations_container" class="tab-pane fade" role="tabpanel" aria-labelledby="all_registrations-tab">
    {% if registrations %}
      {% include "bcse_app/Pagination.html" with model=registrations location='top' %}
      <table id="all_registrations" class="table table-bordered table-striped export">
        <thead>
          <tr>
            <th> Workshop ID </th>
            <th> Workshop Title </th>
            <th> Start Date </th>
            <th> End Date </th>
            <th> Registration ID</th>
            <th> User ID </th>
            <th> Email </th>
            <th> Full Name </th>
            <th> User Role </th>
            <th> Workplace </th>
            <th> Created Date </th>
            <th> Status </th>
            <th class='ignore-column'> Action </th>
          </tr>
        </thead>
        <tbody>
          {% for registrant in registrations %}
            <tr>
              <td> {{registrant.workshop_registration_setting.workshop.id}}</td>
              <td> {{registrant.workshop_registration_setting.workshop.name}}</td>
              <td> {{registrant.workshop_registration_setting.workshop.start_date|date:"F j, Y"}}</td>
              <td> {{registrant.workshop_registration_setting.workshop.end_date|date:"F j, Y"}}</td>
              <td> {{registrant.id}}</td>
              <td> {{registrant.user.id}}</td>
              <td>
                {{registrant.user.user.email}}
                {% if registrant.user.secondary_email %}
                  <br>
                  {{registrant.user.secondary_email}}
                  <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Secondary email"></i>
                {% endif %}
              </td>
              <td> {{registrant.user.user.get_full_name}}</td>
              <td> {{registrant.user.get_user_role_display}}</td>
              <td> {{registrant.registration_to_work_place.work_place|default_if_none:""}}</td>
              <td> {{registrant.created_date|date}}</td>
              <td> {{registrant.get_status_display}} </td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Action
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item registration_edit modal-open" data-bs-toggle="modal" data-bs-target="#workshop_registration" data-href="{% url 'bcse:workshopRegistrationEdit' registrant.workshop_registration_setting.workshop.id registrant.id %}" href="#">Edit</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item delete action" data-href="{% url 'bcse:workshopRegistrationDelete' registrant.workshop_registration_setting.workshop.id registrant.id %}"
                      data-title="the registration for <strong>{{registrant.user.user.get_full_name}}</strong>">
                        Delete
                      </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item" target="_blank" href="{% url 'bcse:userProfileView' registrant.user.id %}">View User Profile</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "bcse_app/Pagination.html" with model=registrations location='bottom'%}
    {% else %}
      <div class="warning center">No registrants matching your search criteria found</div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  $(function (){
    $('.nav-link').on('click', function(){
      var active_tab = $(this).attr('id');
      $("#active_tab").val(active_tab);
    });

    var active_tab = $("#active_tab").val();
    $("#"+active_tab).addClass('active');
    var active_target = $("#"+active_tab).data('bs-target');
    $(active_target).addClass('show active');

    if($("#download").val() == "1") {
      $("#download").val("0");
      var tables = $('table.export').map(function() {
        return this.id;
      }).get();
      exportTablesToExcel(tables, 'Workshops Registrations.xlsx', true);
    }

  });
</script>
