<div class="filter_container">
  <form method="get" action="{% url 'bcse:workshopsRegistrants' %}" id="workshops_registrants_filter_form" class="filter_form">
    {% csrf_token %}
    {{searchForm.media}}
    <div class="form-group right" id="filter_toggle">
      <label style="display:none;">Show Filters <span class="fa fa-plus-circle"></span></label>
      <label>Hide Filters <span class="fa fa-minus-circle"></span></label>
    </div>

    <div id="filter_content">
      <div id="filter_fields">
        <div class="form-group">
          <label for="id_{{searchForm.workshop_category.name}}" class="form-label"> {{searchForm.workshop_category.label|title}}</label>
          <div>{{searchForm.workshop_category}}</div>
          <div class="error">{{ searchForm.workshop_category.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{searchForm.workshop.name}}" class="form-label"> {{searchForm.workshop.label|title}}</label>
          <div>{{searchForm.workshop}}</div>
          <div class="error">{{ searchForm.workshop.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{searchForm.year.name}}" class="form-label"> {{searchForm.year.label|title}}</label>
          <div>{{searchForm.year}}</div>
          <div class="error">{{ searchForm.year.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{searchForm.status.name}}" class="form-label"> {{searchForm.status.label|title}}</label>
          <div>{{searchForm.status}}</div>
          <div class="error">{{ searchForm.status.errors }}</div>
        </div>
        <div class="form-group">
          <label for="id_{{searchForm.sort_by.name}}" class="form-label"> {{searchForm.sort_by.label|title}}</label>
          <div>{{searchForm.sort_by}}</div>
          <div class="error">{{ searchForm.sort_by.errors }}</div>
        </div>
        <input type="hidden" name="page" id="page" value="1"/>

        <div class="form-group" id="filter_buttons">
          <button class="btn" type="button" id="clear">Clear Filter</button>
          <button class="btn download" type="button">Download Registrants</button>
        </div>
      </div>
    </div>
  </form>
</div>
