{% if user.is_authenticated %}
  {% if user.userProfile.user_role in 'TP' %}
    {% if tag == 'profile' or flag == 'table' %}
      <div class="warning center">You have not attended any workshops yet</div>
    {% endif %}
  {% elif tag == 'profile' %}
    <div class="warning center">This user has not attended any workshops yet</div>
  {% endif %}
{% endif %}

{% if tag == 'workshops' %}
  {% if period == 'current' %}
    {% if filters_applied %}
      <div class="warning center">No upcoming workshops matching your search criteria found</div>
    {% else %}
      <div class="warning center">Please come back later for upcoming workshops</div>
    {% endif %}
  {% else %}
    {% if filters_applied %}
      <div class="warning center">No previous workshops matching your search criteria found</div>
    {% else %}
      <div class="warning center">No previous workshops found</div>
    {% endif %}
  {% endif %}
{% endif %}
