{% load bcse_extras %}
{% load base_extras %}

{% if user.is_authenticated %}
  {% if user.userProfile.user_role in 'AS' or workshop|is_workshop_teacher_leader:user.userProfile %}
    <h1 class="center"> {{workshop}} </h1>
  {% endif %}
{% endif %}

{% include "bcse_app/WorkshopTabs.html" with tab='view' %}
<div class="tile workshop_tile workshop_header">
  <div class="image">
    {% if workshop.featured and user.is_authenticated and user.userProfile.user_role in 'AS' %}
      <div class="shelf"></div>
      <div class="featured">
        <i class="fa-solid fa-star" title="Past Workshop Example" aria-hidden="true"></i><span class="sr-only">Past Workshop Example</span>
      </div>
    {% endif %}
    {% if workshop.image %}
      <img src="{{workshop.image.url}}">
    {% else %}
      <img src="{% staticfile 'img/workshop_placeholder.jpg' %}">
    {% endif %}
  </div>
  <div class="details">
    <div>
      <h2>{{workshop}}</h2>
      <h3 class="subtitle">{{workshop.sub_title|default:""}}</h3>
    </div>
    <div class="tags">
      {% for subtag in workshop.tags.all|dictsort:"name" %}
        <div>{{subtag.name}}</div>
      {% endfor %}
    </div>
  </div>
  <div class="date_location">
    {% if workshop.display_date %}
      <div class="date">
        <div><i class="far fa-fw fa-calendar-alt" aria-hidden="true" title="Workshop Date(s)"></i></div>
        <div>{{workshop.display_date|linebreaks}}</div>
      </div>
    {% else %}
      {% if workshop.start_date == workshop.end_date %}
        <div class="date">
          <div><i class="far fa-fw fa-calendar-alt" aria-hidden="true" title="Workshop Date"></i></div>
          <div>{{workshop.start_date|date}}</div>
        </div>
      {% else %}
        <div class="date">
          <div><i class="far fa-fw fa-calendar-alt" aria-hidden="true" title="Workshop Date(s)"></i></div>
          <div>{{workshop.start_date|date}} - {{workshop.end_date|date}}</div>
        </div>
      {% endif %}
        <div class="date">
          <div><i class="far fa-fw fa-clock" aria-hidden="true" title="Workshop Time"></i></div>
          <div>
            {% if workshop.start_time and workshop.end_time %}
              {{workshop.start_time|date:"g:i A"}} - {{workshop.end_time|date:"g:i A"}} CST
            {% elif workshop.start_time %}
              {{workshop.start_time|date:"g:i A"}} CST
            {% endif %}
          </div>
        </div>
    {% endif %}
    <div class="location">
      <div><i class="fas fa-fw fa-map-marker-alt" aria-hidden="true" title="Workshop Location"></i></div>
      <div>{{workshop.location}}</div>
    </div>
    {% if workshop.collaborators.all %}
      <div class="location">
        <div><i class="far fa-fw fa-puzzle" aria-hidden="true" title="Workshop Collaborator(s)"></i></div>
        <div>
          {% for collaborator in workshop.collaborators.all %}
            <a href="{{collaborator.url}}" target="_blank">{{collaborator.name}}</a>
            {% if not forloop.last %}<br>{% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if workshop.teacher_leaders.all %}
      <div class="location">
        <div><i class="far fa-fw fa-person-chalkboard" aria-hidden="true" title="Workshop Facilitator(s)"></i></div>
        <div>
          {% for facilitator in workshop.teacher_leaders.all %}
            {{facilitator}}{% if not forloop.last %},{% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if workshop.perks %}
      <div class="location">
       <div><i class="far fa-fw fa-hand-holding-box"  aria-hidden="true" title="Workshop Perks"></i></div>
       <div>{{workshop.perks}}</div>
      </div>
    {% endif %}
    {% if workshop.credits %}
      <div class="location">
        <div><i class="fas fa-fw fa-certificate" aria-hidden="true" title="Workshop Credits"></i></div>
        <div>{{workshop.credits}} ISBE PD Hours</div>
      </div>
    {% endif %}
    <div class="workshop_registration">
      {% include "bcse_app/WorkshopRegistration.html" %}
    </div>
    <!-- if meetup link is available only display the link if registration is not enabled or if enabled the user
      is Registered or Accepted into the workshop -->
    {% if workshop.meetup_link %}
      {% if not workshop.enable_registration or registration and registration.instance and registration.instance.status in 'RC' %}
        <div class="form-group mb-3 center">
          <a class="btn" href="{{workshop.meetup_link}}" target="_blank">Join</a>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>

<div class="workshop_content wysiwyg_content">
  {% if workshop.description and workshop.display_general_information %}
    {{workshop.description|safe}}
  {% endif %}

  {% if workshop.workshop_category.is_super %}

    {% for detail in workshop.workshop_detail.all %}

      {% with display_setting=detail.display_setting %}
      {% if display_setting == 'P' or display_setting == 'L' and user.is_authenticated or user.is_authenticated and user.userProfile.user_role in 'AS' or display_setting == 'R' and user.is_authenticated and registration and registration.current_status in 'RCT' %}

        <div class="workshop_section">
          <h3 class="title">{{ detail.title|default_if_none:"" }}</h3>
          <div>
            {% if detail.image %}
              <img class="curve {% if detail.image_position == 'L' %} left {% else %} right {% endif %}" alt="" src="{{detail.image.url}}">
            {% endif %}
            <div>{{ detail.content|safe }}</div>
          </div>

          {% if detail.survey %}
            {% if detail.survey_target == '_self' %}
              <div class="center"> <a class="btn modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:surveySubmissionNew' detail.survey.id %}?workshop_id={{workshop.id}}" href="#">{{detail.survey_button_label|default_if_none:detail.survey.name}}</a></div>
            {% else %}
              <div class="center"> <a class="btn" href="{{request.path}}?next={% url 'bcse:surveySubmissionNew' detail.survey.id %}?workshop_id={{workshop.id}}" target="{{detail.survey_target}}">{{detail.survey_button_label|default_if_none:detail.survey.name}}</a></div>
            {% endif %}
          {% endif %}

          {% if detail.button_url %}
            <div class="center"> <a class="btn" href="{{detail.button_url}}" target="{{detail.button_target}}">{{detail.button_label|default_if_none:detail.button_url}}</a></div>
          {% endif %}
        </div>
        {% if detail.display_line_break %}
          <hr>
        {% else %}
          <hr class="invisible">
        {% endif %}

      {% endif %}
      {% endwith %}

    {% endfor %}

    {% with display_setting=workshop.gallery_display_setting %}
    {% if display_setting == 'P' or display_setting == 'L' and user.is_authenticated or user.is_authenticated and user.userProfile.user_role in 'AS' or display_setting == 'R' and user.is_authenticated and registration and registration.current_status in 'RCT' %}

      <h3 class="title"> {{workshop.gallery_title|default_if_none:"Image Gallery"|title}}</h3>
      <div class="gallery">
          {% for image in workshop.workshop_image.all %}
            {% if image.highlight %}
              <a href="{% url 'bcse:workshopImageGallery' workshop.id %}" target="_blank"><img src="{{image.image.url}}" class="icon"/></a>
            {% endif %}
          {% endfor %}
      </div>
      <div class="center"><a class="btn" href="{% url 'bcse:workshopImageGallery' workshop.id %}">View Full Gallery</a></div>
    {% endif %}
    {% endwith %}

  {% endif %}

</div>

{% if workshop.collaborators.all %}
  <hr>
  <h3 class="title">Our Collaborator{% if workshop.collaborators.all.count > 1 %}s{% endif %}</h3>
  <div class="collaborators">
    {% for collaborator in workshop.collaborators.all  %}
      <div class="collaborator" title="{{collaborator.name}}">
        {% if collaborator.url %}
          <a href="{{collaborator.url}}" target="_blank">
            {% if collaborator.image and collaborator.image.url %}
              <img src="{{collaborator.image.url}}">
            {% else %}
              {{collaborator.name}}
            {% endif %}
          </a>
        {% else %}
          {% if collaborator.image and collaborator.image.url %}
            <img src="{{collaborator.image.url}}">
          {% else %}
            {{collaborator.name}}
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}


<div class="workshop_teacher_leader">
  {% if workshop.teacher_leaders.all %}
    <hr>
    <h3 class="title">About the Facilitator{% if workshop.teacher_leaders.all.count > 1 %}s{% endif %}</h3>
    {% for teacher_leader in workshop.teacher_leaders.all %}
    <div class="teacher_leader_info">
      <div class="teacher_leader_image">
        {% if teacher_leader.teacher.image %}
          <img src="{{teacher_leader.teacher.image.url}}"/>
        {% endif %}
      </div>
      <div class="teacher_leader_details">
        <h4>{{teacher_leader.teacher.user.get_full_name}}</h4>
        <h4>{{teacher_leader.get_bcse_role_display}}</h4>
        <h4>{{teacher_leader.teacher.work_place.name}}</h4>
        <div class="wysiwyg_content">{{teacher_leader.bio|safe}}</div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>

