{% load bcse_extras %}

{% if work_places %}
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        {% if 'ID' in columns %}
          <th> ID</th>
        {% endif %}
        {% if 'NM' in columns %}
          <th> Name </th>
        {% endif %}
        {% if 'WT' in columns %}
          <th> Work Place Type </th>
        {% endif %}
        {% if 'DN' in columns %}
          <th> District # </th>
        {% endif %}
        {% if 'S1' in columns %}
          <th> Street Address 1 </th>
        {% endif %}
        {% if 'S2' in columns %}
          <th> Street Address 2 </th>
        {% endif %}
        {% if 'CT' in columns %}
          <th> City </th>
        {% endif %}
        {% if 'SA' in columns %}
          <th> State </th>
        {% endif %}
        {% if 'ZP' in columns %}
          <th> Zip Code </th>
        {% endif %}
        {% if 'LT' in columns %}
          <th> Latitude </th>
        {% endif %}
        {% if 'LO' in columns %}
          <th> Longitude </th>
        {% endif %}
        {% if 'DT' in columns %}
          <th> Distance (miles) </th>
        {% endif %}
        {% if 'TM' in columns %}
          <th> Travel Time (mins) </th>
        {% endif %}
        {% if 'ST' in columns %}
          <th> Status </th>
        {% endif %}
        {% if 'CD' in columns %}
          <th> Created Date</th>
        {% endif %}
        {% if 'MD' in columns %}
          <th> Modified Date</th>
        {% endif %}
        <th> Action </th>
      </tr>
    </thead>
    <tbody>
      {% for work_place in work_places %}
        <tr>
          {% if 'ID' in columns %}
            <td> {{work_place.id}}</td>
          {% endif %}
          {% if 'NM' in columns %}
            <td> {{work_place.name}} </td>
          {% endif %}
          {% if 'WT' in columns %}
            <td> {{work_place.get_work_place_type_display}} </td>
          {% endif %}
          {% if 'DN' in columns %}
            <td> {{work_place.district_number|default_if_none:""}} </td>
          {% endif %}
          {% if 'S1' in columns %}
            <td> {{work_place.street_address_1|default_if_none:""}} </td>
          {% endif %}
          {% if 'S2' in columns %}
            <td> {{work_place.street_address_2|default_if_none:""}} </td>
          {% endif %}
          {% if 'CT' in columns %}
            <td> {{work_place.city|default_if_none:""}} </td>
          {% endif %}
          {% if 'SA' in columns %}
            <td> {{work_place.state|default_if_none:""}} </td>
          {% endif %}
          {% if 'ZP' in columns %}
            <td> {{work_place.zip_code|default_if_none:""}} </td>
          {% endif %}
          {% if 'LT' in columns %}
            <td> {{work_place.latitude|default_if_none:""}} </td>
          {% endif %}
          {% if 'LO' in columns %}
            <td> {{work_place.longitude|default_if_none:""}} </td>
          {% endif %}
          {% if 'DT' in columns %}
            <td> {{work_place.distance_from_base|default_if_none:""}} </td>
          {% endif %}
          {% if 'TM' in columns %}
            <td> {{work_place.time_from_base|default_if_none:""}} </td>
          {% endif %}
          {% if 'ST' in columns %}
            <td> {{work_place.get_status_display}} </td>
          {% endif %}
          {% if 'CD' in columns %}
            <td> {{work_place.created_date|date:"F j, Y g:i A"}}</td>
          {% endif %}
          {% if 'MD' in columns %}
            <td> {{work_place.modified_date|date:"F j, Y g:i A"}}</td>
          {% endif %}
          
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Action
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#work_place" data-href="{% url 'bcse:workPlaceEdit' work_place.id %}" href="#">Edit</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item delete action" data-href="{% url 'bcse:workPlaceDelete' work_place.id %}"
                  data-title="the work place <strong>{{work_place.name}}</strong>">
                    Delete
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "bcse_app/Pagination.html" with model=work_places %}
{% else %}
  <div class="warning center">No work places matching your search criteria found</div>
{% endif %}
