<div class="form-group mb-3">
  <label for="id_{{form.dietary_preference.name}}" class="form-label">
    {{form.dietary_preference.label|title}}
    <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{form.dietary_preference.help_text}}"></i>
  </label>
  <div>{{form.dietary_preference}}</div>
  <div class="error">{{ form.dietary_preference.errors }}</div>
</div>
{% if user.userProfile.user_role == 'T' %}
  <div class="form-group mb-3">
    <label for="id_{{form.iein.name}}" class="form-label">
      {{form.iein.label|upper}}
      <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="{{form.iein.help_text}}"></i>
    </label>
    <div>{{form.iein}}</div>
    <div class="error">{{ form.iein.errors }}</div>
  </div>
{% endif %}
{% if not user.userProfile.photo_release_complete %}
  <div class="form-group mb-3">
    <label class="form-label">
      We do not have a photo release on file for you. Please click <a href="{{photo_release_url}}" target="_blank">here</a> to complete it before attending this event.
    </label>
  </div>
{% endif %}
{% if workshop.registration_setting.isbe_link %}
  <div class="form-group mb-3">
    <label class="form-label"> Professional Development hours will be awarded in PD+. You will only be able to access the PD+ registration link prior to the start of the event. Please complete the form in this link prior to attending this event. </label>
    <div><a href="{{workshop.registration_setting.isbe_link}}" target="_blank">{{workshop.registration_setting.isbe_link}}</a></div>
  </div>
{% endif %}
