{% extends "bcse_app/AdminConfiguration.html" %}
{% load bcse_extras %}
{% load base_extras %}

{% block configuration %}
  <h1 class="center"> Workshop Registration Report </h1>
  {% include "bcse_app/WorkshopsRegistrantsSearch.html" %}
  <div class="form-group" id="spinner">
    <img src="/static/img/page-loader.gif" class="icon"/>
  </div>
  <div class="workshops_registrants search_results">
  </div>
  <script type="text/javascript">
    $(function (){

      $('form#workshops_registrants_filter_form').submit();

      $('.download').on('click', function(e) {
        $("#workshop_registrants").table2excel({
          exclude: ".noExl",
          name: "Workshop Registrants",
          filename: "Workshop_Registrants", //do not include extension
          fileext:".xls", // file extension
          preserveColors: true, // set to true if you want background colors and font colors preserved
        });
      });
    });
  </script>
{% endblock %}
