<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      {% if form.instance.id %}
      <h3 class="left"> {{form.instance.name}} </h3>
      {% else %}
      <h3 class="left"> Create Work Place </h3>
      {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="workPlaceMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>
    <form class="form" method="post" action="{% if form.instance.id %}{% url 'bcse:workPlaceEdit' form.instance.id %} {% else %} {% url 'bcse:workPlaceNew' %}{% endif %}" id="formWorkPlace">
      {% csrf_token %}
      {{form.management_form}}
      <div class="modal-body">
        {% include "bcse_app/WorkPlace.html" with work_place_form=form source='workPlaceEdit'%}
        <div class="form-group" id="spinner">
          <img src="/static/img/page-loader.gif" class="icon"/>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group buttons">
          <button type="submit" class="btn btn-success user_profile_save">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  $(function (){

    $('#formWorkPlace').submit(function(e){
      e.preventDefault();
      var formData = new FormData(this);
      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: formData,
        dataType: 'json',
        context: this,
        cache:false,
        contentType: false,
        processData: false,
        beforeSend: function(){
          $('#formWorkPlace #spinner').show();
        },
        complete: function(){
          $('#formWorkPlace #spinner').hide();
        },
        success: function(data, status) {
          console.log(status);
          if(data['success'] == true){
            console.log('success');
            $('#work_place').modal('toggle');
            location.reload();
          }
          else{
            $('#work_place').html(data['html']);
          }
        },
        error: function(){
          displayErrorDialog();
        }
      });
    });

  });
</script>

