{% load bcse_extras %}
{% load base_extras %}

<h1 class="center"> {{workshop}}</h1>
{% include "bcse_app/WorkshopTabs.html" with tab='registrants' %}
{% include "bcse_app/WorkshopRegistrantsSearch.html" %}
<table class="table table-bordered table-striped export" id="workshop_summary" style="display:none;">
  <thead>
    <tr>
      <td> Worshop ID</td>
      <td> Workshop Title </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{workshop.id}}</td>
      <td>{{workshop.name}}</td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-striped export" id="registrants_summary">
  {% get_registration_breakdown workshop.registration_setting as registration_summary %}
  {% get_registration_attended_breakdown workshop.registration_setting as registration_attended_summary %}
  {% with rs_len=registration_summary|length ra_len=registration_attended_summary|length %}
  <thead>
    <tr>
      <th colspan="{{ rs_len|add:1|add:ra_len }}" class="center"> Registration Summary </th>
    </tr>
    <tr>
      <th rowspan="2" class="center">Total Registrants</th>
      {% for status, total in registration_summary.items %}
        {% if status == 'Attended' %}
          <th colspan="{{ra_len|add:1}}" class="center">{{status}}</th>
        {% else %}
          <th rowspan="2">{{status}}</th>
        {% endif %}
      {% endfor %}
    </tr>
    {% if registration_attended_summary.items %}
      <tr>
        <th>Total</th>
        {% for sub_status, total in registration_attended_summary.items %}
          <th>{{sub_status}}</th>
        {% endfor %}
      </tr>
    {% endif %}
  </thead>
  <tbody>
    <td>{{workshop.registration_setting.workshop_registrants.all|length}}</td>
    {% for status, total in registration_summary.items %}
      <td>{{total}}</td>
      {% if status == 'Attended' %}
        {% for sub_status, total in registration_attended_summary.items %}
          <td>{{total}}</td>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </tbody>
  {% endwith %}
</table>
<div class="workshops_registrants search_results">
</div>

<script type="text/javascript">
  $(function (){
    $('.filter_form').submit();
    $('.download').on('click', function(e) {
      $('#download').val("1");
      $('select#id_registrant_search-rows_per_page').val(0).trigger('change');
    });

  });
</script>
