{% if registration %}
  {% if registration.user_message %}
    <div class="message {{registration.message_class}}">
      <div>{{registration.user_message}}</div>
      <br>
      {% if registration.instance.id  and current_date < workshop.start_date|date:'Y-m-d' %}
        <a role="button" class="btn btn-danger btn-small delete action" data-href="{% url 'bcse:workshopRegistrationDelete' workshop.id registration.instance.id %}" data-title="your registration for <strong>{{workshop.name}}</strong>">
          Delete
        </a>
      {% endif %}
    </div>
  {% elif registration.form %}
    <form method="POST" id="formWorkshopRegistration_{{workshop.id}}" action="{% url 'bcse:workshopRegistration' workshop.id %}" class="formWorkshopRegistration">
      {% csrf_token %}
      {% if user.userProfile.user_role == 'A' %}
        {{registration.form.workshop_registration_setting.as_hidden}}
        <div class="form-group mb-3">
          <label for="id_{{registration.form.user.name}}" class="form-label"> {{registration.form.user.label}}</label>
          <div>{{registration.form.user}}</div>
          <div class="error">{{ registration.form.user.errors }}</div>
        </div>
        <div class="form-group mb-3">
          <label for="id_{{registration.form.status.name}}" class="form-label"> {{registration.form.status.label}}</label>
          <div>{{registration.form.status}}</div>
          <div class="error">{{ registration.form.status.errors }}</div>
        </div>
      {% else %}
        {{registration.form.workshop_registration_setting.as_hidden}}
        {{registration.form.user.as_hidden}}
        {{registration.form.status.as_hidden}}
      {% endif %}
      <div class="form-group mb-3 center">
        <button class="btn registration_submit" type="button" id="workshop_{{workshop.id}}_registration_submit">
          {% if workshop.registration_setting.registration_type == 'R' %}
            Register
          {% else %}
            Apply
          {% endif %}
        </button>
      </div>
    </form>
  {% endif %}
{% endif %}
