{% extends "bcse_app/AdminConfiguration.html" %}
{% load base_extras %}
{% load bcse_extras %}

{% block configuration %}
  <div class="workshop_container">
    <h1 class="center"> {{workshop}}</h1>
    {% include "bcse_app/WorkshopTabs.html" with tab='invitees' %}

    {% if workshop_invitees %}
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Registration Status</th>            
            <th>Created Date</th>
            <th>Modified Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for invitee in workshop_invitees %}
            <tr>
              <td>{{invitee.id}}</td>
              <td>{{invitee.user.user.get_full_name}}</td>
              <td>{{invitee.user.user.email}}</td>
              <td>{{invitee.get_role_display}}</td>
              <td>
                {% get_user_registration workshop.id invitee.user.id as registration %}
                {% if registration %}
                  {{registration.get_status_display}}
                {% else %}
                  Not Registered
                {% endif %}
              </td>
              <td>{{invitee.created_date|date:"F j, Y g:i A"}}</td>
              <td>{{invitee.modified_date|date:"F j, Y g:i A"}}</td>

              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-small dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Action
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item modal-open" data-bs-toggle="modal" data-bs-target="#general" data-href="{% url 'bcse:workshopInviteeEdit' workshop.id invitee.id %}" href="#">Edit</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>                  
                    <li>
                      <a class="dropdown-item delete action" data-href="{% url 'bcse:workshopInviteeDelete' workshop.id invitee.id %}"
                      data-title="the invitee {{invitee.user.user.get_full_name}}">
                        Delete
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="warning center">Invitees have not been added to this workshop</div>
    {% endif %}
  </div>
{% endblock %}
