

body {
  font-family : din-2014, sans-serif !important;
  /*****************************
  * HEADER TEXT
  ******************************/
  h1 {
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
    font-size: 2.5em;
    color : rgb(0, 0, 0);
    margin-bottom: 0.75em;
    hyphens : none !important;
    -webkit-hyphens : none !important;
    text-align: center !important;
  }
  h2 {
    font-weight : 600 !important; /* semi bold */
    font-size : 1.75em !important;
    line-height: 1.3 !important;
    color : @nu-purple !important; /* baxter purple */
    hyphens : none !important;
    -webkit-hyphens : none !important;
    text-align: left !important;
  }

  h3 {
    font-weight : 600 !important; /* semi bold */
    font-size : 1.5em !important;
    color : @bcse-black; /* black */
  }
  h3.subtitle {
    font-weight : 500 !important;
    text-transform: uppercase;
    color : @nu-purple !important; /* baxter purple */
  }
  h4 {
    font-weight : 400 !important; /* bold */
    font-size : 1.25em !important;
    color : @bcse-black; /* BLACK */
    hyphens : none !important;
    -webkit-hyphens : none !important;
  }

  label {
    font-weight: bold;
  }

  /*****************************
  * LINKS AND BUTTON
  ******************************/

  a {
    color: inherit;
    text-decoration: unset;
  }

  .btn {
    font-family: din-2014, sans-serif !important;
    font-weight: bold !important;
    font-size: 0.8em !important;
    color: #ffffff !important;
    text-transform: uppercase !important;
    width: auto !important;
    min-width: 8em !important;
    padding: 0.5em 1em !important;
    background-color: @baxter-kelly-green !important;
    border: 4px solid @baxter-light-teal !important;

    &.btn-danger {
      border: 4px solid @baxter-magenta !important;
      background-color: @bcse-error-red !important;
    }

    &.btn-small {
      font-size : 0.75em !important;
      min-width: 5em !important;
      border-width: 2px;
    }
  }
  .underline {
    text-decoration: underline;
  }
  /*****************************
  * TABS
  ******************************/
  ul {
    list-style-position: inside;
  }
  ul.nav-tabs {
    li.nav-item.right {
      margin-left: auto;
    }
  }

  .callout {
    font-size: 1.4em !important;
    line-height: 1.25 !important;
    hyphens: none !important;
    -webkit-hyphens: none !important;
    text-align: left;
    margin-top: 5px;
    color: #000000 !important;
  }


  /*****************************
  * DATE TIME PICKER
  ******************************/
  div.ui-datepicker.ui-widget {
    font-size: 1em !important;
  }
  div.ui-timepicker.ui-widget {
    font-size: 0.85em !important;
  }
  .datepicker {
    cursor: pointer;
    background-color: white !important;
  }

  /*****************************
  * IMAGE
  ******************************/
  img.icon {
    width: 6em !important;
    height: auto !important;
    min-width: unset !important;
  }
  i.profile {
    font-size: 5em;
  }
  img.curve {
    border-radius: 50%;
    width: 15em;
    height: 15em;
    min-width: 12em;
    -webkit-shape-outside: circle();
    shape-outside: circle();
    vertical-align: middle;
  }
  img.left {
    float: left;
    margin-right: 4em;
  }
  img.right {
    float: right;
    margin-left: 4em;
  }
  div.image_preview {
    margin-bottom: 0.5em;
  }
  div#spinner {
    display: none;
    text-align: center;
    img {
      width: 2em;
      height: 2em;
    }
  }

  /*****************************
  * ALIGNMENT
  ******************************/
  /* header alignment */
  .center {
    text-align: center !important;
  }
  .left {
    text-align: left !important;
  }
  .right {
    text-align: right !important;
  }

  /*****************************
  * FORM
  ******************************/
  form {
    .form-group {
      label {
        font-weight: bold;
        .required {
          color: red;
        }
      }
      .django-ckeditor-widget {
        width: 100%;
      }
    }
  }

  /*****************************
  * TILE
  ******************************/
  .tile {
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;

    & > * {
      padding: 1em;
    }
  }

 /*****************************
  * CONTENT
  ******************************/

  div.content {

    padding: 0 10% 40px;
    background: linear-gradient(@bcse-white 0%, @nu-mid-purple 100%) !important;

    &.admin {
      padding: unset !important;
    }

    div.container {
      background-color: white;
      padding-bottom: 4em;

      div.search_results {
        width: 100%;
        overflow-x: scroll;
      }
    }

    /*****************************
    * BUTTON ROW
    ******************************/
    div.button-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;
    }

    /*****************************
    * FILTERS
    ******************************/
    div#filter_toggle label {
      cursor: pointer;
    }
    div#filter_content {
      background-color: @nu-light-purple;
      padding: 1em;

      div#filter_fields {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        flex-wrap: wrap;

        div#filter_buttons {
          margin-top: auto;
        }
      }
    }

    /*****************************
    * PAGINATION
    ******************************/

    div.paginate {
      width: 100%;
      font-weight: 700;

      .counter {
        float: left;
      }
      .page-links {
        float: right;
      }
    }

   /*****************************
    * TESTIMONIAL
    ******************************/
    div.testimonials {
      display: flex;
      flex-direction: column;
      flex: 0 0 40%;
      justify-content: space-between;
      background-color: @nu-light-purple;
      border: 2px solid @bcse-gray;
      border-radius: 2em;
      padding: 1em 3em;

      div.testimonial {
        margin-bottom: 1em;
        font-size: 1.2em;
        line-height: 1.5em;
        font-style: italic;
        display: inline-block;
        position: relative;
        height: auto;
        text-align: left;
      }
    }

    /*****************************
    * RESERVATION
    ******************************/
    div#reservation_container {
      display: flex;
      justify-content: space-between;
      gap: 1em;

      /*****************************
      * RESERVATION FORM START
      ******************************/
      div.reservation_form {
        flex: 1 1 47%;
      }
      div.other_info {
        flex: 1 1 50%;

        div.activity, div.availability_calendar {
          overflow-y: scroll;
          border: 1px solid black;
          border-radius: 1em;
          padding: 1em;

        }
        div.activity_container {
          height: 40em;
          margin-bottom: 1em;
          div.activity {
            height: 40em;
            margin-bottom: 1em;

            img {
              max-width: 25em;
            }
            div.activity_info {
              div.activity_image {
                float: left;
                margin-right: 1em;
                margin-bottom: 1em;
                img {
                  max-width: 10em;
                }
              }
              div.activity_details {

              }
            }
          }
        }
        /*****************************
        * AVAILABILITY CALENDAR
        ******************************/
        div.availability_calendar {
          div.legends {
            display: flex;
            justify-content: center;
            gap: 2em;
            margin-bottom: 1em;

            div.legend {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 0.5em;

              div.color {
                width: 1.5em;
                height: 1.5em;
                border: 1px solid black;
              }

              &.selected div.color {
                background-color: #FFD452;
              }
              &.available div.color {
                background-color: #8BC53F;
              }
              &.unavailable div.color {
                background-color: #d8411d;
              }
            }
          }
          div.calendar {
            height: 30em;
            overflow-y: scroll;

            table.calendar {
              td {
                &.selected_date {
                  background-color: #FFD452;
                }

                div.available {
                  background-color:  #8BC53F;
                }
                div.unavailable {
                  background-color:  #d8411d;
                }
              }
            }
          }
        }
      }
      /*****************************
      * RESERVATION FORM END
      ******************************/

     /*****************************
      * RESERVATION CONFIRMATION START
      ******************************/
      div.reservation_contact_details {
        flex: 0 0 60%;
        border-right: 2px solid #cccccc;

        table th {
          width: 30%;
        }

        div.contact_details {
          div.header {
            display: flex;
            justify-content: space-between;
            gap: 1em;
          }
        }
      }
      div.reservation_messages {
        flex: 0 0 39%;
        display: flex;
        flex-direction: column;

        div.message_dialog {
          border: 1px solid #ccc;
          border-radius: 2px;
          padding: 1em;
          height: 30em;
          overflow-y: scroll;
          margin-bottom: 1em;

          .ck-editor__editable {
            max-height: 50px;
          }

          div.message_container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1em;

            div.author_image {
              flex: 1 1 5%;
              text-align: center;
              img.icon {
                width: 2em;
              }
              i.profile {
                font-size: 1.5em;
              }
            }
            div.message_content {
              flex: 0 0 90%;
              div.author_name_date {
                display: flex;
                justify-content: flex-start;
                gap: 1em;
                margin-bottom: 0.5em;

                div.author_name {
                  font-weight: bold;
                  line-height: 1em;
                }
                div.message_date {
                  color: #ccc;
                  line-height: 1em;
                }
              }
            }
          }
        }
        div.message_form {
          div.django-ckeditor-widget {
            div#cke_id_message {
              div.cke_inner {
                div#cke_1_contents {
                  height: 100px !important;
                }
              }
            }
          }
        }
      }
      /*****************************
      * RESERVATION CONFIRMATION END
      ******************************/
    }
    /*****************************
    * RESERVATION END
    ******************************/

    /*****************************
    * USER PROFILE START
    ******************************/
    div#user_profile_container {
      display: flex;
      justify-content: space-between;

      div.identity {
        flex: 0 0 20%;
        border-right: 1px solid gray;
        padding: 0 1em;
        text-align: center;
      }
      div.about {
        flex: 0 0 40%;
        border-right: 1px solid gray;
        padding: 0 1em;
        & > div {
          display: flex;
          justify-content: flex-start;

          & > label {
            flex: 0 0 40%;
          }
          & > div {
            flex: 0 0 60%;
          }
        }
      }
      div.work_place {
        flex: 0 0 40%;
        padding: 0 1em;
        & > div {
          display: flex;
          justify-content: flex-start;
          & > label {
            flex: 0 0 40%;
          }
          & > div {
            flex: 0 0 60%;
          }
        }
      }
    }
    /*****************************
    * USER PROFILE END
    ******************************/

    /*****************************
    * WORKSHOP START
    ******************************/

    /* WORKSHOP LIST */
    div.workshops_container {
      div.workshop_container {
        margin-bottom: 2em;
      }
    }

    /* SINGLE WORKSHOP */
    div.workshop_container {

      .tile.workshop_tile {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &.workshop_header {
          margin-bottom: 1em;
        }

        .image {
          flex: 0 0 25%;
          position: relative;

          img {
            width: 100%;
            height: auto;
          }
        }

        .details {
          flex: 0 0 50%;
        }
        .date_location {
          flex: 0 0 25%;
          border-left: 1px dashed @nu-light-purple;
          .fab, .far, .fas {
            font-size: 1.5em;
            color: @nu-purple;
            margin-right: 0.5em;
          }

          div.start, div.end, div.location, div.message {
            margin-bottom: 1em;
            font-weight: 600;
            font-size: 1.1em;
          }
          div.workshop_registration {
            margin-top: 2em;

            div.message {
              text-align: center;
            }
          }

        }
      }

      .workshop_content {
        margin-bottom: 1em;
      }

      div.teacher_leader_info {
        display: flex;
        justify-content: space-between;

        div.teacher_leader_image {
          flex: 0 0 15%;
          img {
            width: 100%;
            border-radius: 50%;
          }
        }
        div.teacher_leader_details {
          flex: 0 0 83%;
        }
      }
    }
    /*****************************
    * WORKSHOP END
    ******************************/

    /*****************************
    * ADMIN CONFIG START
    ******************************/
    div.admin_config_container {
      max-width: 100%;
      display: flex;
      justify-content: space-between;

      /*****************************
      * ADMIN LEFT NAV
      ******************************/
      div.left-navigation {
        font-weight: 700;
        flex: 0 0 15%;
        border-right: 1px solid black;
        padding-left: 1em;

        div.admin_menu {
          position: sticky;
          top: 120px;

          ul.collapse {
            margin-left: 1em;
            li {
              margin-bottom: 0.5em;
            }
          }

          li.active > a {
            text-decoration: underline;

          }
        }
      }
      /*****************************
      * ADMIN RIGHT CONTENT
      ******************************/
      div.right-content {
        flex: 0 0 85%;
        padding-left: 1em;
        width: 80%;
      }
    }
    /*****************************
    * ADMIN CONFIG EMD
    ******************************/

    /*****************************
    * BAXTER BOX START
    ******************************/
    div.baxter_box_info {

      div.tiles {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3em;

        div.tile {
          flex: 0 0 20%;
          width: 15em;
          height: 15em;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          div.image {
            text-align: center;
            img.preview {
              width: 10em;
              height: auto;
            }
            overflow-y: hidden;
          }
        }
      }
    }

    /*****************************
    * BAXTER BOX END
    ******************************/



    ul.dropdown-menu {
      li {
        a.dropdown-item {
          cursor: pointer;
        }
      }
    }
    a[data-bs-toggle="collapse"][aria-expanded='true']::after {
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }
    a[data-bs-toggle="collapse"][aria-expanded='false']::after {
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      transform: rotate(-90deg);
    }

  }

  @media only screen and (max-width: 767px) {
    .tile {
      display: block;
    }
  }

}
