


body {
  font-family : din-2014, sans-serif !important;

  /* ----------- smartphone ----------- */
    /* Portrait and Landscape */
    @media only screen and (min-width: 320px) and (max-width: 667px) {
      font-size: 10px !important;
    }
    @media only screen and (min-width: 668px) and (max-width: 767px) {
      font-size: 11px !important;
    }
    /* ----------- tablet ----------- */
    /* Portrait and Landscape */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 12px !important;

    }

    @media only screen and (min-width: 1025px) and (max-width: 1199px) {
      font-size: 13px !important;

    }
    /* ----------- laptop and desktop ----------- */
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      font-size: 14px !important;

    }
    @media screen and (min-width: 1601px) and (max-width: 1919px) {
      font-size: 15px !important;

    }

    /* ----------- larger screens ----------- */
    @media screen and (min-width: 1920px) {
      font-size: 16px !important;
    }
  /*****************************
  * HEADER TEXT
  ******************************/
  h1 {
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
    font-size: 2.5em;
    color : rgb(0, 0, 0);
    margin-bottom: 0.75em;
    hyphens : none !important;
    -webkit-hyphens : none !important;
    text-align: center !important;
  }
  h2 {
    font-weight : 600 !important; /* semi bold */
    font-size : 1.75em !important;
    line-height: 1.3 !important;
    color : @nu-purple !important; /* baxter purple */
    hyphens : none !important;
    -webkit-hyphens : none !important;
    text-align: left !important;
  }

  h3 {
    font-weight : 600 !important; /* semi bold */
    font-size : 1.5em !important;
    color : @bcse-black; /* black */
  }
  h3.subtitle {
    font-weight : 500 !important;
    color : @nu-purple !important; /* baxter purple */
  }
  h4 {
    font-weight : 400 !important; /* bold */
    font-size : 1.25em !important;
    color : @bcse-black; /* BLACK */
    hyphens : none !important;
    -webkit-hyphens : none !important;
  }

  label {
    font-weight: bold;
  }
  .purple {
    color : @nu-purple !important;
  }
  .required {
    color: red;
  }

  /*****************************
  * LINKS AND BUTTON
  ******************************/

  a {
    color: inherit;
    text-decoration: unset;
  }

  .btn {
    font-family: din-2014, sans-serif !important;
    font-weight: bold !important;
    font-size: 0.8em !important;
    color: #ffffff !important;
    text-transform: uppercase !important;
    width: auto !important;
    min-width: 8em !important;
    padding: 0.5em 1em !important;
    background-color: @baxter-kelly-green !important;
    border: 4px solid @baxter-light-teal !important;

    &.btn-danger {
      border: 4px solid @baxter-magenta !important;
      background-color: @bcse-error-red !important;
    }

    &.btn-small {
      font-size : 0.75rem !important;
      min-width: 5rem !important;
      border-width: 2px;
    }
  }
  .underline {
    text-decoration: underline;
  }

  .wysiwyg_content {
    a {
      color: #0d6efd;
      text-decoration: underline;
    }
  }
  .form-check-input {
    width: 1.5em !important;
    height: 1.5em !important;
    margin-right: 0.5em;
    margin-top: unset;
  }
  input.readonly {
    pointer-events: none;
    filter: none;
    opacity: .5;
  }

  /*****************************
  * TABS
  ******************************/
  ul {
    list-style-position: inside;
  }
  ul.nav-tabs {
    gap: 0.25em;

    li.nav-item.right {
      margin-left: auto;
    }

    .nav-link {
      color: white;
      background-color: @nu-mid-purple;
      border-color: #dee2e6 #dee2e6 #fff;
      cursor: pointer;
    }
    .nav-link {
      border-bottom: 0px;
    }
    .nav-link.active {
      border-top: 3px solid @nu-mid-purple;
    }
  }

  .callout {
    font-size: 1.4em !important;
    hyphens: none !important;
    -webkit-hyphens: none !important;
    text-align: left;
    margin-top: 5px;
    color: #000000 !important;
  }


  /*****************************
  * DATE TIME PICKER
  ******************************/
  div.ui-datepicker.ui-widget {
    font-size: 1em !important;
    z-index: 9999 !important;
  }
  div.ui-timepicker-container {
    z-index: 9999 !important;
  }
  div.ui-timepicker.ui-widget {
    font-size: 0.85em !important;
  }
  .datepicker {
    cursor: pointer;
    background-color: white !important;
  }

  /*****************************
  * IMAGE
  ******************************/
  img {
    max-width: 100%;
    height: auto;
  }
  img.icon {
    width: 6em !important;
    height: auto !important;
    min-width: unset !important;
  }
  i.profile {
    font-size: 5em;
  }
  img.curve {
    border-radius: 50%;
    width: @min-width;
    height: @min-height;
    min-width: 12em;
    -webkit-shape-outside: circle();
    shape-outside: circle();
    vertical-align: middle;
  }
  img.left {
    float: left;
    margin-right: 4em;
  }
  img.right {
    float: right;
    margin-left: 4em;
  }
  div.image_preview {
    margin-bottom: 0.5em;
  }
  div#spinner {
    display: none;
    text-align: center;
    img {
      width: 2em;
      height: 2em;
    }
  }
  img.site_bug {
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    width: 80px !important;
    left: unset !important;
    opacity: 1 !important;
  }

  /*****************************
  * ALIGNMENT
  ******************************/
  /* header alignment */
  .center {
    text-align: center !important;
  }
  .left {
    text-align: left !important;
  }
  .right {
    text-align: right !important;
  }

  /*****************************
  * FORM
  ******************************/
  form {
    .form-group {
      label {
        font-weight: bold;
      }
      .django-ckeditor-widget {
        width: 100%;
      }
      span.select2-selection {
        height: auto !important;
        padding: 5px;
      }

      .password {
        -webkit-text-security: disc;
      }
    }
  }
  /*****************************
  /* AUTOCOMPLETE FIELD
  /*****************************/
  .select2-container {
    width: auto !important;
    display: block !important;
  }
  .select2-selection {
    height: 2.25em !important;
  }
  /*.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: unset !important;
  }*/
  .select2-dropdown {
    z-index: 9999 !important;
  }
  .select2-container--default .select2-search__field, .select2-container--default .select2-selection__choice {
    margin-top: 0 !important;
  }

  /*****************************
  * TILE
  ******************************/
  .tile {
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;

    & > * {
      padding: 1em;
    }
  }

  /*****************************
  * PROGRESS BAR
  ******************************/
  .progress-wrapper {
    width: 100%;
    display: flex !important;
    justify-content: center;
    height: 2em;
    .progress-point {
      background-color:#E6E6E6;
      float:left;
      height:2em;
      width:2em;
      border:2px solid #F7F7F7;
      border-radius: 50%;
      box-shadow:0 1px 1px #E0E0E0;
      color: white;
      text-align: center;

      &.done {
        background-color: @bcse-success-green;
      }
      &.notdone {
        background-color: @bcse-gray;
      }
      &.current {
        background-color: @baxter-yellow;
      }
    }
    .progress-waypoint {
      float:left;
      width: 3em;
      height: 1em;
      background-color:#FFFFFF;
      position:relative;
      border-bottom:2px solid #E0E0E0;
    }
  }

  /**** OUTREACH BUBBLE ****/
  /****  LANDING PAGE AND ABOUT US PAGE ****/
  div.outreach {
    position: relative;
    width: 50em;
    max-width: 100%;
    height: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;

    div.circle{
      border-radius: 50%;
      display: table;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;

      div.figure {
        display: table-cell;
        vertical-align: middle;
        font-family : din-2014, sans-serif !important;
        text-align: center;
      }

      div.count {
        font-weight: 700;
        font-size: 3.5em;
        z-index: 5;
      }
      div.text {
        margin-left: auto;
        margin-right: auto;
        z-index: 5;
        max-width: 75%;
      }
      div.since{
        font-weight: 700;
        margin-right: 5em;
        margin-bottom: 1em;
        text-align: right;
        z-index: 5;
      }

      &#total_teachers {
        background-color: rgba(53, 175, 200, 0.7);
        width: 13em;
        height: 13em;
        z-index: 3;
        top: 3%;
        left: 13%;
      }

      &#baxter_boxes {
        background-color: rgba(115, 219, 211, 0.7);
        width: 12em;
        height: 12em;
        top: 9%;
        right: 8%;
        z-index: 1;
      }

      &#youtube_views {
        background-color: rgba(172, 213, 140, 0.7);
        width: 14em;
        height: 14em;
        bottom: 22%;
        left: 10%;
        z-index: 3;
      }

      &#total_students {
        background-color: rgba(225, 235, 127, 0.7);
        width: 23em;
        height: 23em;
        top: 15%;
        left: 0;
        right: 0;
        z-index: 2;
      }

      &#total_schools {
        background-color: rgba(94, 171, 172, 0.7);
        width: 10em;
        height: 10em;
        bottom: 5%;
        left: 0;
        right: 0;
        z-index: 3;
      }

      &#total_workshops {
        background-color: rgba(124, 194, 102, 0.7);
        width: 10em;
        height: 10em;
        top: 53%;
        right: 15%;
        z-index: 1;
      }
    }
  }
  /**** OUTREACH BUBBLE END ****/

 /*****************************
  * CONTENT
  ******************************/

  div.content {

    padding: 0 10% 40px;
    @media only screen and (max-width: 1199px) {
      padding-left: 5%;
      padding-right: 5%;
    }
    background: linear-gradient(@bcse-white 0%, @nu-mid-purple 100%) !important;

    &#home {
      background: unset !important;
      padding: 0 !important;

      & > div {
        padding: 0 15% 40px;

        @media only screen and (max-width: 1199px) {
          padding-left: 5%;
          padding-right: 5%;
        }
        @media only screen and (min-width: 1200px) and (max-width: 1600px) {
          padding-left: 10%;
          padding-right: 10%;
        }
      }

      & > div.homepage_block {
        padding-top: 5em;
        padding-bottom: 5em;

        div.homepage_block_content {
            min-height: @min-height;
          }

        div#map_instagram {
          display: flex;
          justify-content: space-between;
          align-items: stretch;

          & > div {
            text-align: center;
          }

          @media only screen and (max-width: 1024px) {
            display: block;
          }

          div#map {
            flex: 0 0 60% !important;
          }
          div#instagram {
            flex: 0 0 36% !important;
            @media only screen and (min-width: 1025px) {
              max-width: 36%;
            }
            @media only screen and (max-width: 1024px) {
              margin-top: 2em;
            }

          }

          iframe, figure {
            height: 35em !important;
          }
          @media only screen and (max-width: 1024px) {
            iframe {
              height: 560px !important;
            }
          }
        }
        div#outreach_testimonials {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          flex-wrap: wrap;
          padding-left: unset;
          padding-right: unset;
          margin-left: unset;
          margin-right: unset;

          & > div {
            text-align: center;
          }

          @media only screen and (max-width: 1024px) {
            display: block;
          }

          div.outreach {
            flex: 0 0 55%;
          }
          div#testimonials {
            display: flex;
            flex-direction: column;
            flex: 0 0 35%;
            justify-content: space-between;
            background-color: #E4E0EE;
            border: 2px solid #767676;
            border-radius: 2em;
            padding: 1em 3em;
          }
        }

        div#team_members, div#teacher_leaders {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          cursor: pointer;

          div.team, div.teacher_leader {
            width: 22em;
            height: 22em;
            text-align: center;

            img.circle.staff {
              border-radius: 50%;
              width: 10em;
              height: 10em;
              max-width: 100%;
            }
          }
        }
      }

      & > div.homepage_block:nth-child(even) {
        background-color: @nu-light-purple;

        img.curve {
          float: left;
          margin-right: 4em;
        }
      }

      & > div.homepage_block:nth-child(odd) {

        img.curve {
          float: right;
          margin-left: 4em;
        }
      }
    }

    &.admin {
      padding: unset !important;

      div.right-content {
        overflow-x: scroll;
      }
    }

    div.container {
      background-color: white;
      padding-bottom: 4em;

    }
    &:not(.admin) div.container {
      overflow-x: scroll;
    }

    /*****************************
    * BUTTON ROW
    ******************************/
    div.button-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;
    }

    /*****************************
    * FILTERS
    ******************************/
    div#filter_toggle label {
      cursor: pointer;
    }
    div#filter_content {
      background-color: @nu-light-purple;
      padding: 1em;

      div#filter_fields, div.filter_fields {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        div#filter_buttons {
          margin-top: auto;
        }

        .form-group {
          margin-bottom: 0.5em;
        }
      }
      div.filter_fields {
        flex-direction: column;
      }
    }

    div.search_results:not(.list) {
      width: 100%;
      overflow-x: scroll;
      max-height: 1000px;
      background-color: white;

      th {
        position: sticky;
        top: 0;
        background-color: #767676 !important;
        z-index: 99;
      }
      &.static {
        th {
          position: sticky;
          top: 0 !important;
          background-color: #767676 !important;
          z-index: 99;
        }
      }

    }

    #slides {

      ul.slick-dots {
        margin: unset !important;
      }
      button.slick-prev, button.slick-next {
        display: none !important;
      }
      div.banner {
        width: 100%;
        max-height: 600px !important;
        text-align: center;
        height: 40vw;

        /*#banner_1, #banner_2, #banner_3, #banner_4, #banner_5 {
          width: 100%;
          height: 100%;
          background-position: center top;
          background-repeat: no-repeat;
          background-size: 100% auto;
        }*/

        div.banner_text {
          color: @nu-purple;
          font-size: 5vw;
          font-family: din-2014, sans-serif;
          font-style: normal;
          font-weight: 800;
          line-height: 1em;
          width: 100%;
          height: 100%;
          position: relative;
          img {
            width: 100%;
            overflow-y: hidden;
            opacity: 0.5;
          }
          div.text {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            width: 100%;
          }
          div.logo {
            position: absolute;
            top: 5%;
            left: 0;
            right: 0;
            width: 100%;

            img {
              opacity: 1 !important;
              width: 80%;
              margin-left: auto;
              margin-right: auto;
            }
          }
          &.video {
            background-color: @bcse-black;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
            padding-bottom: 41.8%;
            height: 0;

            iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
          &.play {
            cursor: pointer;
          }
        }
      }

      .action {
        position: absolute;
        top: 4em;
        right: 1.5em;
        z-index: 11;

        .action_item {
          border: 1px solid@bcse-black;
          border-radius: 1em;
          background: rgba(255,255,255, 0.7);
          color: @bcse-black;
          padding: 0.25em 0.75em;
          font-size: 1.6em;
          font-weight: 700;

          img {
            vertical-align: middle;
            height: 2.5em;
            width: 2.5em;
          }
        }
      }
    }

    /*****************************
    * PAGINATION
    ******************************/

    div.paginate {
      width: 100% !important;
      font-weight: 700;
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      z-index: 9;

      &.top {
        position: sticky;
        top: 0;
        background-color:  white;
      }

      .counter {

      }
      .page-links {
        display: flex;
        justify-content: space-between;
        gap: 1em;

        .current {
          display: flex;
          justify-content: space-between;
          gap: 0.5em;
          align-items: center;

          & > * {
            white-space:nowrap;
          }
        }
      }
    }

   /*****************************
    * TESTIMONIAL
    ******************************/
    div.testimonials {
      display: flex;
      flex-direction: column;
      flex: 0 0 40%;
      justify-content: space-between;
      background-color: @nu-light-purple;
      border: 2px solid @bcse-gray;
      border-radius: 2em;
      padding: 1em 3em;

      div.testimonial {
        margin-bottom: 1em;
        font-size: 1.2em;
        line-height: 1.5em;
        font-style: italic;
        display: inline-block;
        position: relative;
        height: auto;
        text-align: left;
      }
    }

    /*****************************
    * RESERVATION
    ******************************/
    div#reservation_container {
      display: flex;
      justify-content: space-between;
      gap: 1em;

      @media only screen and (max-width: 1024px) {
        display: block;
      }

      .fa-calendar-circle-exclamation {
        color: red;
      }
      /*****************************
      * RESERVATION FORM START
      ******************************/
      div.reservation_form {
        flex: 1 1 47%;

        div.equipment_info, div.reservation_rules {
          background-color: #fafad2;
          padding: 1em;
        }
        div#id_equipment_types {
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          padding: 0.375rem 0.75rem;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          max-height: 27em;
          gap: 0.5em;

          & > div {
            width: 50%;
            label {
              input {
                margin-right: 0.25em;
              }
            }
          }
        }
      }
      div.other_info {
        flex: 1 1 50%;

        div.activity, div.availability_calendar {
          overflow-y: scroll;
          border: 1px solid black;
          border-radius: 1em;
          padding: 1em;

        }
        div.activity_container {
          height: 40em;
          margin-bottom: 1em;
          div.activity {
            height: 40em;
            margin-bottom: 1em;

            img {
              max-width: 25em;
            }
          }
        }
      }
      /*****************************
      * RESERVATION FORM END
      ******************************/

     /*****************************
      * RESERVATION CONFIRMATION START
      ******************************/
      div.reservation_contact_details {
        flex: 0 0 60%;
        border-right: 2px solid #cccccc;

        table th {
          width: 30%;
        }

        div.contact_details {
          div.header {
            display: flex;
            justify-content: space-between;
            gap: 1em;
          }
        }
      }
      div.reservation_messages {
        flex: 0 0 39%;
        display: flex;
        flex-direction: column;

        div.message_dialog {
          border: 1px solid #ccc;
          border-radius: 2px;
          padding: 1em;
          height: 30em;
          overflow-y: scroll;
          margin-bottom: 1em;

          .ck-editor__editable {
            max-height: 50px;
          }

          div.message_container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1em;

            div.author_image {
              flex: 1 1 5%;
              text-align: center;
              img.icon {
                width: 2em;
              }
              i.profile {
                font-size: 1.5em;
              }
            }
            div.message_content {
              flex: 0 0 90%;
              div.author_name_date {
                display: flex;
                justify-content: flex-start;
                gap: 1em;
                margin-bottom: 0.5em;

                div.author_name {
                  font-weight: bold;
                  line-height: 1em;
                }
                div.message_date {
                  color: #ccc;
                  line-height: 1em;
                }
              }
            }
          }
        }
        div.message_form {
          div.django-ckeditor-widget {
            div#cke_id_message {
              div.cke_inner {
                div#cke_1_contents {
                  height: 100px !important;
                }
              }
            }
          }
        }
      }
      /*****************************
      * RESERVATION CONFIRMATION END
      ******************************/
      /*****************************
      * RESERVATION DETAILS START
      ******************************/
      .reservation_details {
        table {
          .delivery_address, .reservation_email {
            display: flex;
            justify-content: space-between;
          }
          a {
            color: #0d6efd;
            text-decoration: underline;
          }
        }
      }
      /*****************************
      * RESERVATION DETAILS END
      ******************************/
    }
    /*****************************
    * RESERVATION END
    ******************************/

    /*****************************
    * AVAILABILITY CALENDAR
    ******************************/
    div.availability_calendar {
      div.legends {
        display: flex;
        justify-content: center;
        gap: 2em;
        margin-bottom: 1em;

        div.legend {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.5em;

          div.color {
            width: 1.5em;
            height: 1.5em;
            border: 1px solid black;
          }

          &.selected div.color {
            background-color: #FFD452;
          }
          &.available div.color {
            background-color: #8BC53F;
          }
          &.unavailable div.color {
            background-color: #d8411d;
          }
        }
      }
      div.calendar {
        height: 30em;
        overflow-y: scroll;
      }
      div.admin_calendar {
        table.calendar {
          td {
            div.date {
              display: flex;
              justify-content: space-between;
              background-color: @bcse-gray;
              color: white;
              padding: 0 0.5em;
            }
          }
        }
      }

      div.calendar, div.admin_calendar {
        table.calendar {
          td {
            &.selected_date {
              background-color: #FFD452;
            }
            /*&.out_of_range {
              background-color: @bcse-mid-gray;
            }*/

            div.available {
              background-color:  #8BC53F;

            }
            div.unavailable {
              background-color:  #d8411d;
            }
            div.available, div.unavailable {
              border: 1px solid @bcse-gray;
              padding: 0.25em;
            }
            div.date {
              font-weight: bold;
            }
            div.availability_row {
              border: 1px solid @bcse-gray;
              padding: 0.25em;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              gap: 0.5em;

              &.all_available {
                background-color: #8BC53F;
              }
              &.all_checked_out {
                background-color: #d8411d;
              }
              &.mixed_availability {
                background-color: #FFD452;
              }
              .availability {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 0.5em;
              }
              ul {
                margin-bottom: 0 !important;
              }
              .fa-calendar-circle-exclamation {
                float: right;
              }
            }
          }
          .prev_month, .next_month {
            font-size: 1.5em;
            cursor: pointer;
          }
          .prev_month {
            float: left;

          }
          .next_month {
            float: right;
          }
        }
      }
    }
    /*****************************
    * USER PROFILE START
    ******************************/
    div#user_profile_container {
      display: flex;
      justify-content: space-between;

      div.identity {
        flex: 0 0 20%;
        border-right: 1px solid gray;
        padding: 0 1em;
        text-align: center;
      }
      div.about {
        flex: 0 0 40%;
        border-right: 1px solid gray;
        padding: 0 1em;
        & > div {
          display: flex;
          justify-content: flex-start;

          & > label {
            flex: 0 0 40%;
          }
          & > div {
            flex: 0 0 60%;
          }
        }
      }
      div.work_place {
        flex: 0 0 40%;
        padding: 0 1em;
        & > div {
          display: flex;
          justify-content: flex-start;
          & > label {
            flex: 0 0 40%;
          }
          & > div {
            flex: 0 0 60%;
          }
        }
      }
    }
    /*****************************
    * USER PROFILE END
    ******************************/

    /*****************************
    * WORKSHOP START
    ******************************/

    /* WORKSHOP LIST */
    div.workshops_container {
      div.workshop_container {
        margin-bottom: 2em;
      }
    }

    /* SINGLE WORKSHOP */
    div.workshop_container {

      .tile.workshop_tile {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &.workshop_header {
          margin-bottom: 1em;
        }
        .shelf {
          width: 0px;
          height: 0px;
          border-top: 5.5em solid white;
          border-right: 5.5em solid transparent;
          position: absolute;
          top: 10px;
          left: 5px;
        }
        .featured {
          position: absolute;
          top: 20px;
          left: 20px;
          font-size:1.5em;
          z-index: 99;
          text-decoration: none;
          color: @nu-purple;
        }

        .image {
          flex: 0 0 25%;
          position: relative;

          img {
            width: 100%;
            height: auto;
          }
        }

        .details {
          flex: 0 0 45%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .tags {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 0.5em;
            bottom: 2em;


            & > div {
              background-color: @nu-mid-purple;
              color: white;
              padding: 0.2em 0.5em;
              border-radius: 0.5em;
            }
          }
        }
        .date_location {
          flex: 0 0 30%;
          border-left: 1px dashed @nu-light-purple;
          .fab, .far, .fas {
            font-size: 1.5em;
            color: @nu-purple;
            margin-right: 0.5em;
          }

          div.date, div.location, div.message {
            margin-bottom: 1em;
            font-weight: 600;
            font-size: 1.1em;
          }
          div.date, div.location {
            display: flex;
          }
          div.workshop_registration {
            margin-top: 2em;

            div.message {
              text-align: center;
            }
          }

        }

        @media only screen and (max-width: 767px) {
          display: block;

          .image {
            flex: unset;
          }
          .details {
            flex: unset;
          }
          .date_location {
            flex: unset;
          }

        }
      }

      .workshop_content {
        margin-bottom: 1em;
      }

      div.teacher_leader_info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;

        div.teacher_leader_image {
          flex: 0 0 15%;
          img {
            width: 100%;
          }
        }
        div.teacher_leader_details {
          flex: 0 0 83%;
        }
      }
    }
    /*****************************
    * WORKSHOP END
    ******************************/

    /*****************************
    * ADMIN CONFIG START
    ******************************/
    div.admin_config_container {
      max-width: 100%;
      display: flex;
      justify-content: space-between;

      /*****************************
      * ADMIN LEFT NAV
      ******************************/
      div.left-navigation {
        font-weight: 700;
        flex: 0 0 15%;
        border-right: 1px solid black;
        padding-left: 1em;

        div.admin_menu {
          position: sticky;
          top: 120px;

          ul.collapse {
            margin-left: 1em;
            li {
              margin-bottom: 0.5em;
            }
          }

          li.active > a {
            text-decoration: underline;

          }
        }
      }
      /*****************************
      * ADMIN RIGHT CONTENT
      ******************************/
      div.right-content {
        flex: 0 0 85%;
        padding-left: 1em;
        width: 80%;
      }
    }
    /*****************************
    * ADMIN CONFIG EMD
    ******************************/

    /*****************************
    * BAXTER BOX AND VIGNETTE START
    ******************************/
    div.baxter_box_info, div.vignettes {

      div.tiles {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3em;

        div.tile {
          flex: 0 0 20%;
          width: 15em;
          height: 15em;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;

          div.image {
            text-align: center;
            img.preview {
              width: 10em;
              height: auto;
            }
            overflow-y: hidden;
          }
          div.title {
            h5 {
              font-size: 1.15em;
            }
          }
          &.low_stock {
            border: 1px solid @baxter-orange;
          }
        }
      }
    }
    div.baxter_box_info {
      a:not(.nav-link):not(.question) {
        color: #0d6efd;
        text-decoration: underline;
      }
    }

    /*****************************
    * BAXTER BOX END
    ******************************/

    /*****************************
    * TEACHER OPPORTUNITY
    ******************************/
    div.teacher_opportunity {
      a {
        color: #0d6efd;
        text-decoration: underline;
      }
    }
    /*****************************
    * TEACHER OPPORTUNITY END
    ******************************/

    ul.dropdown-menu {
      li {
        a.dropdown-item {
          cursor: pointer;
        }
      }
    }
    a[data-bs-toggle="collapse"][aria-expanded='true']::after {
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }
    a[data-bs-toggle="collapse"][aria-expanded='false']::after {
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      transform: rotate(-90deg);
    }


    /************************
     * ABOUT US START
     * ***********************/
    div.about_us {
      .picture {
        text-align: center;
        img.circle {
          border-radius: 50%;
          margin-top: 0;
          -webkit-shape-outside: unset;
          shape-outside: unset;
          width: 12em;
          max-width: 100%;
          height: 12em;
        }
        @media (max-width: 991px) {
          img.circle {
            margin-bottom: 2em;
          }
        }
      }

      a {
        color: #0d6efd;
        text-decoration: underline;
      }

      div.about {
        margin-bottom: 6em;

        h2 {
          margin-top: 1em;
        }
        img.full {
          width:57em;
        }
        img.center {
          margin-left: auto;
          margin-right: auto;
          display: block;
        }

        div.comment {
          background-color: @bcse-mid-gray;
          padding: 1em;
          border-radius: 2em;

          p.comment {
            quotes: "\201C""\201D""\2018""\2019";
            font-style: italic;
            margin: 1em 0;
            font-size: 1.4em !important;

            &:before{
              content: open-quote;
            }
            &:after{
              content: close-quote;
            }
          }
        }
        div.videos {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: stretch;

          div.video_container {
            flex: 0 0 30%;
          }
        }
        div.video {
          background-color: @bcse-black;
          padding-bottom: 45%;
          height: 0;
          position: relative;
          margin-bottom: 1em;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
        div.video_caption {
          max-width: 50em;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 2em;
        }
        div.video_credits {
          font-weight: bold;
          display: flex;
          align-items: center;
          flex-direction: column;
          img {
            width: 7em;
          }

        }

        .row.logos {
          display: flex;
          justify-content: space-between;
          flex-flow: wrap;
          align-items: center;

          .logo {
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            float: none;
            flex: 1 1 30%;

            &.nologo {
              flex: 0 0 70%;
              text-align: right;
              & > div {
                padding-right: 2em;
              }
            }

            img {
              width: 100%;
              max-width: 20em;
              height: auto;
              padding-left: 2em;
              padding-right: 2em;
            }
          }
        }
      }
      div.team {
        margin: 3em 0;
        div.member {
          margin: 4em 0;
          div.intro {
            margin-bottom: 1em;
            div.title {
              font-size: 1.3em;
              font-weight: bold;
              font-family : din-2014, sans-serif !important;
              color: @nu-purple;
            }
            div.subtitle {
              font-size: 1em;
              font-weight: bold;
              font-family : din-2014, sans-serif !important;
              color: @nu-purple;
            }
            h2 {
              text-align: inherit !important;
            }
          }
          @media (max-width: 991px) {
            div.intro {
              text-align: center !important;
            }
          }
        }
      }
      div.partners {
        margin: 3em 0;
        div.partner {
          margin-top: 1em;
          margin-bottom: 2.5em;
          display: flex;
          align-items: center;
          text-align: center;
          img {
            max-height: 15em;
          }
        }
        @media (max-width: 991px) {
          div.partner {
            display: block;
            img {
              max-width: 30em;
              margin-bottom: 3em;
            }
          }
        }
      }

      div.collaborators, div.alumni {
        margin: 3em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 4em;
        div.collaborator, div.alumnus {
          flex: 0 0 20%;
          text-align: center;
          img {
            max-height: 15em;
          }
        }
      }
      div.alumni {
        align-items: stretch;
      }

      div.baxter_centers {
        div.baxter_center {
          margin-top: 1em;
          margin-bottom: 2.5em;
        }
      }
      /***** CASE STUDY START ***********/
      div.case_study {
        img.case_study_preview {
          width: 10em !important;
          height: auto;
        }
      }
      /***** CASE STUDY END ***********/

      /***** CONTACT US START ***********/
      div.contact {
        div#icons_container {
          margin-top: 5em;
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          text-align: center;
          flex-wrap: wrap;


          .icon {
            display: flex;
            flex-direction: column;
            gap: 1em;

            a {
              text-decoration: none;

              h4 {
                margin-top: 1em;
                font-weight: bold !important;
                font-size: 1.2em !important;
              }
            }
          }
          h4, p, i {
            color: @nu-purple !important;
          }
        }
      }
      /***** CONTACT US START ***********/

    }
    /****** ABOUT US END ******/

  }
  /*******************************
   * CONTENT END
   ********************************/

  @media only screen and (max-width: 767px) {
    .tile {
      display: block;
    }
  }

}
