

.navbar {
  a.navbar-brand {
    background: url(/static/img/BCSEEvergreen2019.png) center / contain no-repeat;
    width: 250px;
    height: 50px;
  }
 .navbar-nav {
    gap: 1em;

    li a {
      font-weight : bold !important;
      color : @baxter-gray !important;
      font-size: 1em !important;
      letter-spacing: 0.5px;
      padding: 0.5em 1em;
      text-transform: uppercase;
    }
    li.active > a {
      border-bottom: 3px solid @nu-purple;
    }
  }
}

.anniversary_banner {
  background-color: @nu-purple;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  font-weight: 500;
}
