
.modal-open {
  cursor: pointer;
}

a.signup {
  text-decoration: underline;
  cursor: pointer;
}

div#kit.modal {
  div.kit_info {
    max-height: 40em;
    overflow-y: scroll;
    div.kit_image {
      float: left;
      margin-right: 1em;
      margin-bottom: 1em;
      img {
        max-width: 10em;
      }
    }
  }
}

.modal-footer.button-row {
  display: block;

  .back {
    float: left;
  }
  .next {
    float: right;
  }
}

.modal-body {
  a {
      color: #0d6efd;
      text-decoration: underline;
      cursor: pointer;
    }
    a[data-bs-toggle="collapse"] {
      text-decoration: unset;
    }
  a[data-bs-toggle="collapse"][aria-expanded='true']::after {
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }
    a[data-bs-toggle="collapse"][aria-expanded='false']::after {
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      transform: rotate(-90deg);
    }


  .survey_component {
    .question_label {
      font-weight: bold;
    }
    .response input.other {
      margin-top: 0.5em !important;
    }
  }
  img.circle {
    border-radius: 50%;
    margin-top: 0;
    -webkit-shape-outside: unset;
    shape-outside: unset;
  }

  #work_place_form {
    padding: 0.5em 1em;
    background-color: @bcse-light-gray;

  }

  .scheduled_date {
    padding-bottom: 60px;
  }

  /* alert dialog */
  .bootbox-body {
    font-size: 1rem;
  }

  .breakout_description {
    display: flow-root;
  }
  .teacher_leader_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    .teacher_leader_image {
      flex: 0 0 15%;
      img {
        width: 100%;
      }
    }
    .teacher_leader_details {
      flex: 0 0 83%;
    }
  }

  .date_location {
    flex: 0 0 30%;
    .far, .fas {
      font-size: 1.5em;
      color: #4e2a84;
      margin-right: 0.5em;
    }

    div.location {
      margin-bottom: 1em;
      font-weight: 600;
      font-size: 1.1em;
      display: flex;
      p {
        margin: 0;
      }
    }
  }

}

.modal-static .modal-dialog {
    transform: none !important;
}

.modal.modal-static {
    overflow-y: auto !important;
}
