
.modal-open {
  cursor: pointer;
}

a.signup {
  text-decoration: underline;
  cursor: pointer;
}

div#kit.modal {
  div.kit_info {
    max-height: 40em;
    overflow-y: scroll;
    div.kit_image {
      float: left;
      margin-right: 1em;
      margin-bottom: 1em;
      img {
        max-width: 10em;
      }
    }
  }
}

.modal-footer.button-row {
  display: block;

  .back {
    float: left;
  }
  .next {
    float: right;
  }
}

.modal-body {
  a {
      color: #0d6efd;
      text-decoration: underline;
    }


  .survey_component {
    .question_label {
      font-weight: bold;
    }
    .response input.other {
      margin-top: 0.5em !important;
    }
  }
  img.circle {
    border-radius: 50%;
    margin-top: 0;
    -webkit-shape-outside: unset;
    shape-outside: unset;
  }

  #work_place_form.userProfile, #work_place_form.signUp {
    padding: 0.5em 1em;
    background-color: @bcse-light-gray;

  }

  .scheduled_date {
    padding-bottom: 60px;
  }

}
