
.modal-open {
  cursor: pointer;
}

a.signup {
  text-decoration: underline;
  cursor: pointer;
}

div#kit.modal {
  div.kit_info {
    max-height: 40em;
    overflow-y: scroll;
    div.kit_image {
      float: left;
      margin-right: 1em;
      margin-bottom: 1em;
      img {
        max-width: 10em;
      }
    }
  }
}

.modal-footer.button-row {
  display: block;

  .back {
    float: left;
  }
  .next {
    float: right;
  }
}

.modal-body {
  a {
      color: #0d6efd;
      text-decoration: underline;
    }
}
