table {
  border-collapse: separate;
  border-spacing: 0;

  thead {
    background-color: @bcse-gray;
    color: white;
  }

  &.table-bordered {
    border-collapse: collapse;
  }

  &.calendar {
    th.month, th.sun, th.mon, th.tue, th.wed, th.thu, th.fri, th.sat {
      text-align: center;
      background-color: @bcse-gray;
      color: white;
    }
    td {
      background-color: @bcse-light-gray;
    }
  }
  &#baxter_box_reservations {
    td.kit a, td.equipment a {
      color: #0d6efd;
      text-decoration: underline;
    }
    .fa-calendar-circle-exclamation {
      color: red;
    }
  }

  ul {
    list-style-position: unset;
  }
  tr.needs_attention {
    background-color: @bcse-light-yellow;
  }

  td div.color {
    width: 2em;
    height: 2em;
  }
  a {
    color: #0d6efd;
    text-decoration: underline;
  }

  th {
    position: relative; /* Allow positioning of the icon within the header */
    vertical-align: middle;
  }
  th i {
    color: @baxter-yellow;
  }

}
