{% load i18n %}

<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">Password Reset</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="passwordMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>
    {% if validlink %}
        <form class="form" method="post" id="password-reset-confirm" action="{{request.path}}">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
                <p>{% translate  "You are resetting your password for your account with email" %} <b>{{ form.user.get_username }}</b>. <br> {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            </div>
            <input type="hidden" value="{{ form.user.get_username }}">

            <div class="form-group mb-3">
              <label for="id_{{form.new_password1.name}}">Password</label>
              {{ form.new_password1 }}
              <div class="error">{{ form.new_password1.errors }}</div>
            </div>

            <div class="form-group mb-3">
              <label for="id_{{form.new_password2.name}}">Confirm Password</label>
              {{ form.new_password2 }}
              <div class="error">{{ form.new_password2.errors }}</div>
            </div>

          </div>
          <div class="modal-footer">
            <div class="form-group buttons right">
             <button class="btn" type="submit">Reset my password</button>
            </div>
          </div>
        </form>
    {% else %}
        <div class="modal-body">
            <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        </div>
    {% endif %}
  </div>
</div>


<script type="text/javascript">
  $(function (){
    $('input[type="password"]').addClass('form-control');
    $('div.error').each(function(){
      if($(this).html().length > 0){
        $(this).prev().addClass('error');
      }
    });

    $('form#password-reset-confirm').submit(function(e){
      e.preventDefault();

      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: $(this).serialize(),
        context: this,
        success: function(data, status) {
            if(data.trim().endsWith('</p>')) {
                $('#password').modal('toggle');
                $('#notification .modal-body p').html(data.trim());
                $('#notification').modal('toggle');
            }
            else{
                $('#password').html(data);
            }
        },
        error: function(){
          displayErrorDialog();
        }
      });
    });

  });
</script>
