{% load i18n %}

<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">Password Reset</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="passwordMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
      </ul>
    </div>
    <form class="form" method="post" id="password_reset" action="{% url 'password_reset' %}">
      {% csrf_token %}
      <div class="modal-body">
        <div class="form-group">
            <p>{% translate 'Forgotten your password? Enter your primary or secondary email address below, and we’ll email instructions for setting a new one.' %}</p>
        </div>
        <div class="form-group">
          <label for="id_{{form.email.name}}">Email</label>
          {{form.email}}
          <div class="error">{{ form.email.errors }}</div>
        </div>
        <input type="hidden" id="recaptchaToken" name="recaptchaToken">
        <div class="form-group" id="spinner">
          <img src="/static/img/page-loader.gif" class="icon small"/>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-group buttons right">
         <button class="btn" type="submit">Reset my password</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function (){

    $('input[type="email"]').addClass('form-control');
    $('div.error').each(function(){
      if($(this).html().length > 0){
        $(this).prev().addClass('error');
      }
    });

    $('form#password_reset').submit(function(e){
      e.preventDefault();

      grecaptcha.enterprise.ready(async () => {
        const token = await grecaptcha.enterprise.execute('{{RECAPTCHA_PUBLIC_KEY}}', {action: 'PASSWORD_RESET'});
        document.getElementById('recaptchaToken').value = token;

        var email = $('input#id_email').val();
        $('input#id_email').val(email.toLowerCase())

        $.ajax({
          type: $(this).attr('method'),
          url: this.action,
          data: $(this).serialize(),
          context: this,
          beforeSend: function(){
            $('#password_reset #spinner').show();
          },
          complete: function(){
            $('#password_reset #spinner').hide();
          },
          success: function(data, status) {
              if(data.trim().endsWith('</p>')) {
                  $('#password').modal('toggle');
                  $('#notification .modal-body p').html(data.trim());
                  $('#notification').modal('toggle');
              }
              else{
                  $('#password').html(data);
              }
          },
          error: function(){
             displayErrorDialog();
          }
        });

      });

    });

  });
</script>



