{% load i18n %}
<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="left">Password Reset</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="passwordMsg" class="msg">
      <ul class="errorlist">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
        {% if invalid %}
					{% url "password_reset_recover" as recovery_url %}
					{% blocktrans %}
						<li class="error">Sorry, this password reset link is invalid. You can still <a href="?next={{recovery_url}}"><u>request a new one</u></a>.
					  </li>
					{% endblocktrans %}
				{% else %}
					{% blocktrans %}
						<li class="default">
							Hi, <strong>{{ username }}</strong>. <br>Please choose your new password.
						</li>
					{% endblocktrans %}
				{% endif %}
      </ul>
    </div>
    {% if not invalid %}
      <form class="form" method="post" id="password_reset"  action="{% url "password_reset_reset" token %}">
        <div class="modal-body">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group mb-3">
              <label for="id_{{field.name}}">{{ field.label|title }}</label>
              {{field}}
              <div class="error">{{ field.errors }}</div>
            </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <div class="form-group button right">
           <input type="submit" value="{% trans 'Set new password' %}" class="btn normal yellow">
          </div>
        </div>
      </form>
    {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('input[type="password"]').addClass('form-control');
    $('div.error').each(function(){
      if($(this).html().length > 0){
        $(this).prev().addClass('error');
      }
    });
    $('form#password_reset').submit(function(e){
      e.preventDefault();

      $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: $(this).serialize(),
        context: this,
        success: function(data, status) {
          if(data.trim().endsWith('password.')) {
            var html = $.parseHTML(data.trim());
            $('#password').modal('toggle');
            $('#notification .modal-body p').html(html[0]['data']);
            $('#notification').modal('toggle');
          }
          else{
            $('#password').html(data);
          }
        },
        error: function(){
          $('#password').modal('toggle');
          $('#notification .modal-body p').html('Your password has been reset successfully. You may now login with your new password.');
          $('#notification').modal('toggle');
        }
      });
    });
    $("a.modal-open").click(function(e){
      //e.preventDefault();
      var url = $(this).data('href');
      var target = $(this).data('bs-target');
      $(target).load(url, function() {
        $(this).show();
      });
    });
  });
</script>
